<section class="ixhua-blue-section flex__column">
  
  <div class="grid-row" style="display: flex; justify-content: center; align-items: center;" >
    	
 		<div class="col-2 col-md-12 col-sm-12" style="display: flex;justify-content: center;">
 			<img src="/assets/ixhua-colors/people/girl-blue.png" alt="Contacto">
 			<a>&nbsp;</a>
 		</div>

 		<div class="col-5 col-md-12 col-sm-12">
 			<p>Si tu empresa está afiliada con nosotros, te <br>
 			proporcionarán un código por alguno de sus canales de <br>
 			comunicación.</p>
 		</div>

 		<div class="col-5 col-md-12 col-sm-12">
 			<p class="ixhua-blue-section__right-text">accede a beneficios ----------- Con tecnología </p>
 		</div>

  

  </div>
</section>

