<div *ngIf="daysToLoan > 0; else calculator">
  <div class="grid-container loan-request-calculator p-2 mb-30px">
    <!-- calculator header -->
    <div class="loan-request-calculator__header">
      <h3 class="mb-0">Hola {{ clientName }},</h3>
    </div>
    <h3 class="mt-0 fw-normal">
      Llevas {{ daysWorked }} día(s) trabajados desde tu nómina anterior,
      te falta(n) {{ daysToLoan }} día(s) más para llegar
      al mínimo de <span class="text-nowrap">{{ minLoan | currency:'symbol':'$' }}</span> por retiro.
    </h3>
    <div class="dialog-wrapper">
      <img src="./assets/img/robot-500.png" alt="Robot Ixhua">
      <span class="dialog">
        Regresa el <br> {{ dateToLoan | date:'dd/MM/yyyy' }}
      </span>
    </div>
  </div>
</div>

<div class="col-12 col-md-12 col-sm-12">
  <mat-card class="custom-message" *ngIf="this.limitReached">
    <p style="font-size: 16px; color:white">
      Llegaste al límite de tu crédito disponible
      <br>
      Realiza el pago de tus adelantos en curso para poder reactivar tu línea.
      <a class="alert-amount-available" routerLink="/home/loans">
        Ver aquí mis adelantos
      </a>
    </p>
  </mat-card>
</div>

<ng-template #calculator>
  <div class="grid-container loan-request-calculator p-2 mb-30px">
    <!-- calculator header -->
    <div class="loan-request-calculator__header">
      <h2 class="fw-normal">¿Cuánto te gustaría solicitar?</h2>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input
          type="text"
          placeholder="$ 0.00"
          [min]="minLoan"
          [step]="1"
          matInput
          [value]="sharedValue | currency:'symbol':'$ '"
          (change)="onInputValueChanges($event.target)"
          style="font-size:30px;">
      </mat-form-field>
      <div class="text-left ml-2">
        <p class="mat-error-custom" *ngIf="sharedValueFormControl?.hasError('min')">
          Lo mínimo a solicitar es {{ minLoan | currency:'symbol':'$ ' }}
        </p>
        <p class="mat-error-custom" *ngIf="sharedValueFormControl?.hasError('max')">
          Tu límite a solicitar es {{ maxLoan | currency:'symbol':'$ ' }}
        </p>
      </div>
    </div>
    <hr class="hr mb-2" />
    <!-- slider material component -->
    <div class="loan-request-calculator__slider">
      <div class="loan-request-calculator__slider-labels">
        <p class="m-0">{{ minLoan | currency:'symbol':'$ ' }}</p>
        <p class="m-0">{{ maxLoan | currency:'symbol':'$ ' }}</p>
      </div>
      <div class="loan-request-calculator__slider-content">
        <h3 class="loan-request-calculator__slider-title-value">Mín.</h3>
        <mat-slider class="custom-slider"
                    [step]="1"
                    tickInterval="1000"
                    [min]="minLoan"
                    [max]="maxLoan"
                    thumbLabel
                    [value]="sharedValue"
                    [displayWith]="formatLabel"
                    (valueChange)="onSliderValueChanges($event)"></mat-slider>
        <h3 class="loan-request-calculator__slider-title-value">Máx.</h3>
      </div>
    </div>

    <h2 [hidden]="loanOptionsHide" class="loan-request-calculator-heading fw-normal mt-0">
      Fecha en la que quisiera pagar el total de mi préstamo:
    </h2>

    <section class="grid-row flex__completely-centered" style="margin-top: 20px;">
      <!-- column option 1-->
      <div class="col-12 col-md-6" *ngFor="let option of loanOptions; let idx = index; trackBy:trackOptions">
        <p [hidden]="loanOptionsHide" class="loan-request-calculator__label-option">Opción {{ idx + 1 }}:</p>
        <!-- fields -->
        <div class="loan-request-calculator__fields">
            <div class="flex__align-items-center">
              <div [hidden]="loanOptionsHide" class="loan-request-calculator__fields-checkbox">
                <mat-radio-group class="radio-button-group-custom"  [(ngModel)]="selectedOption">
                  <mat-radio-button class="example-margin" [value]="idx + 1"></mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="loan-request-calculator__fields-group-checkbox">
                <p class="m-0 fs-14px">Fecha de pago</p>
                <mat-form-field class="w-100 fs-12px" appearance="outline">
                  <input
                    matInput
                    type="text"
                    disabled
                    placeholder="00/00/00"
                    [value]="option?.date | date:'d/MMM/yyyy'">
                </mat-form-field>
              </div>
            </div>

            <ng-template [ngIf]="option?.interest">
              <mat-icon  class="loan-request-calculator__plus-icon" svgIcon="app-add"></mat-icon>
            </ng-template>

            <ng-template [ngIf]="!option?.interest">
              <div style="width:15px"></div>
            </ng-template>

            <div class="loan-request-calculator__fields-lg">
              <p class="m-0 fs-14px">Capítal a pagar</p>
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <input
                  matInput
                  type="text"
                  disabled
                  [value]="sharedValue | currency:'symbol':'$ ' ">
              </mat-form-field>
            </div>

            <ng-template [ngIf]="option?.aperture">
              <mat-icon class="loan-request-calculator__plus-icon" svgIcon="app-add"></mat-icon>

              <div class="loan-request-calculator__fields-lg">
                <p class="m-0 fs-14px">Comisión</p>
                <mat-form-field class="w-100 fs-12px" appearance="outline">
                  <input
                    matInput
                    type="text"
                    disabled
                    [value]="option?.aperture | currency:'symbol':'$ ' ">
                </mat-form-field>
              </div>
            </ng-template>
            <ng-template [ngIf]="option?.interest">
              <mat-icon class="loan-request-calculator__plus-icon" svgIcon="app-add"></mat-icon>

              <div class="loan-request-calculator__fields-lg">
                <p class="m-0 fs-14px">Interés a pagar</p>
                <mat-form-field class="w-100 fs-12px" appearance="outline">
                  <input
                    matInput
                    type="text"
                    disabled
                    [value]="option?.interest | currency:'symbol':'$ '">
                </mat-form-field>
              </div>
            </ng-template>
            <ng-template [ngIf]="option?.aperture || option?.interest">
              <mat-icon class="loan-request-calculator__equals-icon" svgIcon="app-equals"></mat-icon>

              <div class="loan-request-calculator__fields-lg loan-request-calculator__total-fields">
                <p class="m-0 fs-14px ff-Intro-Black">Pago total</p>
                <mat-form-field class="w-100 fs-12px ff-Intro-Black" appearance="outline">
                  <input
                    matInput
                    type="text"
                    disabled
                    [value]="option?.total | currency:'symbol':'$ '">
                </mat-form-field>
              </div>
            </ng-template>
        </div>

        <!-- detail just available on responsive -->
        <div class="loan-request-calculator__detail-xs">
          <h3 class="m-0">Capital a pagar:</h3>
          <p class="m-0 ff-Intro-Book">{{ sharedValue | currency:'symbol':'$ ' }}</p>
          <ng-template [ngIf]="option?.interest">
            <h3 class="m-0">Interés a pagar:</h3>
            <p class="m-0 ff-Intro-Book">{{ option?.interest | currency:'symbol':'$ ' }}</p>
          </ng-template>
          <ng-template [ngIf]="option?.aperture">
            <h3 class="m-0">Comisión:</h3>
            <p class="m-0 ff-Intro-Book">{{ option?.aperture | currency:'symbol':'$ ' }}</p>
          </ng-template>
          <h3 class="m-0 ff-Intro-Black">Pago Total:</h3>
          <p class="m-0 ff-Intro-Black">{{ option?.total | currency:'symbol':'$ ' }}</p>
        </div>

        <!--<div class="loan-request-calculator__fields">
          <form [formGroup]="form_code" style="text-align: center;">
          <mat-radio-group formControlName="have_code">
                  <p class="fs-14px" style="color: gray">¿Tienes un código de activación?</p>
                  <mat-radio-button
                    class="mr-3"
                    [value]="el"
                    *ngFor="let el of ['Si', 'No']">
                    {{ el }}
                  </mat-radio-button>
                </mat-radio-group>
          </form>
        </div>
        <br>
        <br>-->

        <!-- label terms -->
        <div class="loan-request-calculator__label-terms">
          <div>
            <span>
              Tasa Fija Anual Simple: {{ option?.tfa }}%
            </span>
          </div>
          
          <div>
            <span>
              CAT Promedio {{ option?.cat }}% sin IVA
            </span>
          </div>
        </div>
      </div>
    </section>
  <!-- button -->
    <div class="loan-request-main-action">
      <button class="mat-rounded-button"
        mat-flat-button
        color="primary"
        type="button"
        [disabled]="disableNextButton || !loanOptions.length"
        (click)="onSubmit()">
        Siguiente
      </button>
    </div>
  </div>
</ng-template>
