.dialog-wrapper {
  position: relative;
  margin-top: 48px;
  img {
    display: block;
    max-width: 100%;
    max-height: 280px;
    margin: auto;
  }

  .dialog {
    position: absolute;
    display: inline-block;
    top: calc(10% + 0.3rem);
    left: calc(50% - 15px);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    @media (min-width: 760px) {
      & {
        top: 45px;
        left: calc(50%);
        font-size: 22px;
        text-align: center;
      }
    }
  }
}


a.alert-amount-available, a.alert-amount-available:hover, a.alert-amount-available:active, a.alert-amount-available:visited { color: white; }
