<div class="dropdown-date" [formGroup]="form">
  <mat-form-field class="dropdown-date__two-numbers w-100 fs-12px flex-30" appearance="outline">
    <mat-select formControlName="day">
      <mat-option *ngFor="let day of days; trackBy: trackByFn" [value]="day">
        {{day}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="dropdown-date__two-numbers w-100 fs-12px flex-30" appearance="outline">
    <mat-select formControlName="month">
      <mat-option *ngFor="let month of months; trackBy: trackByFn" [value]="month" (click)="daysInMonth()">
        {{month}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- year -->
  <mat-form-field class="dropdown-date__four-numbers w-100 fs-12px flex-40" appearance="outline">
    <mat-select formControlName="year">
      <mat-option *ngFor="let year of years; trackBy: trackByFn" [value]="year" (click)="daysInMonth()">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
