<mat-sidenav-container class="auth" 
  [ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
  (hasBackdrop)="true" 
  (backdropClick)="_checkClickInBack();">

<mat-sidenav-content>
    <!-- header component -->
    <app-header [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)">
    </app-header>

   <div class="auth-content grid-container">
      <hr class="auth-content__start" id="start">
      <h1 class="auth-content__title fs-28px fw-300 fc-dark text-uppercase text-center my-4 mx-auto"><b>RE-ESTABLECE </b>TU CONTRASEÑA</h1>

      <div class="grid-row auth-content__login">
        <mat-card class="auth-content__login-card" style="margin-bottom: 1.5em;margin-right: 26em;margin-left: 26em;">
          <div class="auth-content__login-card-wrapper">
              <h2 class="fs-28px fc-dark ff-Intro-Black m-0 pb-1">
                Re-establecer Contraseña
              </h2>
              <p class="m-0 mb-1 ff-Intro-Book fs-15px">
                Por favor ingresa RFC. Te enviaremos un link con instrucciones para que reestablezcas tu contraseña
              </p>
              <form class="auth-content__login-form flex__column" [formGroup]="form">
                <mat-form-field class="mat-form-field-box mb-2" floatLabel="never">
                  <input placeholder="Ingresar RFC" required matInput
                    formControlName="rfc"
                    [pattern]="'^[A-Za-z]{4}[ |\\-]{0,1}[0-9]{6}[ |\\-]{0,1}[0-9A-Za-z]{3}$'"
                    class="text-uppercase">
                </mat-form-field>
                <p class="mat-error-custom mb-2"
                  [innerHTML]="rfcErrorMessage"
                  [style.opacity]="form.controls.rfc?.touched ? 1 : 0"></p>
                <div class="auth-content__login-form-action">
                  <a
                    class="cursor-pointer text-center"
                    routerLink="/auth/login">
                    ¿Recordaste tu contraseña? Iniciar sesión
                  </a>
                  <button class="auth-content__login-form-button mat-rounded-button mt-2"
                          mat-flat-button
                          color="primary"
                          [disabled]="form.invalid && form.touched"
                          (click)="onRfcConfirmButton()">
                    Re-establecer contraseña
                  </button>
                </div>
              </form>
          </div>
        </mat-card>
      </div>
  </div>
  
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>