<mat-sidenav-container class="auth" 
  [ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
  (hasBackdrop)="true" 
  (backdropClick)="_checkClickInBack();">

  <mat-sidenav-content>
    <!-- header component -->
    <app-header [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)">
   </app-header>

    <!--auth content -->
    <div class="auth-content grid-container">
      <hr class="auth-content__start" id="start">
      <h1 class="auth-content__title fs-28px fw-300 fc-dark text-uppercase text-center my-4 mx-auto"><b>Documentos</b></h1>

      <!-- auth login form -->
      <div class="grid-row auth-content__login">
        <mat-card class="auth-content__login-card" style="margin-bottom: 1.5em;margin-right: 26em;margin-left: 27.5em;">   
          <div class="auth-content__login-card-wrapper" style="width: 100%">
              <h2 class="fs-24px fc-dark ff-Intro-Black m-0 pb-1">
                Últimos 3 recibos de nómina
              </h2>
              <p class="m-0 mb-1 ff-Intro-Book fs-15px">
                (Tamaño máximo de archivo 20MB .jpg, .png o .pdf)
              </p>
              <form class="auth-content__login-form flex__column" [formGroup]="form">
                

                <div>
                  <p class="m-0 fs-14px">Último recibo de nómina:</p>
                  <app-upload-file (fileChange)="onFileChange($event, 'paysheet_one')">
                  </app-upload-file>
                  <ng-container *ngIf="filesForm.get('paysheet_one').touched">
                    <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_one').hasError('required')">Este archivo es obligatorio.</mat-error>
                    <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_one').hasError('invalidFileType')">
                      {{invalidFileMessage}}
                    </mat-error>
                  </ng-container>
                </div>
                
                <br>
                <div>
                  <p class="m-0 fs-14px">Penúltimo recibo de nómina:</p>
                  <app-upload-file (fileChange)="onFileChange($event, 'paysheet_two')">
                  </app-upload-file>
                  <ng-container *ngIf="filesForm.get('paysheet_two').touched">
                    <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_two').hasError('required')">Este archivo es obligatorio.</mat-error>
                    <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_two').hasError('invalidFileType')">
                      {{invalidFileMessage}}
                    </mat-error>
                  </ng-container>
                </div>
                <br>
                
                <div>
                  <p class="m-0 fs-14px">Antepenúltimo recibo de nómina:</p>
                  <app-upload-file (fileChange)="onFileChange($event, 'paysheet_three')">
                  </app-upload-file>
                  <ng-container *ngIf="filesForm.get('paysheet_three').touched">
                    <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_three').hasError('required')">Este archivo es obligatorio.</mat-error>
                    <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_three').hasError('invalidFileType')">
                      {{invalidFileMessage}}
                    </mat-error>
                  </ng-container>
                </div>
                
                <br>
                <h2 class="fs-24px fc-dark ff-Intro-Black m-0 pb-1">
                  Selfie con tu identificación
                </h2>

                <div>
                  <p class="m-0 fs-12px">Que no se vea borrosa, se vean legibles los datos de tu identificación y que este vigente.</p>
                  <app-upload-file (fileChange)="onFileChange($event, 'selfie')">
                  </app-upload-file>
                  <ng-container *ngIf="filesForm.get('selfie').touched">
                    <mat-error class="fs-12px" *ngIf="filesForm.get('selfie').hasError('required')">Este archivo es obligatorio.</mat-error>
                    <mat-error class="fs-12px" *ngIf="filesForm.get('selfie').hasError('invalidFileType')">
                      {{invalidFileMessage}}
                    </mat-error>
                  </ng-container>
                </div>

                

                <div class="auth-content__login-form-action">
                  <p class="mat-error-custom mb-2">{{general_error}}</p>
                  <p *ngIf="in_progress">{{generalMessage}}</p>
                  <button
                    class="auth-content__login-form-button mat-rounded-button mt-2"
                    mat-flat-button
                    color="primary"
                    [disabled]="form.invalid && form.touched || in_progress"
                    (click)="activateConfirmButton()">
                    Siguiente
                  </button>
                </div>  
              </form>
          </div>
        </mat-card>   
        
      </div>
    </div>

    <!-- auth footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
