<header class="auth-header">
  <div class="auth-header__wrapper flex">
    
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__logo"></figure>
    </a>

   
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__icon"></figure>
    </a>
   
    <p class="register-form-header-title">Registro de usuarios</p>
    

  </div>
</header>


<section style="height: 100vh;">
  <div id="start" class="flex__column register-form-initial">
      <div class="grid-row" style="display: flex; justify-content: center; align-items: center;text-align: center;">
        <div class="col-2 col-md-4 col-sm-12 elipse-steps">
          <img class="elipse-svg" src="/assets/ixhua-colors/icons/Ellipse-green-check.svg">
          <p>Datos personales</p>
        </div>
        <div class="col-2 col-md-4 col-sm-12 elipse-steps">
          <img class="elipse-svg" src="/assets/ixhua-colors/icons/Ellipse-green.svg">
          <p style="opacity: 0.64;">Valida tu teléfono</p>
        </div>
        <div class="col-2 col-md-4 col-sm-12 elipse-steps">
          <img class="elipse-svg" src="/assets/ixhua-colors/icons/Ellipse-gray.svg">
          <p style="opacity: 0.64;">Crea tu contraseña</p>
        </div>
      </div>
  </div>

  <div class="flex__column register-form-info-section">
    <div class="grid-row" style="display: flex; justify-content: center;">
      
      <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
        <p *ngIf="receptor" class="register-form-header-text">
         Te hemos enviado un mensaje de texto a tu celular: {{receptor}} <br>
         con un pin de registro. Ingrésalo a continuación
        </p>
        <p *ngIf="receptor_aux">También lo hemos enviado a tu correo {{receptor_aux}} </p>

        <p *ngIf="!receptor" class="register-form-header-text">
         Te hemos enviado un mensaje de texto a tu celular con un pin de registro. Ingrésalo a continuación
        </p>
      </div>

      <div class="col-5 col-md-6 col-sm-12">
        <form [formGroup]="form">
          <mat-form-field appearance="outline" style="min-width: 100%">
            <mat-label>PIN</mat-label>
            <input class="input-register-section" pattern="^[0-9]{6}$" placeholder="Ingresa el PIN que te llegó a tu celular" required matInput formControlName="pin">
          </mat-form-field>

          <p class="mat-error-custom mb-2">{{general_error}}</p>
          <p class="mat-error-custom mb-2" style="color:green">{{resend_message}}</p>
        </form>

        <div>
          <p>¿No te llegó el PIN?</p>
          <a class="cursor-pointer text-center mt-2"
            (click)="resendPin()" style="text-decoration-line: underline; color: #26212F;">
            Reenviar PIN de activación
          </a>
        </div>


        <br>
        <div>
          <button
            class="new-primary-button"
            mat-flat-button
            color="primary"
            [disabled]="form.invalid && form.touched"
            (click)="activateConfirmButton()">
              Siguiente paso
          </button>
        </div>

      </div>
      

      <div class="col-3 col-md-6 col-sm-12" class="tip-image-1">
        <img src="/assets/ixhua-colors/images/tip-image-2.svg">
      </div>

    </div>
  </div>


</section>




<footer class="register-form-footer flex__column">
  <div class="grid-row">
    <div class="grid-row col-6 col-md-6 col-sm-12">
     <p class="alignleft register-form-footer-left-text"> <img style="margin: 10px 10px 10px 10px" src="/assets/ixhua-colors/logos/ixhua-gray-icon.svg"> Bienvenido a la plataforma</p>
    </div>

    <div class="col-6 col-md-6 col-sm-12">
      <p class="alignright">
        <span class="register-form-footer-right-text">¿Necesitas ayuda?</span>
        <br>
        <span style="margin: 1px 1px 1px 1px">
          <img src="/assets/ixhua-colors/icons/Whatsapp-blue.svg">
        </span>  
        <span class="register-form-footer-phone-text">333 406 5657</span>
      </p>
    </div>

  </div>
</footer>





