<section>
	<div class="slideshow-container">
  		<!-- Full-width images with number and caption text -->
  		<div class="mySlides fade">
    		<img src="/assets/ixhua-colors/banners/banner1.png" style="width:100%">
  		</div>

		<div class="mySlides fade">
		    <img src="/assets/ixhua-colors/banners/banner1.png" style="width:100%">
		 </div>

	  	<div class="mySlides fade">
	    	<img src="/assets/ixhua-colors/banners/banner1.png" style="width:100%">
	  	</div>

		<!-- Next and previous buttons -->
		<a class="prev" (click)="plusSlides(-1)">&#10094;</a>
		<a class="next" (click)="plusSlides(1)">&#10095;</a>
	</div>
	<br>
</section>