<footer class="ixhua-green-footer flex__column">
  
  <section style="display: flex; justify-content: center;">

 	<div class="grid-row col-10 col-md-12 col-sm-12 green-box">
    	
 		<div class="grid-row col-7 col-md-12 col-sm-12">
 			<div class="col-12 col-md-12 col-sm-12">
	 			<p class="content-title">¿Tienes más preguntas por resolver?</p>
	 			<p> 
					Con gusto te contestamos todo lo que necesitas saber. <br>
					Visita nuestra sección de ayuda o comunícate con nosotros.
				</p>
			</div>

			<div class="col-6 col-md-12 col-sm-12">
				<button mat-button class="new-alternate-button-2" routerLink="/faqs" (click)="scrollTo(0,0)">Sección de ayuda</button>
			</div>

			<div class="col-6 col-md-12 col-sm-12" style="align-items: center!important;">
				<a class="contact-phone-number" (click)="gtagEventWhatsapp()" href="https://wa.me/5213334065657?text=Hola%20María.%20¡Necesito%20tu%20ayuda!%20" alt="Whatsapp"><img src="/assets/ixhua-colors/icons/Whatsapp-green.svg" width="20" height="20" alt="3334065657"/>&nbsp;333 0722 026</a>
			</div>

 		</div>
 		<div class="whatsapp-image-girl-container col-4 col-md-12 col-sm-12" style="display: flex;justify-content: center;align-items: center;">
 			<img height="170px" width="170px" src="/assets/ixhua-colors/people/girl-green.png" alt="Contacto">
 		</div>

    </div>

  </section>
</footer>






