<div class="auth-content__login-card-wrapper">
  <h2 class="fs-28px fc-dark ff-Intro-Black m-0 pb-1">
    Activa tu cuenta
  </h2>
  <p class="m-0 mb-1 ff-Intro-Book fs-15px">
    Para iniciar una solicitud, necesitamos validar tus datos.
  </p>
  <form class="auth-content__login-form flex__column" [formGroup]="form">

    <mat-form-field class="mat-form-field-box mb-2" floatLabel="never">
      <input placeholder="Ingresa tu RFC" required matInput formControlName="rfc" [pattern]="'^[A-Za-z\x26]{3,4}[0-9]{6}[0-9A-Za-z]{3}$'" [maxlength]="13"
       class="text-uppercase">
    </mat-form-field>
    <p class="mat-error-custom mb-2"
        [innerHTML]="rfcErrorMessage"
        [style.opacity]="form.controls.rfc?.touched ? 1 : 0">
    </p>

    <mat-form-field class="mat-form-field-box mb-2" floatLabel="never">
      <input placeholder="Código de activación" required matInput [maxlength]="10" formControlName="code">
    </mat-form-field>
    <p class="mat-error-custom mb-2"
        [innerHTML]="codeErrorMessage"
        [style.opacity]="form.controls.code?.touched ? 1 : 0">
    </p>

      <div class="flex__column">
        <mat-checkbox class="mat-checkbox-box mw-360px"
          required
          color="primary"
          formControlName="checkbox">
          Acepto los <a routerLink="/tyc" target="_blank">términos y condiciones de Ixhua.</a>
        </mat-checkbox>
        <div class="my-1" [style.visibility]="form.controls.checkbox?.touched ? 'visible' : 'hidden'">
          <p class="mat-error-custom"
            [style.opacity]="form.controls.checkbox?.touched ? 1 : 0"
            [ngClass]="form.controls.checkbox?.errors?.required ? 'show' : 'hidden'">
            Este campo es requerido.
          </p>
        </div>
      </div>
      <div class="flex__column">
        <!--<mat-checkbox class="mat-checkbox-box mw-360px"
          required
          color="primary"
          formControlName="checkboxTwo">
          Estoy de acuerdo en que me contacten vía Email para fines de registro.
        </mat-checkbox>
        <div class="my-1" [style.visibility]="form.controls.checkboxTwo?.touched ? 'visible' : 'hidden'">
          <p class="mat-error-custom"
            [style.opacity]="form.controls.checkboxTwo?.touched ? 1 : 0"
            [ngClass]="form.controls.checkboxTwo?.errors?.required ? 'show' : 'hidden'">
            Este campo es requerido.
          </p>
        </div> 
      </div>
      <div class="auth-content__login-form-action" style="margin-top:3.4em;">
          <a
            class="cursor-pointer text-center mt-2"
            routerLink="../auth/activation-pin">
            ¿Ya tienes tu PIN de activación?
          </a>-->
        <button class="auth-content__login-form-button mat-rounded-button mt-2"
              mat-flat-button
              color="primary"
              [disabled]="form.invalid && form.controls.checkbox?.touched"
              (click)="onRfcConfirmButton()">
            Comenzar
        </button>
      </div>
  </form>
</div>
