.dashboard-title{
	font-family: Open Sans,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0.1px;
	color: #26212F;
	opacity: 0.64;
}

.dashboard-subtitle{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: #26212F;
}

.dashboard-bold-text{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #26212F;
}

.dashboard-opacity-text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #26212F;
	opacity: 0.64;
}

.dashboard-card{
	border: 1px solid #E5E1E6;
	box-shadow: none!important;
}

.dashboard-card-news{
	background: rgba(76, 189, 170, 0.5);
	border: 2px solid #E5E1E6;
	box-shadow: none!important;
}

.dashboard-card-even{
	background: rgba(146, 200, 204, 0.5);
	border: 2px solid #E5E1E6;
	box-shadow: none!important;
}

.dashboard-card-odd{
	background: rgba(174, 178, 180, 0.432);
	border: 2px solid #E5E1E6;
	box-shadow: none!important;
}


.dashboard-footer{
  background: rgba(229,225,230,.2);
  font-family: 'Open Sans', sans-serif;
  padding-left: 50px;
  padding-right: 50px
}



.dashboard-blue-text{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	color: #154ACE;
}

.dashboard-normal-text{
	font-family: Open Sans,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #26212F;
}


