
.dashboard-totals-available-loan-title{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 29px;
	color: #26212F;
}

.dashboard-totals-available-loan{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #15CF95;
}

.dashboard-totals-active-loan-title{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 29px;
	color: #26212F;
}

.dashboard-totals-active-loan{
	font-family: Red Hat Display;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #26212F;
}