<footer class="dashboard-footer flex__column">
  <div class="grid-row">
    <div class="grid-row col-8 col-md-6 col-sm-12">
      <div class="col-4 col-md-12 col-sm-12" style="text-align: center;">
        <p class="cursor-default">
          <a style="text-decoration: none!important;color: #26212F;"  target="_blank" href="/privacy">Aviso de privacidad</a>
        </p>
      </div>
       <div class="col-4 col-md-12 col-sm-12" style="text-align: center;">
         <p class="cursor-default">
          <a style="text-decoration: none!important;color: #26212F;" target="_blank" href="/tyc">Términos y condiciones</a>
         </p>
      </div>
       <div class="col-4 col-md-12 col-sm-12" style="text-align: center;">
        <p class="cursor-default">
          <a style="text-decoration: none!important;color: #26212F;" target="_blank" href="/arco">Derechos ARCO</a>
        </p>
      </div>
    </div>

    <div class="col-4 col-md-6 col-sm-12">
      <p class="alignright">
        <span class="register-form-footer-right-text">¿Necesitas ayuda?</span> <br>
        <span style="margin: 1px 1px 1px 1px">
          <img src="/assets/ixhua-colors/icons/Whatsapp-blue.svg">
        </span>  
        <span class="register-form-footer-phone-text"> 333 406 5657 </span>
      </p>
    </div>

  </div>
</footer>