<section class="flex__column" style="padding-left: 20px; padding-right: 20px;min-height: 100vh;">
  <div class="grid-row" style="display: flex;">
    <div class="col-12 col-md-12 col-sm-12">
      <p>
        <span class="dashboard-title">Inicio > Ayuda </span> <br>
        <span class="dashboard-subtitle">Seccion de ayuda</span>
      </p>
    </div>

    <div class="col-12 col-md-12 col-sm-12">
      <mat-tab-group>
        <mat-tab label="Generales"> 
          <div>
            <p class="dashboard-blue-text">
              ¿Cómo funcionan los adelantos en Ixhua?
            </p>
            <span class="dashboard-normal-text">
              Mediante nuestra plataforma te otorgamos adelantos de una parte de tu nómina sin intereses. 
              <br> <br>

              El primer adelanto es de máximo $1,000 pesos y por cada pago puntual, tu línea de crédito puede aumentar $200 pesos. La cantidad máxima que se puede adelantar es lo correspondiente al 25% de tu sueldo neto mensual. <br> <br>

              El costo por cada adelanto es de $49 + IVA ¡fijos! Independientemente de la cantidad solicitada. Para acceder a tu adelanto te pedimos los siguientes requisitos indispensables: <br>
              <ul>
                <li>
                  Si te pagan semanalmente, tener un ingreso mínimo de $4,000 pesos mensuales libres o $2,000 pesos si te pagan quincenal
                </li>
                <li>
                  Que la empresa donde trabajas te pague por medio de transferencia bancaria y te emita recibos de nómina.
                </li>
                <li>
                  Si tu empresa no tiene convenio con nosotros, debes tener mínimo 6 meses de antigüedad en tu empleo actual.
                </li>
              </ul>

              En caso de cumplirlos, el primer paso es registrarte aquí en ixhua.mx para activar tu cuenta y a continuación podrás hacer tu solicitud. <br><br>

              Una vez realizada tu solicitud entra a una etapa de revisión, de la cual obtendremos una respuesta en las siguientes horas: <br>

              <ul>
                <li>
                  Si es <b>"APROBADA"</b> recibirás el depósito de tu adelanto en las siguientes horas.
                </li>
                <li>
                  Si es <b>"RECHAZADA"</b> debes corregir lo que se te pide y una vez corregido, realizar una nueva solicitud.
              </li>
              </ul>
                El pago de tu adelanto se hace automático, ya que lo cargamos a tu cuenta el día que recibes tu próximo pago de tu nómina por la cantidad total adelantada más los $56.84 pesos de comisión. <br> <br>

                ¡Que esperas, solicita ya tu adelanto en ixhua.mx!
              </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cuáles son los requisitos indispensables para ser candidato al adelanto?
            </p>
            <span class="dashboard-normal-text">
              <ul>
                <li>
                  Si te pagan semanalmente, tener un ingreso mínimo de $4,000 pesos mensuales libres o $2,000 pesos si tu pago es quincenal.
                </li>
                <li>
                  Que la empresa donde trabajas te pague por medio de transferencia bancaria y te emita recibos de nómina.
                </li>
                <li>
                  Si tu empresa no tiene convenio con nosotros, debes tener mínimo 6 meses de antigüedad en tu empleo actual.
                </li>
              </ul>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Puedo pedir mi adelanto si la empresa en donde trabajo no tiene convenio con Ixhua?
            </p>
            <span class="dashboard-normal-text">
              Sí, Ixhua es accesible para todos, siempre y cuando cumplas con los requisitos indispensables.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Qué es el CAT y la Tasa Anual Simple?
            </p>
            <span class="dashboard-normal-text">
              El CAT es una fórmula brindada por el Banco de México, así como la Tasa Anual Simple. Son datos utilizados generalmente para créditos que suponen que el cliente dispondrá de préstamos a plazos mayores de 1 año. <br><br>
              De acuerdo con los lineamientos del Banco de México y nuestra política de transparencia, en el simulador de cada préstamo se muestran los datos del CAT y la tasa anual simple. El CAT depende del plazo seleccionado por el cliente, así como de la tasa y comisión de cada préstamo.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Mi información personal está segura en Ixhua?
            </p>
            <span class="dashboard-normal-text">
              Lo más vital para nosotros es preocuparnos por resguardar la privacidad de nuestros clientes, por lo que te aseguramos que nuestro sitio cumple con las normas más exigentes de seguridad <br><br>
              Todos los datos brindados serán utilizados únicamente para los fines establecidos en nuestro <a target="_blank" href="/privacy">aviso de privacidad</a>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿En qué horario y que días puedo solicitar un préstamo?
            </p>
            <span class="dashboard-normal-text">
              Puedes solicitar tus préstamos las 24hrs, los 7 días de la semana.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿En cuánto tiempo tendré mi adelanto?
            </p>
            <span class="dashboard-normal-text">
              El plazo máximo de respuesta es de dos días hábiles. 
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cuánto dinero puedo solicitar?
            </p>
            <span class="dashboard-normal-text">
              El primer adelanto es por máximo $1,000 pesos. Tu línea de crédito puede aumentar $200 pesos por cada pago puntual y el máximo que es posible adelantar es lo correspondiente al 25% de tu sueldo neto mensual. 
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Puedo solicitar más de un adelanto a la vez?
            </p>
            <span class="dashboard-normal-text">
              Sí, siempre y cuando no rebases el límite de tu crédito.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Puedo hacer mi solicitud sin tener recibos de nómina?
            </p>
            <span class="dashboard-normal-text">
              No, lo siento, es un requisito indispensable para ser candidato al adelanto.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cómo activo mi cuenta?
            </p>
            <span class="dashboard-normal-text">
             Ingresa a <a target="_blank" href="/www.ixhua.mx">www.ixhua.mx</a> e introduce los datos que se te piden. Aquí puedes ver los pasos para <a target="_blank" href="/auth">activar tu cuenta</a>. Una vez activada tu cuenta podrás solicitar tu adelanto.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Qué pasos debo seguir para solicitar mi adelanto?
            </p>
            <span class="dashboard-normal-text">
             Aquí puedes ver los pasos a seguir para realizar la solicitud de tu adelanto.
            </span>
          </div>
        </mat-tab>
        
        <mat-tab label="Dias y horarios de atención"> 
           
          <div>
            <p class="dashboard-blue-text">
              ¿Quién es María?
            </p>
            <span class="dashboard-normal-text">
             ¡Yo soy María! quien se encarga de atenderte, resolver tus dudas y te ayuda a resolver los problemas que puedan surgir
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cuál es el horario de atención al cliente?
            </p>
            <span class="dashboard-normal-text">
              Puedo atenderte en los siguientes horarios: <br>
              Lunes a viernes de 9am a 6pm, <br>
              Sábados y domingos de 9am a 2pm. <br>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Por cuáles medios puedo recibir asistencia?
            </p>
            <span class="dashboard-normal-text">
             Puedo auxiliarte por WhatsApp <a href="https://wa.me/5213334065657?text=Hola%20María.%20¡Necesito%20tu%20ayuda!%20"> Contacto </a> o por correo electrónico contacto@ixhua.mx 
            </span>
          </div>
        </mat-tab>
        
        <mat-tab label="Información detallada de cada documento"> 
          <div>
            <p class="dashboard-blue-text">
              ID por ambos lados
            </p>
            <span class="dashboard-normal-text">
             Foto de tu <b> INE </b> o <b>IFE</b> por ambos lados, o foto de tu pasaporte.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              Estado de cuenta
            </p>
            <span class="dashboard-normal-text">
              Estado de la cuenta donde recibes tu nómina actualizado, es decir, que no tenga más de 60 días de antigüedad. <br> <br>
              Este documento tendrás que reemplazarlo cuando ya no esté vigente (cuando tenga más de 60 días de antigüedad) Y deben venir todas las hojas. <br><br>
              En caso de tener varios archivos o fotos te sugiero escribir en tu buscador <b> "Unir pdf 100% gratis"</b> y dar clic en las primeras opciones. Estas páginas te permitirán convertir tus archivos seleccionados en uno solo.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              Comprobante de domicilio
            </p>
            <span class="dashboard-normal-text">
              <b>Comprobante de algún servicio</b> como luz, agua, cable, internet, estado de cuenta diferente al de tu nómina, etc. <br> <br>
              El nombre debe coincidir con el tuyo o en su caso debe ser de un familiar directo y coincidir con la dirección que capturaste en el formulario. Si rentas, lo mejor es subir un comprobante de algún servicio a tu nombre, de lo contrario necesitamos la INE del titular del servicio por ambos lados. <br> <br>
              El comprobante no debe tener una antigüedad mayor a 90 días y tendrá que actualizarse en la plataforma cuando ya esté vencido para la autorización del adelanto.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              Nóminas
            </p>
            <span class="dashboard-normal-text">
              Las nóminas <b>deben ser las últimas tres</b>, es decir, de los tres últimos pagos que te hicieron en tu trabajo, sin excepción. <br><br>
              La foto debe ser clara y deben actualizarse cada que realices una solicitud.(Reemplazar la nómina más vieja por la más nueva, para que así queden las últimas tres)
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              Selfie
            </p>
            <span class="dashboard-normal-text">
             <b>Foto de tu rostro con tu INE (o pasaporte) al lado de tu cara o abajo</b>, sin taparla y que se vea clara.
            </span>
          </div> 
        </mat-tab>
        
        <mat-tab label="Solicitud">
          <div>
            <p class="dashboard-blue-text">
              ¿Dónde veo el estatus de mi solicitud?
            </p>
            <span class="dashboard-normal-text">
              Para conocer el estatus de tu solicitud inicia tu sesión y ve a la sección “historial”.
              <ul>
                <li>
                  <b>"EN TRÁMITE"</b> significa que tu solicitud está en revisión en el departamento de análisis.
                </li>
                <li>
                  <b>"APROBADO"</b> significa que tu adelanto ya está autorizado y se te depositará a tu cuenta en las próximas horas.
                </li>
                <li>
                  <b>"RECHAZADO"</b> significa que tu solicitud se rechazó, pero los errores pueden ser corregidos y hacer una nueva.
                  Si la causa de rechazo incluye <b>"NO PODEMOS ATENDERTE"</b> significa que no puedes acceder al adelanto porque nuestro análisis paramétrico arrojó una calificación que determina un rechazo definitivo.
                </li>
              </ul>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cuánto tiempo tarda en revisión mi solicitud?
            </p>
            <span class="dashboard-normal-text">
              No hay un tiempo específico, pero en las próximas horas debes tener noticias de tu solicitud o a más tardar al día siguiente.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cuándo recibiré el depósito de mi adelanto?
            </p>
            <span class="dashboard-normal-text">
              <ul>
                <li>
                  Si tu solicitud quedó aprobada antes de la 1pm, tu depósito quedará al rededor de las 2pm.
                </li>
                <li>
                  Si fue aprobada antes de las 6pm, tu depósito quedará alrededor de las 7pm.
                </li>
                <li>
                  Y si quedó aprobada después de las 7pm lo estarás recibiendo a las 2pm del día siguiente.
                </li>
              </ul>
              <p>
                *En clientes nuevos, antes de hacer el depósito, se hace una validación de cuenta, por lo tanto, el dinero quedaría en la cuenta hasta la próxima ronda de dispersión.
              </p>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cuándo puedo hacer una nueva solicitud?
            </p>
            <span class="dashboard-normal-text">
              En cuanto el pago de tu adelanto quede registrado podrás hacer una nueva. <br>
              Si se te hizo el cargo automático, la actualización de tu estatus quedará hasta el próximo día hábil, antes de las 2pm. <br>
              Si hiciste pago adelantado quedará en las siguientes horas, siempre y cuando estemos en horario laboral.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Qué vigencias tienen los documentos, fotos y referencias?
            </p>
            <span class="dashboard-normal-text">
              <ul>
                <li>
                  <b>Estado de cuenta:</b> 60 días
                </li>
                <li>
                  <b>Comprobante de domicilio:</b> 90 días
                </li>
                <li>
                  <b>Referencias:</b> 60 días
                </li>
                <li>
                  <b>Nóminas:</b> Deben actualizarse constantemente para siempre tener cargadas las últimas 3
                </li>
                <li>
                  <b>INE:</b> Mientras esté válida en el INE
                </li>
                <li>
                  <b>Selfie:</b> Mientras la INE sea válida
                </li>
              </ul>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Qué pasa si mi referencia no contesta?
            </p>
            <span class="dashboard-normal-text">
              Se da un tiempo de 12 horas para tener la respuesta de la encuesta enviada, si no la recibimos se rechazará tu solicitud. De esta manera podrás cambiar tus referencias cuando hagas la nueva solicitud.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Puedo cambiar mis referencias?
            </p>
            <span class="dashboard-normal-text">
              Sí, haz una nueva solicitud y cambia la referencia que deseas modificar. Si ya tienes solicitud en curso puedes contactarme para cambiarla por WhatsApp. <a href="https://wa.me/5213334065657"> Contacto </a>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Puedo solicitar mi adelanto por una cantidad mayor?
            </p>
            <span class="dashboard-normal-text">
              No, la cantidad inicial es de $1,000 (mil pesos), sin excepciones. 
              Aunque después de cada pago puntual puedes solicitar tu aumento de $200 pesos directamente con servicio al cliente, siempre y cuando la cantidad a solicitar no pase del 25% de tu sueldo neto mensual. <a href="https://wa.me/5213334065657"> Contacto </a>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¡Mis referencias no tienen Whatsapp!
            </p>
            <span class="dashboard-normal-text">
              En dado caso que así sea, debes notificarme para hacerles una llamada telefónica o puedes contactarme para cambiar de referencia. <a href="https://wa.me/5213334065657"> Contacto </a>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cómo puedo conseguir mi CLABE (clave interbancaria)?
            </p>
            <span class="dashboard-normal-text">
              Este dato te lo proporciona tu banco, son 18 dígitos y también viene en tu estado de cuenta. Puedes consultarlo en tu aplicación o mediante el portal de internet de tu banco.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
             ¿Cómo consigo mi estado de cuenta?
            </p>
            <span class="dashboard-normal-text">
              Este documento te lo otorga el banco. Puedes descargarlo por internet, solicitarlo mediante tu aplicación o por teléfono directamente a tu banco. <br> <br>

              También puedes tomarle fotos a tu estado de cuenta impreso y juntarlas para cargarlas en un solo archivo. <br><br>

              Hay sitios web que nos ayudan a unir archivos y fotos. Te sugiero escribir en tu buscador  <b>"Unir pdf 100% gratis"</b> y dar clic en las primeras opciones.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Qué puedo usar como comprobante de domicilio?
            </p>
            <span class="dashboard-normal-text">
              Tus recibos de luz, cable, internet, agua o un estado de cuenta de una tarjeta diferente a donde recibes tu nómina. <br><br>

              Ten en cuenta que debe estar a tu nombre o de un familiar directo. De lo contrario necesitamos la INE del titular del servicio por ambos lados o foto del contrato de arrendamiento.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cómo consigo mis nóminas?
            </p>
            <span class="dashboard-normal-text">
              Las nóminas son los recibos de pago que te da la empresa donde trabajas y tienes que subir las últimas 3, siempre. Son un requisito indispensable si tu empresa no tiene convenio con nosotros. <br><br>

              Si haces una nueva solicitud, debes reemplazar la nómina de mayor antigüedad por la más nueva, es decir, deben estar actualizadas. De lo contrario, no serán válidas. <br><br>
              Las puedes solicitar a tu empresa, en dado caso de que no las tengas.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cómo junto mis fotos o archivos?
            </p>
            <span class="dashboard-normal-text">
              Hay sitios web que nos ayudan a unir archivos y fotos. Te sugiero escribir en tu buscador <b>"Unir pdf 100% gratis"</b> y dar clic en las primeras opciones. Estas páginas te permitirán convertir tus archivos seleccionados en uno solo.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cuál es el procedimiento para hacer mi segunda solicitud?
            </p>
            <span class="dashboard-normal-text">
              El proceso para tu segunda solicitud será más fluido que en la primera, ya que tu información queda guardada y tus documentos también. Solo asegúrate de tener actualizados tus documentos, según la vigencia que tienen.
              <br><br>
              Por ejemplo:
              <br><br>
              Debes reemplazar la nómina más vieja por la más nueva, para que así queden las últimas 3 que recibiste. <br><br>
              Así como también revisar que tus documentos estén vigentes (Estado de cuenta, no más de 60 días de antigüedad y comprobante de domicilio, no más de 90 días de antigüedad).<br><br>
              Ya no contactaremos a tus referencias, ya que tienen una vigencia de 60 días.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cómo puede aumentar mi línea de crédito?
            </p>
            <span class="dashboard-normal-text">
              Por cada pago puntual puedes solicitar un aumento de $200 pesos en tu línea de crédito, hasta máximo el 25% de tu sueldo mensual. Solicita tu aumento en Servicio al cliente. <a href="https://wa.me/5213334065657"> Contacto </a>
            </span>
          </div>

        </mat-tab>
        
        <mat-tab label="Información de pago"> 
          <div>
            <p class="dashboard-blue-text">
              ¿Cómo pago mi adelanto?
            </p>
            <span class="dashboard-normal-text">
              El cargo de tu adelanto se hace automáticamente a tu cuenta donde te depositamos en el transcurso del día de tu fecha de pago, generalmente por la tarde/noche. <br><br>
              Te pedimos estar atento a contar con el recurso disponible en la fecha de corte para no incurrir en intereses moratorios y sobre todo para que tu pago sea puntual y tus condiciones de tus futuros créditos mejoren. <br><br>
              También puedes hacer tu pago adelantado a la siguiente cuenta de banco y mandarnos tu comprobante por WhatsApp <a href="https://wa.me/5213334065657?text=Hola%20María.%20¡Necesito%20tu%20ayuda!%20">Contacto </a> por correo electrónico a contacto@ixhua.mx <br><br>
              <ul>
                <li><b>Institución bancaria: BBVA</b></li>
                <li><b>Cuenta: 0113675203</b></li>
                <li><b>Cuenta Clabe: 012320001136752038</b></li>
                <li><b>Titular: IXHUA TECH, S.A.P.I. DE C.V.</b></li>
                <li><b>Referencia: (No. de solicitud)</b></li>
              </ul>
              O bien, podemos enviarte un link para realizar tu pago en tiendas de autoservicio autorizadas. <a href="https://wa.me/5213334065657">Contacto </a>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cuándo es mi fecha de pago?
            </p>
            <span class="dashboard-normal-text">
              Cuando haces tu solicitud, la plataforma genera tu fecha de pago. La fecha se establece en tu contrato y generalmente es el día en que recibes el pago de tu nómina o uno después (dependiendo del mes y los fines de semana que se atraviesan). <br><br>
              Puedes revisar la fecha de pago de tu solicitud iniciando sesión y dando clic en “historial”.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Puedo hacer el pago anticipado de mi adelanto?
            </p>
            <span class="dashboard-normal-text">
              Claro, haz tu depósito o transferencia y mándame tu comprobante <a href="https://wa.me/5213334065657">Contacto </a> o envíalo al correo electrónico contacto@ixhua.mx
              <ul>
                <li><b>Institución bancaria: BBVA</b></li>
                <li><b>Cuenta: 0113675203</b></li>
                <li><b>Cuenta Clabe: 012320001136752038</b></li>
                <li><b>Titular: IXHUA TECH, S.A.P.I. DE C.V.</b></li>
                <li><b> Referencia: (No. de solicitud)</b></li>
              </ul>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿A qué hora se hace el cargo automático de mi adelanto?
            </p>
            <span class="dashboard-normal-text">
              El cargo lo hace el banco en el transcurso de tu día de pago, generalmente  por la tarde/noche. <br><br>
              Al día siguiente (hábil) el banco nos notifica si tu pago fue exitoso y antes de las 2pm debe estar actualizado tu estatus.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              No sé pudo hacer el cargo a mi cuenta ¿Qué debo hacer?
            </p>
            <span class="dashboard-normal-text">
              Debes revisar la cantidad a pagar actualizada en tu cuenta, o en su caso, 
              consultarme a mí tu saldo <a href="https://wa.me/5213334065657"> Contacto </a> para que realices tu depósito lo antes posible y evitar que se generen intereses. <br><br>

              Estos son los datos para que hagas tu pago: <br>

              <ul>
                <li><b>Institución bancaria: BBVA</b></li>
                <li><b>Cuenta: 0113675203</b></li>
                <li><b>Cuenta Clabe: 012320001136752038</b></li>
                <li><b>Titular: IXHUA TECH, S.A.P.I. DE C.V.</b></li>
                <li><b> Referencia: (No. de solicitud)</b></li>
              </ul>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
             ¿Por qué aparezco como MOROSO en la plataforma?
            </p>
            <span class="dashboard-normal-text">
              El cargo de tu adelanto lo hace el banco en el transcurso de tu día de pago, generalmente por la tarde/noche.
              El banco nos notifica al siguiente día hábil sobre los cargos exitosos y los declinados.
              Es por eso que puedes aparecer unos momentos como <b> MOROSO o incluso días </b>, si es que se atraviesa el fin de semana. <br><br>
              Esto solo ocurre mientras se registra tu pago en nuestro sistema. Si tu cargo se hizo exitosamente en tiempo y forma no tienes nada de qué preocuparte y tampoco afecta tu historial como cliente.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
             ¿Qué pasa si hago mi pago atrasado?
            </p>
            <span class="dashboard-normal-text">
              La cantidad a pagar genera interés cada día. Una vez que realices el pago de tu adelanto podrás solicitar nuevamente y ser aprobado, si el departamento de análisis así lo considera.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
             ¿Qué pasa si cambio de banco?
            </p>
            <span class="dashboard-normal-text">
              Si cambias de banco debes notificarnos y subir el estado de cuenta del banco anterior y también el estado de movimientos de la nueva cuenta en el mismo archivo. (revisa la sección de como juntar archivos) <br><br>
              Nosotros te haremos una carta que debes firmar para que quede por escrito dicho cambio.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
             Tengo portabilidad, ¿Qué debo hacer?
            </p>
            <span class="dashboard-normal-text">
              Notificarnos y pasarnos los datos de la cuenta a donde se hizo la portabilidad (foto de la carátula del estado de cuenta donde se vea el nombre del banco y la cuenta clabe) Con estos datos haremos una carta que nos debes firmar electrónicamente para que quede validada y podamos aprobar tu adelanto.
            </span>
          </div>

        </mat-tab>
        
        <mat-tab label="Motivos de rechazo"> 
          <div>
            <p class="dashboard-blue-text">
             ¿Por qué motivo rechazaron mi solicitud?
            </p>
            <span class="dashboard-normal-text">
              Tu solicitud pasa por un análisis paramétrico automatizado que emite una calificación, la cual determina la aprobación o el rechazo. <br><br>
              Cuando es rechazada te llegará un correo personal con los motivos. <br><br>
              Normalmente puedes corregir lo que se te pide y hacer una nueva, excepto cuando el motivo de rechazo es "NO PODEMOS ATENDERTE", ya que este mensaje significa que nuestro análisis paramétrico emitió una calificación que determinó el rechazo definitivo de tu solicitud.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿Cómo puedo saber las causas del rechazo de mi solicitud?
            </p>
            <span class="dashboard-normal-text">
              Las causas del rechazo de tu solicitud se te notifican mediante un mensaje a tu correo electrónico personal o también puedes consultarlas al iniciar tu sesión en “historial”. 
              <br><br>
              Normalmente puedes corregir lo que se te pide y hacer una nueva, excepto cuando el motivo de rechazo es "NO PODEMOS ATENDERTE", ya que este mensaje significa que nuestro análisis paramétrico emitió una calificación que  determinó el rechazo definitivo de tu solicitud.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              La causa de rechazo “NO TE PODEMOS ATENDER", ¿Qué significa?
            </p>
            <span class="dashboard-normal-text">
              Este mensaje significa que nuestro análisis paramétrico automatizado emitió una calificación que determinó el rechazo definitivo de tu solicitud.
            </span>
          </div>

        </mat-tab>
        <mat-tab label="Errores">
          <div>
            <p class="dashboard-blue-text">
              No puedo cargar todas las hojas porque solo hay un espacio
            </p>
            <span class="dashboard-normal-text">
              Hay sitios web que nos ayudan a unir archivos y fotos. Te sugiero escribir en tu buscador <b>"Unir pdf 100% gratis"</b> y dar clic en las primeras opciones. Estas páginas te permitirán convertir tus archivos seleccionados en uno solo.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
             Tu archivo es demasiado pesado
            </p>
            <span class="dashboard-normal-text">
              Cuando aparece esta leyenda contáctame para apoyarte con la carga de tus documentos.  <a href="https://wa.me/5213334065657"> Contacto </a>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              Los archivos no se cargan
            </p>
            <span class="dashboard-normal-text">
              Si tienes algún problema con la carga de tus documentos es muy probable que estés desde celular, puedes intentarlo desde una computadora de escritorio o laptop. En caso de continuar el problema, contáctame.  <a href="https://wa.me/5213334065657"> Contacto </a>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿"RFC INVÁLIDO"?
            </p>
            <span class="dashboard-normal-text">
              Esta leyenda se refiere a que tu RFC no está registrado en el padrón general de contribuyentes o quizá te falta algún caracter, o bien, hay alguna letra o número mal. 
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              ¿"CONTRASEÑA INVÁLIDA"?
            </p>
            <span class="dashboard-normal-text">
              Tú creas tu contraseña, pero debe cumplir con todos los requisitos que se indican a la hora de crearla, de lo contrario, no será aceptada.
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              Error “Registro incompleto en paso 2"
            </p>
            <span class="dashboard-normal-text">
              Cuando ocurre este error, debemos hacer un ajuste interno en la plataforma. Contáctame para corregirlo por favor. <a href="https://wa.me/5213334065657"> Contacto </a>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              Al momento de seleccionar la cantidad a adelantar, NO aparecen fechas de pago ni me deja continuar.
            </p>
            <span class="dashboard-normal-text">
              Cuando ocurre este error, debemos hacer un ajuste interno en la plataforma. Contáctame para corregirlo por favor. <a href="https://wa.me/5213334065657"> Contacto </a>
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              Cuando quiero subir mis documentos me saca de la aplicación y no se cargan.
            </p>
            <span class="dashboard-normal-text">
              Nuestra aplicación tiene algunos errores que complican la carga de documentos, te recomiendo hacerlo mediante la página web www.ixhua.mx
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              CORREO INVÁLIDO
            </p>
            <span class="dashboard-normal-text">
              Revisa que tu correo electrónico esté bien escrito, que no tenga espacios, mayúsculas, signos de puntuación cambiados, etc. y por supuesto, que contenga arroba(@)
            </span>
          </div>

          <div>
            <p class="dashboard-blue-text">
              No se activa el botón "SIGUIENTE"
            </p>
            <span class="dashboard-normal-text">
              Cuando no se activa el botón para dar clic en "siguiente" es porque hay algún error o no está lleno algún campo. <br><br>
              ¡Revisa detalladamente tu solicitud!
            </span>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>

    

    

    
    <hr>
  </div>
</section>

<app-loan-footer></app-loan-footer>