<mat-sidenav-container class="auth" 
  [ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
  (hasBackdrop)="true" 
  (backdropClick)="_checkClickInBack();" style="background-color: white;">

  <mat-sidenav-content> 
    <!-- header component -->
    <app-header [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)">
   </app-header>

    <div id="start" class="flex__column start-div">
      <section class="flex__column questions-section" >
        <div class="grid-row" style="text-align: center;">

          <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">

            <img width="252px" src="/assets/img/features/somos-una-plataforma-tecnologica.svg"  alt="¿En qué podemos ayudarte?" height="95px">

          </div>


          <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
            <p class="questions-title">Generales</p>
          </div>
          
          <div class="col-12 col-md-12 col-sm-12">
            <mat-accordion>
              <mat-expansion-panel class="questions-panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    ¿Cómo funcionan los adelantos en Ixhua?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img width="252px" src="/assets/img/features/somos-una-plataforma-tecnologica.svg"  alt="¿En qué podemos ayudarte?" height="95px">
                  </div>
                  <div class="panel-content-text" style="text-align: left;">
                    <span>
                      Mediante nuestra plataforma te otorgamos adelantos de una parte de tu nómina sin intereses. <br> <br>

                      El primer adelanto es de máximo $1,000 pesos y por cada pago puntual, tu línea de crédito puede aumentar $200 pesos. La cantidad máxima que se puede adelantar es lo correspondiente al 25% de tu sueldo neto mensual. <br> <br>

                      El costo por cada adelanto es de $49 + IVA ¡fijos! Independientemente de la cantidad solicitada. <br>
                      
                      Para acceder a tu adelanto te pedimos los siguientes requisitos indispensables: <br> <br>

                      <ul>
                        <li>
                         Que la empresa donde trabajas tenga convenio con nosotros.
                        </li>
                        <li>
                         Tener tu INE vigente y a la mano.
                        </li>
          
                      </ul>

                      En caso de cumplirlos, el primer paso es registrarte aquí en ixhua.mx para activar tu cuenta y a continuación podrás hacer tu solicitud. <br><br>

                      Una vez realizada tu solicitud entra a una etapa de revisión, de la cual obtendremos una respuesta en las siguientes horas: <br><br>

                      <ul>
                        <li>
                          Si es <b>"APROBADA"</b> recibirás el depósito de tu adelanto en las siguientes horas.
                        </li>
                        <li>
                          Si es <b>"RECHAZADA"</b> debes corregir lo que se te pide y una vez corregido, realizar una nueva solicitud.
                        </li>
                      </ul>

                      El pago de tu adelanto se hace automático, ya que lo cargamos a tu cuenta el día que recibes tu próximo pago de tu nómina por la cantidad total adelantada más los $56.84 pesos de comisión. <br> <br>

                      ¡Que esperas, solicita ya tu adelanto en ixhua.mx!

                    </span>
                </div>

                </div>      
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cuáles son los requisitos indispensables para ser candidato al adelanto?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;">    
                    <span>
                      <ul>
                        <li>
                         Que la empresa donde trabajas tenga convenio con nosotros.
                        </li>
                        <li>
                         Tener tu INE vigente y a la mano.
                        </li>
          
                      </ul>
                    </span>
                  </div>
                </div>    
              </mat-expansion-panel>


              <mat-expansion-panel class="questions-panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                  ¿Puedo pedir mi adelanto si la empresa en donde trabajo no tiene convenio con Ixhua?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      No, a partir del 30 de marzo del año 2021 Ixhua solo emitirá adelantos a trabajadores de empresas que tengan convenio con nosotros.
                      
                      Si quieres afiliar a tu empresa dale este link <a href= "https://forms.gle/HTfi4xhD16vSYemW6"></a> a tu departamento de Recursos Humanos para ponernos en contacto con ellos o escríbenos
                      por whatsapp para darnos los datos indispensables y ponernos en contacto con tu empresa.
                    </span>
                  </div>
                </div>      
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                     ¿Qué costo, plazo y tasa de interés maneja IXHUA?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      El costo es de $49 pesos más IVA con un plazo máximo de 20 días en una sola exhibición y con 0% de interés, independientemente del monto solicitado.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>


              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    ¿Qué es el CAT y la Tasa Anual Simple?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      El CAT es una fórmula brindada por el Banco de México, así como la Tasa Anual Simple. Son datos utilizados generalmente para créditos que suponen que el cliente dispondrá de préstamos a plazos mayores de 1 año. <br><br>
                      De acuerdo con los lineamientos del Banco de México y nuestra política de transparencia, en el simulador de cada préstamo se muestran los datos del CAT y la tasa anual simple. El CAT depende del plazo seleccionado por el cliente, así como de la tasa y comisión de cada préstamo.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    ¿Mi información personal está segura en Ixhua?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Lo más vital para nosotros es preocuparnos por resguardar la privacidad de nuestros clientes, por lo que te aseguramos que nuestro sitio cumple con las normas más exigentes de seguridad <br><br>
                      Todos los datos brindados serán utilizados únicamente para los fines establecidos en nuestro <a target="_blank" href="/privacy">aviso de privacidad</a>
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    ¿En qué horario y que días puedo solicitar un préstamo?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Puedes solicitar tus préstamos las 24hrs, los 7 días de la semana.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    ¿En cuánto tiempo tendré mi adelanto?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      El plazo máximo de respuesta es de un día hábil. 
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cuánto dinero puedo solicitar?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      El primer adelanto es por máximo $1,000 pesos. Tu línea de crédito puede aumentar $200 pesos por cada pago puntual y el máximo que es posible adelantar es lo correspondiente al 25% de tu sueldo neto mensual. 
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Puedo solicitar más de un adelanto a la vez?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Sí, siempre y cuando no rebases el límite de tu crédito.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <!--<mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Puedo hacer mi solicitud sin tener recibos de nómina?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      No, lo siento, es un requisito indispensable para ser candidato al adelanto.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>-->

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cómo activo mi cuenta?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Ingresa a <a target="_blank" href="/www.ixhua.mx">www.ixhua.mx</a> Para activar tu cuenta solo necesitas ingresar tu RFC y tu código de activación que te proporcionará el área de Recursos Humanos de tu empresa, enseguida deberás llenar los campos con algunos datos personales para que tu cuenta quede activada. Una vez activada tu cuenta podrás solicitar tu adelanto.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Qué pasos debo seguir para solicitar mi adelanto?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Es muy sencillo

                      <ul>
                        <li>
                          1.- Selecciona la cantidad que quieres adelantar.
                          2.- Completa los campos con la información que se te pide.
                          3.- Firma tu contrato
                          
                          Tu solicitud entrará en un proceso de revisión y pronto tendrás noticias sobre si tu adelanto fue aprobado. Si es así, tendrás tu dinero en las próximas horas.
                        </li>
                      </ul>
                  </div>
                </div>
              </mat-expansion-panel>
      
            </mat-accordion>
          </div>  


          <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
            <p class="questions-title">Días y horarios de atención</p>
          </div>
          
          <div class="col-12 col-md-12 col-sm-12">
            <mat-accordion>
              
              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Quién es María?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      ¡Yo soy María! quien se encarga de atenderte, resolver tus dudas y te ayuda a resolver los problemas que puedan surgir
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cuál es el horario de atención al cliente?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Puedo atenderte en los siguientes horarios: <br>
                      Lunes a viernes de 9am a 6pm, <br>
                      Sábados y domingos de 9am a 2pm. <br>
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Por cuáles medios puedo recibir asistencia?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Puedo auxiliarte por WhatsApp <a href="https://wa.me/5213334065657?text=Hola%20María.%20¡Necesito%20tu%20ayuda!%20"> Contacto </a> o por correo electrónico contacto@ixhua.mx 
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>
      
            </mat-accordion>
          </div>  


          <!--<div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
            <p class="questions-title">Información detallada de cada documento</p>
          </div>
          
          <div class="col-12 col-md-12 col-sm-12">
            <mat-accordion>       
              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ID por ambos lados
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Foto de tu <b> INE </b> o <b>IFE</b> por ambos lados, o foto de tu pasaporte.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   Estado de cuenta
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Estado de la cuenta donde recibes tu nómina actualizado, es decir, que no tenga más de 60 días de antigüedad. <br> <br>
                      Este documento tendrás que reemplazarlo cuando ya no esté vigente (cuando tenga más de 60 días de antigüedad) Y deben venir todas las hojas. <br><br>
                      En caso de tener varios archivos o fotos te sugiero escribir en tu buscador <b> "Unir pdf 100% gratis"</b> y dar clic en las primeras opciones. Estas páginas te permitirán convertir tus archivos seleccionados en uno solo.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   Comprobante de domicilio
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      <b>Comprobante de algún servicio</b> como luz, agua, cable, internet, estado de cuenta diferente al de tu nómina, etc. <br> <br>
                      El nombre debe coincidir con el tuyo o en su caso debe ser de un familiar directo y coincidir con la dirección que capturaste en el formulario. Si rentas, lo mejor es subir un comprobante de algún servicio a tu nombre, de lo contrario necesitamos la INE del titular del servicio por ambos lados. <br> <br>
                      El comprobante no debe tener una antigüedad mayor a 90 días y tendrá que actualizarse en la plataforma cuando ya esté vencido para la autorización del adelanto.


                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   Nóminas
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Las nóminas <b>deben ser las últimas tres</b>, es decir, de los tres últimos pagos que te hicieron en tu trabajo, sin excepción. <br><br>
                      La foto debe ser clara y deben actualizarse cada que realices una solicitud.(Reemplazar la nómina más vieja por la más nueva, para que así queden las últimas tres)


                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   Selfie
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      <b>Foto de tu rostro con tu INE (o pasaporte) al lado de tu cara o abajo</b>, sin taparla y que se vea clara.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

            </mat-accordion>
          </div>-->


          <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
            <p class="questions-title">Solicitud</p>
          </div>
          
          <div class="col-12 col-md-12 col-sm-12">
            <mat-accordion>       
              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Dónde veo el estatus de mi solicitud?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Para conocer el estatus de tu solicitud inicia tu sesión y ve a la sección “historial” ó escríbenos por whatsapp y ahí puedes revisar el estatus con tu número de solicitud.
                      <ul>
                        <li>
                          <b>"EN TRÁMITE"</b> significa que tu solicitud está en revisión en el departamento de análisis.
                        </li>
                        <li>
                          <b>"APROBADO"</b> significa que tu adelanto ya está autorizado y se te depositará a tu cuenta en las próximas horas.
                        </li>
                        <li>
                          <b>"RECHAZADO"</b> significa que tu solicitud se rechazó, pero los 
                          errores pueden ser corregidos y hacer una nueva.
                          Si la causa de rechazo incluye <b>"NO PODEMOS ATENDERTE"</b> significa que no puedes acceder al adelanto porque nuestro análisis paramétrico arrojó una 
                          calificación que determina un rechazo definitivo.

                        </li>

                      </ul>
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cuánto tiempo tarda en revisión mi solicitud?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      No hay un tiempo específico, pero en las próximas horas debes tener noticias de tu solicitud o a más tardar al día hábil siguiente.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cuándo recibiré el depósito de mi adelanto?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                    <ul>
                      <li>
                        Si tu solicitud quedó aprobada antes de la 1pm, tu depósito quedará al rededor de las 2pm o antes.
                      </li>
                      <li>
                         Si fue aprobada antes de las 5pm, tu depósito quedará alrededor de las 7pm.
                      </li>
                      <li>
                        Y si quedó aprobada después de las 5pm lo estarás recibiendo en el transcurso de la mañana del día siguiente.
                      </li>
                    </ul>
                    <p>
                      *En clientes nuevos, antes de hacer el depósito, se hace una validación de cuenta, por lo tanto, el dinero quedaría en la cuenta hasta la próxima ronda de dispersión.
                    </p>
                  </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cuándo puedo hacer una nueva solicitud?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                     En cuanto el pago de tu adelanto quede registrado podrás hacer una nueva. <br><br>
                     Si se te hizo el cargo automático, la actualización de tu estatus quedará hasta el próximo día hábil, antes de las 2pm. <br> <br>
                     Si hiciste pago adelantado quedará en las siguientes horas, siempre y cuando estemos en horario laboral.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

             <!-- <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Qué vigencias tienen los documentos, fotos y referencias?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      <ul>
                        <li>
                          <b>Estado de cuenta:</b> 60 días
                        </li>
                        <li>
                          <b>Comprobante de domicilio:</b> 90 días
                        </li>
                        <li>
                          <b>Referencias:</b> 60 días
                        </li>
                        <li>
                          <b>Nóminas:</b> Deben actualizarse constantemente para siempre tener cargadas las últimas 3
                        </li>
                        <li>
                          <b>INE:</b> Mientras esté válida en el INE
                        </li>
                        <li>
                          <b>Selfie:</b> Mientras la INE sea válida
                        </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>-->

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                  ¿Qué pasa si mi referencia no contesta?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                     Se da un tiempo de 12 horas para tener la respuesta de la encuesta enviada, si no la recibimos se rechazará tu solicitud. De esta manera podrás cambiar tus referencias cuando hagas la nueva solicitud.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                  ¿Puedo cambiar mis referencias?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                     Sí, haz una nueva solicitud y cambia la referencia que deseas modificar. Si ya tienes solicitud en curso puedes contactarme para cambiarla por WhatsApp. <a href="https://wa.me/5213330722026"> Contacto </a>
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                  ¿Puedo solicitar mi adelanto por una cantidad mayor?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                     No, la cantidad inicial es de $1,000 (mil pesos), sin excepciones. 
                    Aunque después de cada pago puntual puedes solicitar tu aumento de $200 pesos directamente con servicio al cliente, siempre y cuando la cantidad a solicitar no pase del 25% de tu sueldo neto mensual. <a href="https://wa.me/5213330722026"> Contacto </a>
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¡Mis referencias no tienen Whatsapp!
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                    En dado caso que así sea, debes notificarme para hacerles una llamada telefónica o puedes contactarme para cambiar de referencia. <a href="https://wa.me/5213330722026"> Contacto </a>
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cómo puedo conseguir mi CLABE (clave interbancaria)?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                    Este dato te lo proporciona tu banco, son 18 dígitos y también viene en tu estado de cuenta. Puedes consultarlo en tu aplicación o mediante el portal de internet de tu banco.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

             <!-- <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">-->
                   <!--¿Cómo consigo mi estado de cuenta?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                    Este documento te lo otorga el banco. Puedes descargarlo por internet, solicitarlo mediante tu aplicación o por teléfono directamente a tu banco. <br> <br>

                    También puedes tomarle fotos a tu estado de cuenta impreso y juntarlas para cargarlas en un solo archivo. <br><br>

                    Hay sitios web que nos ayudan a unir archivos y fotos. Te sugiero escribir en tu buscador  <b>"Unir pdf 100% gratis"</b> y dar clic en las primeras opciones.


                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Qué puedo usar como comprobante de domicilio?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Tus recibos de luz, cable, internet, agua o un estado de cuenta de una tarjeta diferente a donde recibes tu nómina. <br><br>

                      Ten en cuenta que debe estar a tu nombre o de un familiar directo. De lo contrario necesitamos la INE del titular del servicio por ambos lados o foto del contrato de arrendamiento.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cómo consigo mis nóminas?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Las nóminas son los recibos de pago que te da la empresa donde trabajas y tienes que subir las últimas 3, siempre. Son un requisito indispensable si tu empresa no tiene convenio con nosotros. <br><br>

                      Si haces una nueva solicitud, debes reemplazar la nómina de mayor antigüedad por la más nueva, es decir, deben estar actualizadas. De lo contrario, no serán válidas. <br><br>
                      Las puedes solicitar a tu empresa, en dado caso de que no las tengas.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cómo junto mis fotos o archivos?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Hay sitios web que nos ayudan a unir archivos y fotos. Te sugiero escribir en tu buscador <b>"Unir pdf 100% gratis"</b> y dar clic en las primeras opciones. Estas páginas te permitirán convertir tus archivos seleccionados en uno solo.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>-->

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cuál es el procedimiento para hacer mi segunda solicitud?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      El proceso para tu segunda solicitud será más fluido que en la primera, ya que tu información queda guardada y tus documentos también. 
        
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    ¿Cómo puede aumentar mi línea de crédito?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Por cada pago puntual puedes solicitar un aumento de $200 pesos en tu línea de crédito, hasta máximo el 25% de tu sueldo mensual. Solicita tu aumento en Servicio al cliente. <a href="https://wa.me/5213330722026"> Contacto </a>
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

           </mat-accordion>
          </div>

          <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
            <p class="questions-title">Información de pago</p>
          </div>
          
          <div class="col-12 col-md-12 col-sm-12">
            <mat-accordion>       
              
              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cómo pago mi adelanto?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      El cargo de tu adelanto se hace automáticamente a tu cuenta donde te depositamos en el transcurso del día de tu fecha de pago, generalmente por la tarde/noche. <br><br>
                      Te pedimos estar atento a contar con el recurso disponible en la fecha de 
                      corte para no incurrir en intereses moratorios y sobre todo para que tu
                      pago sea puntual y tus condiciones de tus futuros créditos mejoren. <br><br>
                      También puedes hacer tu pago adelantado a la siguiente cuenta de banco y 
                      mandarnos tu comprobante por WhatsApp <a href="https://wa.me/5213334065657?text=Hola%20María.%20¡Necesito%20tu%20ayuda!%20">Contacto </a> por correo electrónico a contacto@ixhua.mx <br><br>

                      <ul>
                        <li><b>Institución bancaria: BBVA</b></li>
                        <li><b>Cuenta: 0113675203</b></li>
                        <li><b>Cuenta Clabe: 012320001136752038</b></li>
                        <li><b>Titular: IXHUA TECH, S.A.P.I. DE C.V.</b></li>
                        <li><b>Referencia: (No. de solicitud)</b></li>
                      </ul>

          
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cuándo es mi fecha de pago?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <p>
                      Cuando haces tu solicitud, la plataforma genera tu fecha de pago. La fecha se establece en tu contrato y generalmente es el día en que recibes el pago de tu nómina o uno después (dependiendo del mes y los fines de semana que se atraviesan). <br><br>
                      Puedes revisar la fecha de pago de tu solicitud iniciando sesión y dando clic en “historial” o escribiéndonos por whatsapp en la opción número 2.
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Puedo hacer el pago anticipado de mi adelanto?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Claro, haz tu depósito o transferencia y mándame tu comprobante <a href="https://wa.me/5213334065657">Contacto </a> o envíalo al correo electrónico contacto@ixhua.mx
                      <ul>
                        <li><b>Institución bancaria: BBVA</b></li>
                        <li><b>Cuenta: 0113675203</b></li>
                        <li><b>Cuenta Clabe: 012320001136752038</b></li>
                        <li><b>Titular: IXHUA TECH, S.A.P.I. DE C.V.</b></li>
                        <li><b> Referencia: (No. de solicitud)</b></li>
                      </ul>
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    ¿A qué hora se hace el cargo automático de mi adelanto?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      El cargo lo hace el banco en el transcurso de tu día de pago, generalmente  por la tarde/noche. <br><br>
                      Al día siguiente (hábil) el banco nos notifica si tu pago fue exitoso y antes de las 2pm debe estar actualizado tu estatus.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   No sé pudo hacer el cargo a mi cuenta ¿Qué debo hacer?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Debes revisar la cantidad a pagar actualizada en tu cuenta, o en su caso, 
                      consultarme a mí tu saldo <a href="https://wa.me/5213334065657"> Contacto </a> para que realices tu depósito lo antes posible y evitar que se generen intereses. <br><br>

                      Estos son los datos para que hagas tu pago: <br>

                      <ul>
                        <li><b>Institución bancaria: BBVA</b></li>
                        <li><b>Cuenta: 0113675203</b></li>
                        <li><b>Cuenta Clabe: 012320001136752038</b></li>
                        <li><b>Titular: IXHUA TECH, S.A.P.I. DE C.V.</b></li>
                        <li><b> Referencia: (No. de solicitud)</b></li>
                      </ul>

                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Por qué aparezco como MOROSO en la plataforma?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      El cargo de tu adelanto lo hace el banco en el transcurso de tu día de pago, generalmente por la tarde/noche.
                      El banco nos notifica al siguiente día hábil sobre los cargos exitosos y los declinados.
                      Es por eso que puedes aparecer unos momentos como <b> MOROSO o incluso días </b>, si es que se atraviesa el fin de semana. <br><br>
                      Esto solo ocurre mientras se registra tu pago en nuestro sistema. Si tu cargo se hizo exitosamente en tiempo y forma no tienes nada de qué preocuparte y tampoco afecta tu historial como cliente.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Qué pasa si hago mi pago atrasado?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      La cantidad a pagar genera interés cada día. Una vez que realices el pago de tu adelanto podrás solicitar nuevamente y ser aprobado, si el departamento de análisis así lo considera.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Qué pasa si cambio de banco?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Si cambias de banco debes notificarnos y subir el estado de cuenta del banco anterior y también el estado de movimientos de la nueva cuenta en el mismo archivo. (revisa la sección de como juntar archivos) <br><br>
                      Nosotros te haremos una carta que debes firmar para que quede por escrito dicho cambio.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <!--<mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   Tengo portabilidad, ¿Qué debo hacer?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                     Notificarnos y pasarnos los datos de la cuenta a donde se hizo la portabilidad (foto de la carátula del estado de cuenta donde se vea el nombre del banco y la cuenta clabe) Con estos datos haremos una carta que nos debes firmar electrónicamente para que quede validada y podamos aprobar tu adelanto.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>-->

            </mat-accordion>
          </div>

          <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
            <p class="questions-title">Motivos de rechazo</p>
          </div>

          <div class="col-12 col-md-12 col-sm-12">
            <mat-accordion> 

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Por qué motivo rechazaron mi solicitud?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                     Tu solicitud pasa por un análisis paramétrico automatizado que emite una calificación, la cual determina la aprobación o el rechazo. <br><br>
                     Cuando es rechazada te llegará un correo personal con los motivos. <br><br>
                     Normalmente puedes corregir lo que se te pide y hacer una nueva, excepto cuando el motivo de rechazo es "NO PODEMOS ATENDERTE", ya que este mensaje significa que nuestro análisis paramétrico emitió una calificación que determinó el rechazo definitivo de tu solicitud.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   ¿Cómo puedo saber las causas del rechazo de mi solicitud?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/img/features/astronautas.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Las causas del rechazo de tu solicitud se te notifican mediante un mensaje 
                      a tu correo electrónico personal. También puedes consultarlas al iniciar tu sesión en “historial” o bien, solicitar el estatus de tu solicitud mediante whatsapp en la Opción 1. <br><br>

                      Normalmente puedes corregir lo que se te pide y hacer una nueva, excepto cuando el motivo de rechazo es "NO PODEMOS ATENDERTE", ya que este mensaje
                      significa que nuestro análisis paramétrico emitió una calificación que  determinó el rechazo definitivo de tu solicitud.

                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   La causa de rechazo “NO TE PODEMOS ATENDER", ¿Qué significa?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Este mensaje significa que nuestro análisis paramétrico automatizado emitió una calificación que determinó el rechazo definitivo de tu solicitud.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

            </mat-accordion>
          </div>

          <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
            <p class="questions-title">Errores</p>
          </div>

          <div class="col-12 col-md-12 col-sm-12">
            <mat-accordion> 

              <!--<mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   No puedo cargar todas las hojas porque solo hay un espacio
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Hay sitios web que nos ayudan a unir archivos y fotos. Te sugiero escribir en tu buscador <b>"Unir pdf 100% gratis"</b> y dar clic en las primeras opciones. Estas páginas te permitirán convertir tus archivos seleccionados en uno solo.
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>-->

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   Tu archivo es demasiado pesado
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Cuando aparece esta leyenda contáctame para apoyarte con la carga de tus documentos.  <a href="https://wa.me/5213334065657"> Contacto </a>
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    Los archivos no se cargan
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Si tienes algún problema con la carga de tus documentos es muy probable que estés desde celular, puedes intentarlo desde una computadora de escritorio o laptop. En caso de continuar el problema, contáctame.  <a href="https://wa.me/5213330722026"> Contacto </a>
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                     ¿"RFC INVÁLIDO"?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Esta leyenda se refiere a que tu RFC no está registrado en el padrón general de contribuyentes o quizá te falta algún caracter, o bien, hay alguna letra o número mal. 
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    ¿"CONTRASEÑA INVÁLIDA"?
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Tú creas tu contraseña, pero debe cumplir con todos los requisitos que se indican a la hora de crearla, de lo contrario, no será aceptada.

                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    Error “Registro incompleto en paso 2"
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Cuando ocurre este error, debemos hacer un ajuste interno en la plataforma. Contáctame para corregirlo por favor. <a href="https://wa.me/5213330722026"> Contacto </a>
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    Al momento de seleccionar la cantidad a adelantar, NO aparecen fechas de pago ni me deja continuar.
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Cuando ocurre este error, debemos hacer un ajuste interno en la plataforma. Contáctame por whatsapp para corregirlo por favor. <a href="https://wa.me/5213330722026"> Contacto </a>
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    Cuando quiero subir mis documentos me saca de la aplicación y no se cargan.
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Nuestra aplicación tiene algunos errores que complican la carga de documentos, te recomiendo hacerlo mediante la página web www.ixhua.mx
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                   CORREO INVÁLIDO
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Revisa que tu correo electrónico esté bien escrito, que no tenga espacios, mayúsculas, signos de puntuación cambiados, etc. y por supuesto, que contenga arroba(@)
                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="questions-panel" >
                <mat-expansion-panel-header>
                  <mat-panel-title class="panel-title-font">
                    No se activa el botón "SIGUIENTE"
                  </mat-panel-title>   
                </mat-expansion-panel-header>
                <div style="display: flex; align-items: center;">
                  <div class="panel-content-image">
                    <img src="/assets/ixhua-colors/icons/robot1.svg" alt="¿En qué podemos ayudarte?">
                  </div>
                  <div class="panel-content-text" style="text-align: left;"> 
                    <span>
                      Cuando no se activa el botón para dar clic en "siguiente" es porque hay algún error o no está lleno algún campo. <br><br>
                      ¡Revisa detalladamente tu solicitud!

                    </span>
                  </div>
                </div>
              </mat-expansion-panel>

            </mat-accordion>
          </div>

        </div>
      </section>
    </div>


    <section class="ixhua-blue-section-alternate-1 flex__column">
  
      <div class="grid-row" style="display: flex; justify-content: center; align-items: center;" >
            
            <div class="col-2 col-md-12 col-sm-12" style="display: flex;justify-content: center;">
                <img src="/assets/ixhua-colors/people/girl-green.png" alt="Contacto">
                <a>&nbsp;</a>
            </div>

            <div class="col-5 col-md-12 col-sm-12">
                <p>Si tu empresa está afiliada con nosotros, te <br>
                proporcionarán un código por alguno de sus canales de <br>
                comunicación.</p>
            </div>

            <div class="col-5 col-md-12 col-sm-12">
                <span class="ixhua-blue-section-alternate-1__right-text">accede a beneficios ----------- Con tecnología </span>
            </div>
        </div>
    </section>

    <section style="padding-top: 80px"></section>

    <app-contact></app-contact>

    <app-footer id="footer"></app-footer>
    
    <div class="whatsappme whatsappme--right whatsappme--show whatsappme--tooltip" (click)="gtagEvent()">
      <a href="https://wa.me/5213334065657?text=Hola%20María.%20¡Necesito%20tu%20ayuda!%20" target="_blank" alt="Whatsapp">
        <div class="whatsappme__button" style="padding-left: 15px;padding-top: 2px;display: flex;align-items: center">
          <p style="font-size:16px;display: flex;"><img src="/assets/ixhua-colors/icons/Whatsapp.svg" width="20" height="20" alt="3330722026"/>&nbsp;¡Contactanos!</p>
        </div>
      </a>
    </div>

  <!--</mat-sidenav-content>
</mat-sidenav-container>-->


