/*
 * ROOT ELEMENTS (body, html)
 */

html,
body {
  min-height: 100%;
}

  
body {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
  margin: 0;
  color: $body-base-color;
  font: normal normal $body-base-font-weight #{$body-base-font-size}/#{$body-base-line-height} $body-family-font;

  background-color: $body-background-color;

  &.overflow-hidden {
    overflow: hidden;
  }
}
  
*:focus {
  outline: none;
}