.new-primary-button {
  background: #154ACE;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1px solid #154ACE !important;
}
.new-primary-button:not([disabled]):hover {
  background: #061D77;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1px solid #061D77 !important;
}

button.new-primary-button[disabled] {
  background: #154ACE;
  opacity: 0.32;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1px solid #154ACE !important;

}

.new-secondary-button {
  background: #15CF95;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1px solid #15CF95 !important;
}
.new-secondary-button:not([disabled]):hover {
  background: #067876;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1px solid #067876 !important;
}

button.new-secondary-button[disabled] {
  background: #15CF95;
  opacity: 0.32;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1px solid #15CF95 !important;
}

.new-alternate-button {
  background-color: transparent!important;
  border: 1px solid rgba(32, 41, 69, 0.32) !important;
  box-sizing: border-box;
  border-radius: 4px;
  color: #26212F;
}
.new-alternate-button:not([disabled]):hover {
  border: 1px solid #202945 !important;
  box-sizing: border-box;
  border-radius: 4px;
}

button.new-alternate-button[disabled] {
  opacity: 0.32;
  border: 1px solid rgba(32, 41, 69, 0.32);
  box-sizing: border-box;
  border-radius: 4px;
  color: #26212F;
}


.new-alternate-button-2 {
  background-color: transparent!important;
  border: 1px solid #FFFFFF !important;
  box-sizing: border-box;
  border-radius: 4px;
  color: #FFFFFF;
}

.new-alternate-button-2:not([disabled]):hover {
  opacity: 0.50;
  border: 1px solid #FFFFFF !important;
  box-sizing: border-box;
  border-radius: 4px;
  color: #FFFFFF;
}

.new-white-button {
  background: white;
  border-radius: 4px;
  color: #26212F;
  border: 1px solid white !important;
}

.success-snackbar {
  color: #1DB954;
  background-color: #CFFCDC;
  .mat-simple-snackbar-action{
    color: #26212F !important;
  }
}

.error-snackbar {
  color: #EB5757;
  background-color: #F3D3D3;
  .mat-simple-snackbar-action{
    color: #26212F !important;
  }
}
