/*
 * CUSTOM INPUT & TEXTAREA
*/

mat-form-field.ixhua-primary-input {
	color: green;
	font-size: 60px;

	.mat-form-field-wrapper {
		border: 1px solid $mat-border-color;
		padding-bottom: 0;
		padding: 0 12.5px;
  }

  &.mat-form-field-invalid .mat-form-field-wrapper {
    border-color: $color-brand-warn;
  }

  &.mat-form-field-invalid .mat-input-element {
    color: $mat-text-primary-color;
  }

	.mat-form-field-wrapper .mat-form-field-underline,
  .mat-form-field-wrapper .mat-form-field-ripple,
  &.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    height: 0;
  }

  &.mat-form-field-invalid .mat-form-field-label {
    color: $color-brand-primary;
  }

	.mat-form-field-infix {
    padding: 0.6em 0 .2em;
    border-top: 0.4em solid transparent;
  }

	.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.2em 0;
  }

	.mat-form-field-infix {
    border-top: 0.56em solid transparent;
    border-bottom: 0.55em solid transparent;
  }

  textarea.mat-input-element {
    min-height: 103px;
  }
}


.mat-form-field.has-custom-error .mat-error {
  position: absolute;
  top: 52px;
}
