.whatsappme.whatsappme--show {
    transform: scale3d(1,1,1);
    transition: transform .5s cubic-bezier(.18,.89,.32,1.28);
}
.whatsappme__button svg {
    width: 36px;
    height: 36px;
    margin: 12px 12px;
}
.whatsappme--dialog .whatsappme__button__send, .whatsappme__button__open {
    display: block;
}
.whatsappme {
    position: fixed;
    z-index: 1000;
    right: 0px!important;
    bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #262626;
}
.whatsappme__button {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 8px;
    right: 0px;
    height: 60px;
    min-width: 140px;
    max-width: 140px;
    background-color: #15CF95;
    color: #fff;
    /*border-radius: 30px;*/
    border-radius: 50px 0px 0px 50px;
    box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
    cursor: pointer;
    transition: background-color .2s linear;
    -webkit-tap-highlight-color: transparent;
}