<mat-sidenav-container class="auth" 
  [ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
  (hasBackdrop)="true" 
  (backdropClick)="_checkClickInBack();">

  <mat-sidenav-content>
    <!-- header component -->
    <app-header [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)">
   </app-header>

  <div class="auth-content grid-container">
    <hr class="auth-content__start" id="start">
    <h1 class="auth-content__title fs-28px fw-300 fc-dark text-uppercase text-center my-4 mx-auto"><b>CREA TU </b>NUEVA CONTRASEÑA</h1>

    <div class="grid-row auth-content__login">
      <mat-card class="auth-content__login-card" style="margin-bottom: 1.5em;margin-right: 26em;margin-left: 26em;">
        <div class="auth-content__login-card-wrapper">
          <h2 class="fs-28px fc-dark ff-Intro-Black m-0">
            Crear contraseña
          </h2>
          <p class="m-0 mb-1 ff-Intro-Book fs-15px mw-360px">
            Para activar tu cuenta, por favor crea una contraseña que contenga al menos 8 caracteres, una mayúscula y un símbolo. (ej. Ixhua123$)
          </p>
          <form class="auth-content__login-form flex__column"
              [formGroup]="form">
              <mat-form-field class="mat-form-field-box mb-2"
                              floatLabel="never">
                  <input placeholder="Nueva contraseña"
                      type="password"
                      autocomplete="off"
                      matInput
                      formControlName="password">
              </mat-form-field>
              <p class="mat-error-custom mb-2"
              [innerHTML]="passwordFormatError"
              [style.opacity]="form.controls.password?.touched ? 1 : 0"></p>
              <mat-form-field class="mat-form-field-box mb-2"
                              floatLabel="never">
                  <input placeholder="Confirmar contraseña"
                      type="password"
                      autocomplete="off"
                      matInput
                      formControlName="confirmPassword">
              </mat-form-field>
              <p class="mat-error-custom mb-2"
              [innerHTML]="passwordConfirmError"
              [style.opacity]="form.controls.password?.touched ? 1 : 0"></p>

              <div class="auth-content__login-form-action">
                <a class="cursor-default text-center">
                    Volver al inicio
                </a>
                <button class="auth-content__login-form-button mat-rounded-button mt-2"
                        mat-flat-button
                        color="primary"
                        (click)="onSubmit()">
                    Crear
                </button>
              </div>
          </form>
        </div>
      </mat-card>
    </div>

  </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>