<section class="loans">
  <h2 class="loan-request-main__title mb-3">Mi Historial</h2>

  <div class="loans-table flex">
    <div class="loans-table__row flex" *ngFor="let loan of clientLoans">
      <div class="loans-table__col flex">
        <p class="loans-table__label truncate-text">No. de Solicitud</p>
        <p class="loans-table__cell flex__completely-centered">{{ loan?.request_no }}</p>
      </div>

      <div class="loans-table__col flex">
        <p class="loans-table__label truncate-text">Monto Total</p>
        <p class="loans-table__cell flex__completely-centered">{{ loan?.amount | currency:'$ ':'symbol' }}</p>
      </div>

      <div class="loans-table__col flex">
        <p class="loans-table__label truncate-text">Fecha de Solicitud</p>
        <p class="loans-table__cell flex__completely-centered flex__completely-centered">
          {{ loan?.request_date }}
        </p>
      </div>

      <div class="loans-table__col flex">
        <p class="loans-table__label truncate-text">Fecha de Pago</p>
        <p class="loans-table__cell flex__completely-centered">
          {{ loan?.payment_date }}
        </p>
      </div>

      <div class="loans-table__col status flex">
        <p class="loans-table__label truncate-text">Estado</p>
        <p class="loans-table__cell flex__completely-centered fw-book fs-10px" [innerHTML]="getStatus(loan?.status, loan)"></p>
      </div>
    </div>
  </div>

  <p class="fs-16px mt-5">Glosario:</p>
  <ul class="fw-book ul fs-16px">
    <li>- Monto total: Incluye comisión + intereses moratorios (en caso de que  aplique) + IVA.</li>
    <li>- Fecha de solicitud: Fecha en la que se aprobó tu adelanto.</li>
    <li>- Fecha de pago: Fecha en la que debe o debió pagarse el adelanto.</li>
  </ul>
</section>
