/**
 * LOANS TABLE
 */

 @import "../../../assets/sass/settings/all";
 @import "../../../assets/sass/tools/all";

.loans {
  padding: 0 96px;
}

.loans-table {
  flex-flow: column;
  max-width: 870px;

  &,
  &__row {
    width: 100%;
  }

  &__col {
    font-size: 12px;
    flex-direction: column;
    flex: 1;
    min-width: 110px;
  }

  &__col.status {
    flex: 2.5;
  }

  &__col:first-child &__label,
  &__col:first-child &__cell {
    border-radius: 5px 0 0 5px;
  }

  &__col:last-child &__label,
  &__col:last-child &__cell {
    border-radius: 0 5px 5px 0;
    border: none;
  }

  &__col:last-child &__cell::after {
    display: none;
  }

  &__label,
  &__cell {
    margin: 5px 0;
    box-shadow: none;
    text-align: center;
    width: 100%;
  }

  &__label {
    background-color: $color-brand-primary;
    color: $color-white;
    padding: 12px 10px;
    border-right: 1px solid rgba(white, .4);
  }

  &__label {
    display: none;
  }

  &__cell {
    color: #1D2361;
    background-color: #FFFFFF;
    padding: 27px 15px;
    position: relative;
    flex: 1;

    &::after {
      background-color: rgba(#1E2739, .4);
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      height: 21px;
      width: 1px;
    }
  }

  // show labels only on first row
  &__row:first-child &__label {
    display: block;
  }
}

.ul {
  list-style: none;
}


// mobile adjustments
@media only screen and (max-width: $lg-breakpoint) {
  .loans {
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
}


@media screen and (max-width: $sm-breakpoint) {
  .loans-table {
    &__row {
      overflow: hidden;
      border-radius: 3px;
      flex-direction: column;
      box-shadow: 0 8px 5px 0 rgba(0,0,0,0.03);
      margin-bottom: 10px;
    }

    &__col {
      flex-direction: row;
    }

    &__row:first-child &__label,
    &__label {
      display: flex;
      align-items: center;
    }

    &__label {
      flex: 1;
      max-width: 130px;
      border-right: none;
    }


    &__label,
    &__cell {
      text-align: left;
      justify-content: flex-start;
      font-size: 9px;
      line-height: 1.15;
      box-shadow: 0 8px 5px 0 rgba(0,0,0,0.03);
      padding: 3px 10px;
      margin: 0;
      border-bottom: 1px solid rgba(gray, .15);
    }

    &__cell::after {
      display: none;
    }

    &__col:first-child &__label,
    &__col:first-child &__cell,
    &__col:last-child &__label,
    &__col:last-child &__cell {
      border-radius: 0;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .loans-table {
    display: table!important;
    border-collapse: collapse;
  }

  .loans-table__row {
    display: table-row!important;
    min-height: 100%;
    
  }

  .loans-table__col {
    display: table-cell!important;
    vertical-align: middle;
    position: relative;
    background: #fff;
  }

  .loans-table__row:first-child .loans-table__label {
    position: absolute;
    min-height: 40px;
    margin:0;
    top:0;

  }

  
  .loans-table__row:first-child .loans-table__cell {
    margin-top: 4em;
  }

  .loans-table__row .loans-table__cell {
    background: #fff;
    display: inline-block;
  }

  .loans-table__label {
    display: none;
  }

  .loans-table__col.status {
    max-width: 200px;
  }

 /* 
  .loans-table__col .loans-table__label {
    display: none!important;
  }

  .loans-table__cell {
   
    white-space: normal!important;
    min-height: 82px!important;
    flex-basis: auto!important;
    
  }*/
}