<mat-sidenav-container class="auth" 
  [ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
  (hasBackdrop)="true" 
  (backdropClick)="_checkClickInBack();">

  <mat-sidenav-content>
    <!-- header component -->
    <app-header [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)">
   </app-header>

    <div class="auth-content grid-container">
      <hr class="auth-content__start" id="start">
      <h1 class="auth-content__title fs-28px fw-300 fc-dark text-uppercase text-center my-4 mx-auto"><b>Este link </b>ha expirado</h1>


      <div class="grid-row auth-content__login">
        <mat-card class="auth-content__login-card" style="margin-bottom: 1.5em;margin-right: 26em;margin-left: 26em;">

        <div class="auth-content__message">
          <h2 class="fs-28px fc-dark ff-Intro-Black m-0 pb-1">
              Lo sentimos, este link ha expirado.
          </h2>
          <p class="m-0 mb-1 ff-Intro-Book fs-15px">
            El link que utilizaste ha expirado. Para iniciar sesión, por favor re-establece tu contraseña.
          </p>
          <form class="auth-content__login-form">
            <div class="auth-content__login-form-action">
                <a class="cursor-pointer text-center fs-12px mt-2"
                  routerLink="/auth/login">
                  ¿Recordaste tu contraseña? Iniciar sesión
                </a>
                <button class="auth-content__login-form-button mat-rounded-button mt-2"
                        mat-flat-button
                        color="primary"
                        routerLink="">
                  Re-establecer Contraseña
                </button>
            </div>
          </form>
        </div>

      </mat-card>
    </div>


    </div>
  <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>