<footer class="ixhua-blue-footer flex__column">
  
  <section class="grid-row">
     
      <div class="col-2 col-md-6 col-sm-12">
        <p class="cursor-default mt-0"><a routerLink="/auth" fragment="howworks" (click)="_goToPosition('howworks',true);">¿Cómo funciona?</a></p>
        <p class="cursor-default mt-0"><a target="_blank" href="/faqs">Ayuda</a></p> 
        <p class="cursor-default mt-0"><a target="_blank" href="/empresas">Empresas</a></p> 
      </div>

      <div class="col-2 col-md-6 col-sm-12">
        <p class="cursor-default mt-0"><a target="_blank" href="/arco">Derechos ARCO</a></p>
        <p class="cursor-default mt-0"><a target="_blank" href="/privacy">Aviso de privacidad</a></p>
        <p class="cursor-default mt-0"><a target="_blank" href="/tyc">Términos y condiciones</a></p>
      </div>

      <div class="col-8 col-md-12 col-sm-12">  
        
        <div style="display: flex; justify-content: flex-end;">
            
            <div style="margin-top: 9px">
              
              <a style="padding: 5px 5px 5px 5px" href="https://www.facebook.com/ixhuamx/" target="_blank"><img src="/assets/ixhua-colors/icons/Facebook.svg"  width="24" alt="Instagram"/></a>
              
              <a style="padding: 5px 5px 5px 5px" href="https://www.instagram.com/ixhuamx/" target="_blank"><img src="/assets/ixhua-colors/icons/Instagram.svg"  width="24" alt="Instagram"/></a>
              
            </div>
            
            <div class="vl"></div>
            
            <div class="grid-row" style="margin-left: 10px">
              <div style="padding: 5px 5px 5px 5px">
                <button class="new-secondary-button"
                mat-flat-button
                routerLink="/login"
                (click)="scrollTo(0,0);closeBack()">
                    Iniciar sesión
                </button>
              </div>

              <div style="padding: 5px 5px 5px 5px">
                <button class="new-alternate-button-2"
                mat-flat-button
                routerLink="/login"
                (click)="scrollTo(0,0);closeBack()">
                  Regístrate
                </button>
              </div>
            </div>
        
        </div>


        <div style="display: flex; justify-content: flex-end;">
            <p class="footer-title-1">Conéctate con tu empresa</p>
        </div>
        
        <div style="display: flex; justify-content: flex-end;">
            
            <a (click)="gtagEventWhatsapp()" href="https://wa.me/5213334065657?text=Hola%20María.%20¡Necesito%20tu%20ayuda!%20" alt="Whatsapp"><p style="font-size:20px;display: flex;"><img src="/assets/ixhua-colors/icons/Whatsapp.svg" width="25" height="25" alt="3334065657"/>&nbsp;333 0722 026</p></a>
        </div>

            
      </div>

  </section>

  <hr style="color:white;width: 100%;" >
  
  <section class="grid-row">
    <div class="col-6 col-md-6 col-sm-12">
      <img src="assets/ixhua-colors/logos/ixhua-logo-white.svg"/>
    </div>

    <div class="col-6 col-md-6 col-sm-12" style="display: flex; justify-content: flex-end;" >
      <p class="footer-copy">Plataforma Ixhua 2020 - Todos los derechos reservados</p>
    </div>
  </section>
</footer>
