<section class="flex__column" style="padding-left: 20px; padding-right: 20px;">
  <div class="grid-row" style="display: flex;">
    <div class="col-12 col-md-12 col-sm-12">
      <p>
        <span class="dashboard-title">Inicio > Mis Documentos </span> <br>
        <span class="dashboard-subtitle">Agregar mis documentos</span>
      </p>
      <hr class="hr"/>
        <span class="dashboard-bold-text">Especificaciones</span> <br>
        <p class="dashboard-opacity-text">
          Todos los documentos son necesarios para completar tu perfil. <br>
          Te recordamos que los tamaños máximos de los archivos son de menos de 5 MB en formato .jpg, <br> .png o .pdf
        </p>
    </div>
  </div>
</section>

<main class="loan-request-main">
  <div class="loan-request-main__wrapper flex__column">
    <div class="loan-request-main-content">
      <mat-card #mainCardContainer class="loan-request-card">
        <p style="color:red" *ngIf="!this.fileIneDate || !this.fileAdditionalDate || !this.fileBankAccountDate || !this.fileProofAddressDate || !this.filePaysheetOneDate || !this.filePaysheetTwoDate || !this.filePaysheetThreeDate || !this.fileSelfieDate" >Uno o más documentos están vencidos, actualizalos para guardar o continuar.</p>
        <form class="grid-container p-2 mb-30px">
      <div *ngIf="showClientType"> 
        <h2 class="fs-24px fw-normal m-0">Últimos 3 recibos de nómina</h2>
  		  <hr class="hr mt-2 mb-3" />
      </div> 
  		<section *ngIf="showClientType" class="grid-row">
  		 	  <div class="col-4 col-md-6 col-sm-12">
            	<p class="m-0 fs-14px">Último recibo de nómina:</p>
              <div *ngIf="!this.showPaysheetOne">
                  <app-upload-file (fileChange)="onFileChange($event, 'paysheet_one')"></app-upload-file>
                  <ng-container *ngIf="filesForm.get('paysheet_one').touched">
                   	<mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_one').hasError('required')">Este archivo es obligatorio.</mat-error>
                      <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_one').hasError('invalidFileType')">
                        {{invalidFileMessage}}
                      </mat-error>
                  </ng-container>
              </div>
              
              <div *ngIf="this.showPaysheetOne && filePaysheetOneAux">   
                <div class="col-12" style="text-align: center;">
                  <a *ngIf="this.filePaysheetOneDate" style="position: center" href="{{filePaysheetOneAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
                  <a *ngIf="!this.filePaysheetOneDate" style="position: center" href="{{filePaysheetOneAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a> 
                  <br> 
                  <a href="{{filePaysheetOneAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
                  <a>&nbsp;</a>
                  <button matTooltip="Remplazar" (click)="changeFile('paysheet_one',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
                  <a>&nbsp;</a>
                  <button matTooltip="Eliminar" (click)="deleteFile('paysheet_one',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
                  <p class="fs-12px" style="color:red;" *ngIf="!this.filePaysheetOneDate">Documento vencido</p>
                </div>
              </div>
            </div>

            <div class="col-4 col-md-6 col-sm-12">
           		<p class="m-0 fs-14px">Penúltimo recibo de nómina:</p>
                <div *ngIf="!this.showPaysheetTwo">
                  <app-upload-file (fileChange)="onFileChange($event, 'paysheet_two')"></app-upload-file>
                  <ng-container *ngIf="filesForm.get('paysheet_two').touched">
                  	<mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_two').hasError('required')">Este archivo es obligatorio.</mat-error>
                      <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_two').hasError('invalidFileType')">
                        {{invalidFileMessage}}
                      </mat-error>
                  </ng-container>
                </div>

                <div *ngIf="this.showPaysheetTwo && filePaysheetTwoAux" style="text-align:center;">   
                  <div class="col-12">
                    <a *ngIf="this.filePaysheetTwoDate" href="{{filePaysheetTwoAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
                    <a *ngIf="!this.filePaysheetTwoDate" href="{{filePaysheetTwoAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>
                    <br>    
                    <a href="{{filePaysheetTwoAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
                    <a>&nbsp;</a>
                    <button matTooltip="Remplazar" (click)="changeFile('paysheet_two',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
                    <a>&nbsp;</a>
                    <button matTooltip="Eliminar" (click)="deleteFile('paysheet_two',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
                    <p class="fs-12px" style="color:red" *ngIf="!this.filePaysheetTwoDate" >Documento vencido</p>
                  </div> 
                </div>
            </div>


            <div class="col-4 col-md-6 col-sm-12">
            	<p class="m-0 fs-14px">Antepenúltimo recibo de nómina:</p>
                <div *ngIf="!this.showPaysheetThree">
                  <app-upload-file (fileChange)="onFileChange($event, 'paysheet_three')"></app-upload-file>
                  <ng-container *ngIf="filesForm.get('paysheet_three').touched">
                  <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_three').hasError('required')">Este archivo es obligatorio.</mat-error>
                      <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_three').hasError('invalidFileType')">
                        {{invalidFileMessage}}
                      </mat-error>
                  </ng-container>
                </div>

                <div *ngIf="this.showPaysheetThree && filePaysheetThreeAux" style="text-align:center;">   
                  <div class="col-12">
                    <a *ngIf="this.filePaysheetThreeDate" href="{{filePaysheetThreeAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
                    <a *ngIf="!this.filePaysheetThreeDate" href="{{filePaysheetThreeAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>
                    <br>    
                    <a href="{{filePaysheetThreeAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
                    <a>&nbsp;</a>
                    <button matTooltip="Remplazar" (click)="changeFile('paysheet_three',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
                    <a>&nbsp;</a>
                    <button matTooltip="Eliminar" (click)="deleteFile('paysheet_three',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button> 
                    <p class="fs-12px" style="color:red" *ngIf="!this.filePaysheetThreeDate" >Documento vencido</p>
                  </div> 
                </div>
            </div>
  		</section>
      <a>&nbsp;</a>
  		
      <div *ngIf="showClientType">
        <h2 class="fs-24px fw-normal m-0">Tómate una foto sosteniendo tu INE o Pasaporte donde salga tu rostro</h2>
    		<hr class="hr mt-2 mb-3" />
  		</div>
      
      <section *ngIf="showClientType" class="grid-row">
  			<div class="col-4 col-md-6 col-sm-12">
            	<p class="m-0 fs-12px">Que no se vea borrosa, se vean legibles los datos de tu identificación y que este vigente.</p>
              <div *ngIf="!this.showSelfie">
                <app-upload-file (fileChange)="onFileChange($event, 'selfie')">
                </app-upload-file>
                <ng-container *ngIf="filesForm.get('selfie').touched">
                    <mat-error class="fs-12px" *ngIf="filesForm.get('selfie').hasError('required')">Este archivo es obligatorio.</mat-error>
                    <mat-error class="fs-12px" *ngIf="filesForm.get('selfie').hasError('invalidFileType')">
                      {{invalidFileMessage}}
                    </mat-error>
                </ng-container>
              </div>

              <div *ngIf="this.showSelfie && fileSelfieAux" style="text-align:center;">   
                <div class="col-12">
                  <a *ngIf="this.fileSelfieDate" href="{{fileSelfieAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
                  <a *ngIf="!this.fileSelfieDate" href="{{fileSelfieAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>  
                  <br>  
                  <a href="{{fileSelfieAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
                  <a>&nbsp;</a>
                  <button matTooltip="Remplazar" (click)="changeFile('selfie',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
                  <a>&nbsp;</a>
                  <button matTooltip="Eliminar" (click)="deleteFile('selfie',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button> 
                  <p class="fs-12px" style="color:red" *ngIf="!this.fileSelfieDate" >Documento vencido</p>
                </div> 
              </div>
        </div>
  		</section>
      <a>&nbsp;</a>

     
      <h2 class="fs-24px fw-normal m-0">Identificación, Estado de cuenta completo y Comprobante de domicilio</h2>
      <hr class="hr mt-2 mb-3" />

      <section class="grid-row">
        <div class="col-4 col-md-6 col-sm-12"> 
          <p class="m-0 fs-14px">Foto de frente de INE o IFE vigente</p>
          <p class="mt-0 mb-3 fs-12px">(Pasaporte/IFE/INE)</p>
          <div *ngIf="!this.showIne"> 
              <app-upload-file (fileChange)="onFileChange($event, 'ine')"
                controlLabel="No cortada, no tachada, legible y alta resolución.">
              </app-upload-file>
              <ng-container *ngIf="filesForm.get('ine').touched">
                <mat-error class="fs-12px" *ngIf="filesForm.get('ine').hasError('required')">Este archivo es obligatorio.</mat-error>
                <mat-error class="fs-12px" *ngIf="filesForm.get('ine').hasError('invalidFileType')">
                  {{invalidFileMessage}}
                </mat-error>
              </ng-container>
          </div>

          <div *ngIf="this.showIne && fileIneAux" style="text-align:center;">   
            <div class="col-12">
              <a *ngIf="this.fileIneDate" href="{{fileIneAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a> 
              <a *ngIf="!this.fileIneDate" href="{{fileIneAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a> 
              <br>   
              <a href="{{fileIneAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
              <a>&nbsp;</a>
              <button matTooltip="Remplazar" (click)="changeFile('ine',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
              <a>&nbsp;</a>
              <button matTooltip="Eliminar" (click)="deleteFile('ine',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button> 
              <p class="fs-12px" style="color:red" *ngIf="!this.fileIneDate" >Documento vencido</p>
            </div> 
          </div>
        </div>

        <div class="col-4 col-md-6 col-sm-12">
          <p class="m-0 fs-14px">Estado de cuenta de nómina completo</p>
          <p class="mt-0 mb-1 fs-12px">(Donde te deposita la empresa)</p>
          <div *ngIf="!this.showBankAccount">
            <app-upload-file (fileChange)="onFileChange($event, 'bank_account')"
                controlLabel="Carátula legible y no tachada. máx. 3 meses de antigüedad.">
            </app-upload-file>
            <ng-container *ngIf="filesForm.get('bank_account').touched">
              <mat-error class="fs-12px" *ngIf="filesForm.get('bank_account').hasError('required')">Este archivo es obligatorio.</mat-error>
              <mat-error class="fs-12px" *ngIf="filesForm.get('bank_account').hasError('invalidFileType')">
                {{invalidFileMessage}}
              </mat-error>
            </ng-container>
          </div>

          <div *ngIf="this.showBankAccount && fileBankAccountAux" style="text-align:center;">   
            <div class="col-12">
             <a *ngIf="this.fileBankAccountDate" href="{{fileBankAccountAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a> 
             <a *ngIf="!this.fileBankAccountDate" href="{{fileBankAccountAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a> 
             <br>   
              <a href="{{fileBankAccountAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
              <a>&nbsp;</a>
              <button matTooltip="Remplazar" (click)="changeFile('bank_account',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button>
              <a>&nbsp;</a>
              <button matTooltip="Eliminar" (click)="deleteFile('bank_account',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
              <p class="fs-12px" style="color:red" *ngIf="!this.fileBankAccountDate">Documento vencido</p>
            </div>      
          </div>
        </div>


        <div class="col-4 col-md-6 col-sm-12">
          <p class="m-0 fs-14px">Foto de comprobante de domicilio</p>
          <p class="mt-0 mb-3 fs-12px">(Luz/Agua/Teléfono fijo)</p>
          <div *ngIf="!this.showProofAddress">
            <app-upload-file (fileChange)="onFileChange($event, 'proof_address')"
                controlLabel="Comprobante de domicilio. máx. 3 meses de antigüedad.">
            </app-upload-file>
            <ng-container *ngIf="filesForm.get('proof_address').touched">
              <mat-error class="fs-12px" *ngIf="filesForm.get('proof_address').hasError('required')">Este archivo es obligatorio.</mat-error>
              <mat-error class="fs-12px" *ngIf="filesForm.get('proof_address').hasError('invalidFileType')">
                {{invalidFileMessage}}
              </mat-error>
            </ng-container>
          </div>

          <div *ngIf="this.showProofAddress && fileProofAddressAux" style="text-align:center;">   
            <div class="col-12">
             <a *ngIf="this.fileProofAddressDate" href="{{fileProofAddressAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
             <a *ngIf="!this.fileProofAddressDate" href="{{fileProofAddressAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>
             <br>    
              <a href="{{fileProofAddressAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
              <a>&nbsp;</a>
              <button matTooltip="Remplazar" (click)="changeFile('proof_address',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
              <a>&nbsp;</a>
              <button matTooltip="Eliminar" (click)="deleteFile('proof_address',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button> 
              <p class="fs-12px" style="color:red" *ngIf="!this.fileProofAddressDate">Documento vencido</p>
            </div>      
          </div>      
        </div>


        <div class="col-4 col-md-6 col-sm-12">
           <a>&nbsp;</a>
          <p class="m-0 fs-14px">Foto reverso de INE o IFE vigente </p>
          <p class="mt-0 mb-1 fs-12px">(No es necesario si utilizaste Pasaporte)</p>
          <div *ngIf="!this.showAdditionalFile">
            <app-upload-file (fileChange)="onFileChange($event, 'additional_file')"
                controlLabel="No cortada, no tachada, legible y alta resolución.">
            </app-upload-file>
            <ng-container *ngIf="filesForm.get('additional_file').touched">
              <mat-error class="fs-12px" *ngIf="filesForm.get('additional_file').hasError('invalidFileType')">
                {{invalidFileMessage}}
              </mat-error>
            </ng-container>
          </div>

          <div *ngIf="this.showAdditionalFile && fileAdditionalFileAux" style="text-align:center;" >   
            <div class="col-12">
             <a *ngIf="this.fileAdditionalDate" href="{{fileAdditionalFileAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
             <a *ngIf="!this.fileAdditionalDate" href="{{fileAdditionalFileAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>
             <br>  
              <a href="{{fileAdditionalFileAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
              <a>&nbsp;</a>
              <button matTooltip="Remplazar" (click)="changeFile('additional_file',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
              <a>&nbsp;</a>
              <button matTooltip="Eliminar" (click)="deleteFile('additional_file',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
              <p class="fs-12px" style="color:red" *ngIf="!this.fileAdditionalDate">Documento vencido</p>
            </div>      
          </div>
        </div>
      </section>
      <br>
      <div style="text-align: center">
        <p class="fs-14px" class="mat-error-custom mb-2">{{general_error}}</p>
        <p *ngIf="in_progress">{{generalMessage}}</p>
      </div>
      <div class="loan-request-main-action">
        <button class="mat-rounded-button"
          mat-flat-button
          color="primary"
          type="button"
          [disabled]="in_progress"
          (click)="activateConfirmButton()">
          Guardar
        </button>
      </div>

  

      </form>
	 
      </mat-card> 
    </div>
  </div>
</main>

<br><br>
<app-loan-footer></app-loan-footer>