/* import settings
 ******************************************************************************/
 @import '../../../../assets/sass/settings/all';
 @import '../../../../assets/sass/tools/all';

 @import 'auth-settings';
 @import 'auth-content';
 @import 'auth-header-sidenav';
 @import 'auth-forms';
 @import 'auth-responsive';
 @import 'auth-support';

 .heading__block {
    height: 80px;
    visibility: hidden;
 }