/*
    styles for auth header
*/

.auth {
  display: flex;
  flex-direction: column;
  background-color: $auth-bg-color;

	&-header-sidenav {
		height: 0;
		position: fixed;
		top: 59px;
	}
		
	&-header-sidenav .auth-header__phone {
		margin-top: -6px;
		width: 23px;
		height: auto;
  }
  
}
