/*
    styles for auth content
*/

.auth-content {
  /*background: url("../../../../assets/img/fondos/fondos_top.svg") no-repeat 100% 0px,
              url("../../../../assets/img/fondos/fondos_bottom.svg") no-repeat right bottom;*/

  box-sizing: border-box;
  display: block;
  /*margin-top: 60px;*/
  padding: 0;
  position: relative;
  overflow: hidden;
	z-index: 1;

  /* spacing */
  &__block-description {
    max-width: 850px;
  }

  &__title,
  &__login,
  &__description,
  &__about,
  &__contact {
    padding: 0 77px;
  }

  /************************************      titles      */
	&__title {
    letter-spacing: 4.67px;
    line-height: 34px;
  }

  &__block-title {
    letter-spacing: -1.15px;
  }

  &__block-lg-title {
    margin: 0;
    padding: 58px 0;
  }

  &__block-title,
  &__block-lg-title--border {
    position: relative;
  }

  &__block-title::after,
  &__block-lg-title--border::after {
    background-color: $color-brand-accent;
    content: "";
    height: 4px;
    position: absolute;
  }

  &__block-title::after {
    border-radius: 4.5px;
    bottom: -18px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
  }

  &__block-lg-title--border::after {
    border-radius: 4.5px 0 0 4.5px;
    right: -77px;
    top: -40px;
    width: 600px;
  }

  /************************************      video      */
	&__video {
    background-color: $color-black;
    //background-image: url("../../../../assets/img/video.png");
    background-position-x: -4px;
    height: 361px;
    margin-left: auto;
    width: 600px;
	}

  /* about */
  &__about {
    background: url("../../../../assets/img/fondos/fondo_azul.svg") no-repeat left top;
  }

  /************************************      features      */
	&__feature {
    display: flex;
    margin-bottom: 5.55em;
    padding: 0;
  }

	&__feature-img {
    height: 100px;
    margin: auto 25px auto 18px;
    width: auto;
	}

  &__feature-label {
    font-family: "Intro Black";
    margin:0;
    text-transform: uppercase;
  }

  &__feature-detail { margin-bottom:0; }

  /************************************      contact      */

  &__contact {
    padding-bottom: 2.5rem;
  }

  /************************************      hr      */
  &__start {
    padding-top: 60px;
    background: transparent;
    height: 0;
    border-color: transparent;
  }

  /**** foundations */
  &__foundations {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    height: auto;
    margin-top: 2em;
    text-align: center;
    padding: 2em 1em .5em;
  }

  &__foundations .auth-content__block-title::after {
    height: 0;
  }

  &__foundations-img {
    display: flex;
    align-items: center;
    margin: auto;
    width: calc(100vw - 40%);
  }

  &__foundations-img figure {
    width: 100%;
    height: 180px;
  }

  &__foundations--infal {
    background: url('/assets/img/logos_foundations/infal.svg');
  }

  &__foundations--guardado {
    background: url('/assets/img/logos_foundations/andres_guardado.svg');
  }

  &__foundations--infal,
  &__foundations--guardado {
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
  }
}


/* NEW CODE FOR IXHUA PUBLIC */
/*Note: Re-connect the assets URL. Lines: 54*/
body{
  font-family: 'Roboto', sans-serif!important;
  margin:0;
}
.home-container{
  display:block;
  /*margin-top: 20px;*/
}
.block {
    margin: 0px;
    padding: 50px;
    /*margin-top: 2em;*/
    background-color: #ececec;
  display: flow-root;
}
.home1 h1{color:white;text-align: center;}
.home1,.home2{display:block;width: 50%;height:100vh;float:left;
}
.home1{
  background-image: linear-gradient(to right, #4985ae, #202945);
}
.home1 h4 {
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #e0e01a;
    border-inline-end-width: inherit;
    max-width: 430px;
    margin: 15px auto;
    font-size: 25px;
    font-weight: 100;
    margin-top: 35px;
  padding-bottom: 10px;
}
.home1 p{
  color:#fff;
  text-align: center;
}
.home1 input{
  display: block;
  text-align:center;
  margin:0 auto;
  border-radius: 5px;
  font-size:14px;
  padding:5px;
  font-weight: bold;
  border:1px solid #e0e01a;
}
.tiny-text{font-size:16px;}
.iva{
  font-size:10px;

}
.formato-formulario{padding:5% 15%;}

.contenedor h2{
  text-align: center;
  font-size:50px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: #202945;
}
.contenedor h3{
  text-align: center;
  font-size:35px;
  font-weight: regular;
  color:#595959;
  padding: 0px;
  margin: 0px;
}
.auth-footer {
  background-image: linear-gradient(to right, #4985ae, #202945);
    color: #fff;
    padding: 109px 126px 71px 86px;
}
/*HOME FIRST SECTION*/
.salaryBlock,.amountsBlock,.textAmountsBlock{display:block;padding-left: 20%;padding-bottom: 25px;
    }
.textAmountsBlock{display: inline-block;padding-bottom:0px;
}
.textAmountsBlock p{width:134px;float: left;padding-bottom: 0;margin-bottom: 0;}

#n1{width: 250px;
margin-bottom: 5px;text-align:left;}
.simulator input{
  width:100%;
  text-align: left;
  float:left;
  margin-right: 5px;
  height:34px;
  color:#202945;}
#calcular{
  /*background: linear-gradient(111deg,#fbb03b 0%,#e0e01a 100%) !important;*/
  margin: 0;
  padding: 5px;
  color: #202945;
  font-size:18px;
  border: none;
  font-weight: normal;
  cursor: pointer;
  width: 150px;
  height:34px;
  float:left;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  background-color: #e0e01a;
  }


  .monto{background: linear-gradient(111deg,#fbb03b 0%,#e0e01a 100%) !important;border-radius: 5px;width:60%;}
  .monto p{color:White;padding: 15px;}
  .camposM{
    display: block;
    width: 120px!important;
    background-color: rgba(255,255,255,1.0);
    color: white;}
  #montoproyecto{
    height: 30px;
    width: 100px!important;
    margin-left: 0;
    padding-left: 0;
    border: 4px!important;
    font-weight: bold!important;
    font-size:16px!important;
    z-index: 10;
  }
.signs {
    width: 10px;
    height: 34px;
    display: block;
    display: flex;
    float: left;
    vertical-align: middle;
    color: white;
    padding: 8px 0px 8px 0px;
    margin-right: 5px;
}

/*BORDER EFFECT IN AMOUNT*/
.box .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

.box {
    width: 130px;
    height: 34px;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.box::before {
  content: '';
  position: absolute;
  width: 134%;
  height: 450%;
  background: repeating-linear-gradient(
      white 0%,
      white 7.5px,
      yellow 7.5px,
      yellow 15px,
      white 15px,
      white 22.5px,
      yellow 22.5px,
      yellow 30px);
  transform: translateX(-20%) translateY(-20%) rotate(-45deg);
  animation: animate 30s linear infinite;
}

.box .content {
  position: relative;
  background-color: white;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  font-family: sans-serif;
  z-index: 2;
}

.box,
.box .content {
  border-radius: 5px;
}

.box .content h2 {
  color: deeppink;
}

.box .content p {
  color: dimgray;
}

@keyframes animate {
  from {
    background-position: 0;
  }

  to {
    background-position: 0 450px;
  }
}
/*END BORDER EFFECT IN AMOUNT*/

#show10{
  display:none;
}
.show{
}
.us .contenido{
  margin-top:100px;
}
.us-text{
  background-image: linear-gradient(to right, #4985ae, #202945);
}
.us-image{
  margin-top: -90px;
  float:left;
}
.us p{
  color:white;
  padding:20px 30px 20px 10px;
  text-align: justify;
  font-size:18px;
  font-weight: lighter;
}

/* BODY */

.signs {
    width: 10px;
    height: 34px;
    display: block;
    display: flex;
    float: left;
    vertical-align: middle;
    color: white;
    padding: 8px 0px 8px 0px;
    margin-right: 5px;
}

.aboutus .contenido{
  margin:0 auto;
  margin-top:100px;
  max-width: 1200px;
  text-align: center;
}
.testimonials .contenido{
  padding:0 10%;
  text-align: center;
}
.testimonials img {
  max-width: 100%;
  height: auto;
}
.aboutus-text{
  background-image: linear-gradient(to right, #4985ae, #202945);
}
.aboutus-image{
  margin-top: -90px;
  float:left;
}
.aboutus p{
  color:white;
  padding:20px 30px 20px 10px;
  text-align: justify;
  font-size:18px;
  font-weight: lighter;
}
.programs{
  display: table-cell;
    box-shadow: 0px 0px 15px grey;
    background-color: white;
    height: auto;
    width: 100%;
    padding: 0px;
}
.programs ul{
  padding:0px;
  margin:0px;
}
.programs ul li{
  list-style-type: none;
  float:left;
  display: block;
}

.block {
    margin: 0px;
    padding: 50px;
    /*margin-top: 2em;*/
    background-color: #ececec;
  display: flow-root;
}
.auth-footer {
  background-image: linear-gradient(to right, #4985ae, #202945);
  color: #fff;
  padding: 109px 126px 71px 86px;
}

.auth-footer a,.auth-footer a:hover,.auth-footer a:visited {
color:#ffffff;
  text-decoration: none;
}

.footerflex ul li{
  width:25%;
  float: left;
  list-style-type: none;
}
.footerflex li{
}
.footerTitle{
  font-weight:bold;
  font-size: 20px;
  text-transform: uppercase;
  margin:0;padding:0;
}


.top-announcement{
  text-align: center;
  background-position: left;
  background-repeat: no-repeat;
    background-color: #4985ae;
  background-image: url("../../../../assets/img/anticipa-tu-nomina-sin-intereses-sin-texto.svg");
}
.top-announcement img{
  max-height:150px; 
}

