@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .auth-content__feature .auth-content__feature-box {
    display: block!important;
    width: calc(100% - 115px);
  }  

  .auth-footer__list {
    display: block;
    width: 400px;
    float: right;
  }

  .auth-footer__list-item {
    float: left;
  }

  .auth-content__foundations {
    display: inline-block!important;
    width: 100%!important;
  }

  .auth-content__foundations,
  .auth-content__foundations-img {
    height: 100%!important;
  }

  .auth-content__foundations--infal,
  .auth-content__foundations--guardado {
    float: left;
    width: 50%!important;
  }
}
