/*
    styles for auth forms
*/

.auth-content {

  &__login-form {
    margin-top: 31.5px;
  }

  &__login-form-button {
    border-radius: 4px!important;
    height: 60px;
    width: 100%;
  }

  &__login-form  &__login-form-action {
    text-align: center;
  }

  &__login-form  &__login-form-action a {
    font-family: "Intro Book";
    font-size: 12px;
    text-decoration: none;
  }

  &__login-form-action a:hover {
    opacity: .6;
  }

  &__contact-form-button {
    border-radius: 27px!important;
    color: $auth-contact-button-text-color!important;
    max-width: 173px;
  }

  &__login-form-button,
  &__contact-form-button {
    font-size: $auth-forms-fs-button;
  }

  &__message {
    max-width: 360px;
  }
  
  &__message &__login-form {
    margin-top: 8em;
  }

  &__message h2 {
    line-height: 26px;
  }
  
  /************************************      login card & contact card      */
  
  &__login-top-1 {
    font-size: medium;
    font-weight: bold;
  }

  &__login-top-2 {
    font-size: medium;
    font-weight: bold;
  }

  &__rfc-top {
    font-size: medium;
    font-weight: bold;
  }

  &__login-card {
    min-height: 344px;
    min-width: 360px;
  }


  &__rfc-confirm-card {
    min-height: 344px;
    min-width: 360px;
  }

  &__login-card-wrapper {
    max-width: 360px;
  }

  &__login,
  &__contact {
    align-items: center;
  }

  mat-card.auth-content__login-card,
  mat-card.auth-content__rfc-confirm-card,
  mat-card.auth-content__contact-card {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.2);
  }

  mat-card.auth-content__login-card {
    border-radius: 6px;
    padding: 31px 40px 41px;
  }

  mat-card.auth-content__rfc-confirm-card {
    border-radius: 6px;
    padding: 31px 40px 41px;
  }

  mat-card.auth-content__contact-card {
    border-radius: 4px;
    padding: 45.5px 49.5px 48.5px;
    width: 417px;
  }
  
  &__contact-form mat-form-field.mat-form-field-box .mat-form-field-infix {
    border-bottom: 0.98em solid transparent;
    border-top: 1.16em solid transparent;
  }

  &__contact-labels {
    margin-left: auto; 
  }
    
  &__contact-question { color: $auth-title-question-text-color; }

  &__contact-message {
    color: $color-white;
    font-family: "Intro Black";
    font-size: 70px;
  }
}
 



