/*
    auth settings (variables)
*/

/************************************      auth header      */
$auth-bg-color: $color-white;

$auth-border-color: $color-light-gray;

/************************************      auth text      */
$auth-contact-button-text-color: rgba($dark-text, .51);
$auth-title-question-text-color: rgba($dark-b-text,.36);

/************************************      auth forms      */
$auth-forms-fs-button: 24px;

/************************************      auth responsive      */
$auth-responsive-ml-video: 117px;