/*
  styles for auth responsive
*/
@media only screen and (min-width: $xl-two-breakpoint) {
  
  .auth-content__foundations-img {
    width: calc(100vw - 60%);
  }

  .auth-content__foundations-img figure {
    height: 280px;
  }

  .auth-content__login-card {
    margin-bottom: 1.5em;
    margin-right: 5em;
    margin-left: 5em;
  }

  .auth-content__rfc-confirm-card {
    margin-bottom: 1.5em;
    margin-right: 6em;
    margin-left: 6em;
  }

  button.auth-content__login-top-1 {
    margin-right: 15em;
    margin-left:  15em;
  }

  button.auth-content__login-top-2 {
    margin-right: 11em;
    margin-left: 11em;
  }

  button.auth-content__rfc-top {
    margin-right: 15em;
    margin-left:  15em;
  }

}

@media only screen and (min-width: $xl-breakpoint) {
 .auth-content__login {
    justify-content: center;
  }
  
  .auth-content__video {
    margin-left: $auth-responsive-ml-video;
  }

  .auth-content__login-card {
    margin-bottom: 1.5em;
    margin-right: 5em;
    margin-left: 5em;
  }

  .auth-content__rfc-confirm-card {
    margin-bottom: 1.5em;
    margin-right: 5em;
    margin-left: 5em;
  }

}

@media only screen and (min-width:  1053px) and (max-width: $xl-breakpoint) {
  .auth-content__feature-label {
    min-height: 46px;
  }

  .auth-content__login-card {
    margin-bottom: 1.5em;
    margin-left: 9em;
  }

  .auth-content__rfc-confirm-card {
    margin-bottom: 1.5em;
    margin-left: 5em;
  }

  button.auth-content__login-top-1 {
    margin-left: 18em;
  }

  button.auth-content__login-top-2 {
    margin-left: 14em;
  }

  button.auth-content__rfc-top {
    margin-left: 14em;
  }
}

@media only screen and (min-width:  1031px) and (max-width: 1053px) {
  .auth-content__feature-label {
    min-height: 69px;
  }
}

@media only screen and (max-width: $md-second-two-breakpoint) {
  .auth-content {
    padding: 0;
  }

  .auth-content__title {
    padding: 0 .6em;
  }

  .auth-content__login {
    justify-content: center;
  }

  .auth-content__video {
    margin-left: 0;
  }

  .auth-content__login-card {
    margin-bottom: 1.5em;
    margin-right: .5em;
    margin-left: .5em;

  }

  .auth-content__rfc-confirm-card {
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
   

  }

  .auth-content__description {
    margin-bottom:0; 
  }

  .auth-content__block-lg-title--border {
    padding-top: 30px;
  }

  .auth-content__contact {
    padding: 0;
  }

  .auth-content__contact-message {
    margin-left: auto;
    margin-right: 1em;
  }

  .auth-content__foundations-img {
    width: calc(100vw - 25%);
  }

  button.auth-content__login-top-1 {
    margin-left: 8em;
  }

  button.auth-content__login-top-2 {
    margin-left: 6em;
  }

  button.auth-content__rfc-top {
    margin-left: 8em;
  }
}

@media only screen and (max-width: $md-breakpoint){
  .auth-content__contact {
    flex-direction: column-reverse;
  }

  .auth-content__contact-labels {
    background: url("../../../../assets/img/fondos/fondos_bottom.svg") no-repeat 0 0%/100%;
    margin-left: 0;
    width: 100%;
  }

  .auth-content mat-card.auth-content__contact-card {
    width: 100%;
    padding: 2em 2em;
  }

  .auth-content__feature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .auth-content__feature-label {
    text-align: center;
    font-size: 19px;
    margin-top: 1em;
  }

  .auth-content__feature:nth-child(even) .auth-content__feature-img {
      padding-left: 0;
  }

  .auth-content__feature-img {
    margin:0;
  }

  .auth-content__block-lg-title {
    text-align: center;
    font-size: 45px;
  }
  
  .auth-content__login-card {
    margin-right: 0;
    
  }

   .auth-content__rfc-confirm-card {
    margin-right:0;
    margin-left:0;
  }

}

@media only screen and (max-width: $sm-breakpoint) {
  .auth-content {
    background: url("../../../../assets/img/fondos/fondos_top.svg") no-repeat right 0px / 600px,
                url("../../../../assets/img/fondos/fondos_bottom.svg") no-repeat 0 0 / 0;
  }

  .auth-content__about {
    background: url("../../../../assets/img/fondos/fondo_azul.svg") no-repeat left top/ 55%;
  }

  .auth-content__title {
    padding: 0 .5em;
  }

  .auth-content__video {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 280px;
    margin: auto;
  }

  .auth-content__block-lg-title--border::after {
    width: 155px;
  }


  button.auth-content__login-top-1 {
    margin-left: 5.5em;
  }

  button.auth-content__login-top-2 {
    margin-left: 5.5em;
  }

  button.auth-content__rfc-top {
    margin-left: 9em;
  }

}

@media only screen and (max-width: 520px) {

  button.auth-content__login-top-1 {
    margin-left: 8em;
  }

  button.auth-content__login-top-2 {
    margin-left: 4em;
  }

   button.auth-content__rfc-top {
    margin-left: 8em;
  }

}

@media only screen and (max-width: 600px) {

  button.auth-content__login-top-1 {
    margin-left: 9em;
  }

  button.auth-content__login-top-2 {
    margin-left: 5em;
  }

  button.auth-content__rfc-top {
    margin-left: 9em;
  }

}

@media only screen and (max-width: $xs-breakpoint) {
  .auth-content {
    background: url("../../../../assets/img/fondos/fondos_top.svg") no-repeat right 0px/600px, 
                url("../../../../assets/img/fondos/fondos_bottom.svg") no-repeat 0 0/0;
    margin-top: 48px;
    width: 100%; 
  }

  .auth-content__title {
    font-size: 14px;
    line-height: 17px;
    margin: 2.5em 0 1.5em 0 !important;
  }

  .auth-content__login {
    padding: 0;
  }

  .auth-content__login-card-wrapper,
  .auth-content__message {
    max-width: 100%;
  }

  .auth-content__login-card h2,
  .auth-content__login-card p,
  .auth-content__login-form {
    padding: 0 18.5px;
  }

  .auth-content mat-card.auth-content__login-card {
    min-width: 100%;
    padding: 2em;
  }

  .auth-content mat-card.auth-content__rfc-confirm-card {
    min-width: 100%;
    padding:3em;
  }

  //video
  .auth-content__video {
    height: 194px;
    width: calc(100% - 3em);
  }

  .auth-content__block-title {
    font-size: 20px;
  }

  .auth-content__block-lg-title--border {
    font-size: 29px;
    padding-top: 10px;
  }
 
  .auth-content__description {
    margin:0;
    padding: .5rem 1rem;
  }

  .auth-content__contact-question {
    font-size: 22px;
    margin-top: auto;
    padding-right: 1em;
  }

  .auth-content__contact-message {
    font-size: 35px;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    padding-right: .5em;
  }


  .auth-content__about {
    padding: 0 38px;
  }

  .auth-content__contact-labels {
    align-items: flex-end;
    min-height: 170px;
  }

  .auth-content mat-card.auth-content__contact-card {
    width: 92%;
    padding: 1em;
    box-shadow: none;
    border-top: 2px solid $auth-border-color;
  }

  .auth-content__feature {
    margin-bottom: 1.4em;
  }

  .auth-content__feature:last-child {
    margin-bottom: .5em;
  }
  
  .auth-content__feature:nth-child(odd) .auth-content__feature-detail {
    padding-right: 0;
  }

  .auth-content__foundations-img {
    flex-direction: column;
  }

  button.auth-content__login-top-1 {
    margin-left: 9.5em;
    margin-right: 7.5em;
  }

  button.auth-content__login-top-2 {
    margin-left: 5.5em;
    margin-right: 3.7em;
  }

   button.auth-content__rfc-top {
    margin-left: 9.5em;
    margin-right: 7.5em;
  }


  .auth-content__start {
    padding-top: 0px;
  }

}


@media only screen and (max-width: 380px) {

  button.auth-content__login-top-1 {
    margin-left: 8.5em;
    margin-right: 8.5em;
  }

  button.auth-content__login-top-2 {
    margin-left: 5em;
    margin-right: 5em;
  }

  button.auth-content__rfc-top {
    margin-left: 8.5em;
    margin-right: 8.5em;
  }

}



/*RESPONSIVE CODE FOR IXHUA PUBLIC*/
@media only screen and (max-width: 768px) {
    .home-container {}
    .home1, .home2 {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .block {
        margin: 5px;
        padding: 5px;
        margin-top: 2em;
    }
    .contenedor h2 {
        font-size: 30px;
    }
    .contenedor h3 {
        font-size: 25px;
    }
    #n1 {
        width: 250px;
        margin-bottom: 5px;
        text-align: left;
    }
    .salaryBlock, .amountsBlock, .textAmountsBlock {
        padding-left: 0%;
        width: 100%;
    }
    .simulator input {}
    .camposM {
        width: 30% !important;
    }
    .textAmountsBlock p {
        width: 33%;
    }
    #calcular {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 50px;
    }
    #n1 {
        width: 100%;
    }
    .formato-formulario {
        padding: 5% 5%;
    }
    .us-image{
      max-width: 100%;
    }
    .programs ul li{
      display: contents;
    }
    .footerflex ul li{
      width:100%;
      float: left;
      list-style-type: none;
    }
    .aboutus-image{
      width: 100%;
      position: center;
    }

}
/*TABLET*/
@media only screen and (max-width: 769px) and(max-width: 1365px) {
  .home1, .home2 {
      height: auto;
      padding: 10px;
    }
  #n1 {
    width: 250px;
    margin-bottom: 5px;
    text-align: left;
  }
  .salaryBlock, .amountsBlock, .textAmountsBlock {
    padding-left: 0%;
    width: 100%;
  }
  .simulator input {}  
  .camposM {
    width: 25% !important;
  }
  .textAmountsBlock p {
      width: 30%;
  }
  #calcular {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  #n1 {
    width: 100%;
    }
  .programs ul li{
    display: contents;
  } 
  .footerflex ul li{
    width:100%;
    float: left;
    list-style-type: none;
  }

  #montoproyecto{
    height: 30px;
    width: 100px!important;
    margin-left: 2em;
    padding-left: 0;
    border: 4px!important;
    font-weight: bold!important;
    font-size:13px!important;
    z-index: 10;
  }


  .box .content {
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
  }

  .box {
      width: 105px;
      height: 34px;
      box-sizing: border-box;
      padding: 5px;
      position: relative;
      overflow: hidden;
  }

  .box::before {
    content: '';
    position: absolute;
    width: 140%;
    height: 450%;
    background: repeating-linear-gradient(
        white 0%,
        white 7.5px,
        yellow 7.5px,
        yellow 15px,
        white 15px,
        white 22.5px,
        yellow 22.5px,
        yellow 30px);
    transform: translateX(-20%) translateY(-20%) rotate(-45deg);
    animation: animate 30s linear infinite;
  }

  @keyframes animate {
  from {
    background-position: 0;
  }

  to {
    background-position: 0 450px;
    }
  }
}
/*COMPUTER REGULAR*/ 
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  .howworks .contenido, .testimonials .contenido {
      padding:0 10%;
  }
  .testimonials .contenido{
    padding:0 10%;
  }

}
/*COMPUTER LARGE*/
@media only screen and (min-width: 1920px) and (max-width: 3000px) {
  .home1 h1 {
    font-size: 50px;
  }
  .howworks .contenido, .testimonials .contenido {
        padding:0 20%;
    }
  .salaryBlock, .amountsBlock, .textAmountsBlock {
    padding-left: 30%;
  }
  .testimonials .contenido{
  padding:0 10%;
  }

  .top-announcement{
    background-image: url("../../../../assets/img/anticipa-tu-nomina-sin-intereses.svg");
  }
}



