<section class="flex__column" style="padding-left: 20px; padding-right: 20px;">
	<div class="grid-row" style="display: flex;">

		<div class="col-12 col-md-12 col-sm-12">
			<p>
			<span class="dashboard-title">Inicio > Recursos Humanos </span> <br>
			<span class="dashboard-subtitle">Mis Colaboradores</span>
			</p>
			<hr class="hr"/>
		</div>

	</div>

	<div class="grid-row user-widget-2" style="display: flex;">
		<div class="col-4 col-md-12 col-sm-12 media" *ngFor="let member of teamList">
			<div class="grid-row">
				<div class="media-body vertical-align: super;">
					<a routerLink="{{ member?.id }}"
						routerLinkActive="active"
						#hrMyTeamActive="routerLinkActive">
						<img class="rounded-circle d-flex align-self-center" src="/assets/ixhua-colors/people/avatar.png" alt="">
					</a>
				</div>
				<div class="media-body vertical-align: super;">
					<a routerLink="{{ member?.id }}"
						routerLinkActive="active"
						#hrMyTeamActive="routerLinkActive">
						<h4>{{ member?.name }}</h4>
					</a>
					<span class="user-widget-2-job-position">{{ member?.job_position }}</span>
				</div>
			</div>
		</div>
	</div>

</section>

<app-loan-footer></app-loan-footer>