<mat-sidenav-container class="auth" 
  [ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
  (hasBackdrop)="true" 
  (backdropClick)="_checkClickInBack();">

  <mat-sidenav-content>
    <!-- header component -->
    <app-header [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)">
   </app-header>

    <!--auth content -->
    <div class="auth-content grid-container">
      <hr class="auth-content__start" id="start">
      <h1 class="auth-content__title fs-28px fw-300 fc-dark text-uppercase text-center my-4 mx-auto"><b>ACTIVA TU CUENTA </b>CON CELULAR</h1>

      <!-- auth login form -->
      <div class="grid-row auth-content__login">
        <mat-card class="auth-content__login-card" style="margin-bottom: 1.5em;margin-right: 26em;margin-left: 27.5em;">   
          <div class="auth-content__login-card-wrapper">
              <h2 class="fs-28px fc-dark ff-Intro-Black m-0 pb-1">
                Ingresa nombre, celular y sueldo
              </h2>
              <p class="m-0 mb-1 ff-Intro-Book fs-15px">
                Tu celular sin espacios, sin guiones y sin paréntesis.
              </p>
              <form class="auth-content__login-form flex__column" [formGroup]="form">
                
                <mat-form-field class="mat-form-field-box mb-2"
                      floatLabel="never">
                    <input placeholder="Nombre Completo"
                        type="text"
                        autocomplete="off"
                        matInput
                        [minlength]="5"
                        formControlName="name">
                </mat-form-field>
                <p class="mat-error-custom mb-2"
                [innerHTML]="nameErrorMessage"
                [style.opacity]="form.controls.name?.touched ? 1 : 0"></p>


                <mat-form-field class="mat-form-field-box mb-2"
                      floatLabel="never">
                    <input placeholder="Ingresa tu celular a 10 digitos"
                        type="text"
                        autocomplete="off"
                        matInput
                        [minlength]="10"
                        [maxlength]="10"
                        [pattern]="'[0-9]*'"
                        formControlName="cell">
                </mat-form-field>
                <p class="mat-error-custom mb-2"
                [innerHTML]="cellErrorMessage"
                [style.opacity]="form.controls.cell?.touched ? 1 : 0"></p>


                <mat-form-field class="mat-form-field-box mb-2"
                      floatLabel="never">
                    <input placeholder="Sueldo mensual libre"
                        type="number"
                        autocomplete="off"
                        matInput
                        formControlName="salary">
                </mat-form-field>
                <p class="mat-error-custom mb-2"
                [innerHTML]="salaryErrorMessage"
                [style.opacity]="form.controls.salary?.touched ? 1 : 0"></p>
                
                  
                <div class="auth-content__login-form-action">
                  <a class="cursor-pointer text-center mt-2"
                    routerLink="/auth/activate-email">
                    Activar cuenta con correo electrónico
                  </a>

                  <p class="mat-error-custom mb-2"
                  [style.opacity]="form.controls.cell?.touched ? 1 : 0">{{general_error}}</p>

                  <button class="auth-content__login-form-button mat-rounded-button mt-2"
                    mat-flat-button
                    color="primary"
                    [disabled]="form.invalid && form.controls.checkbox?.touched"
                    (click)="activateConfirmButton()">
                      Activar
                  </button>
                </div>
              
              </form>
          </div>
        </mat-card>   
        
      </div>
    </div>

    <!-- auth footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
