<!--<div class="loan-request-totals">
  <div class="loan-request-totals__block">
    <h3 class="loan-request-totals-heading" [ngSwitch]="totals?.loan_unit">
      <span *ngSwitchCase="'$'">
        Total autorizado
      </span>
      <span *ngSwitchCase="'%'">
        Salario trabajado
      </span>
    </h3>
    <p class="loan-request-totals-value fc-accent">{{ totals?.total_loan | currency:'symbol':'$ ' }}</p>
  </div>
  <div class="loan-request-totals__block">
    <div class="loan-request-totals__sub-block">
      <h3 class="loan-request-totals-heading" [ngSwitch]="totals?.loan_unit">
        <span *ngSwitchCase="'$'">
          Monto solicitado
        </span>
        <span *ngSwitchCase="'%'">
          Total disponible
        </span>
      </h3>
      <p class="loan-request-totals-value fc-dark-opacity-03">{{ totals?.active_loan | currency:'symbol':'$ ' }}</p>
    </div>
    <div class="loan-request-totals__sub-block">
      <h3 class="loan-request-totals-heading" [ngSwitch]="totals?.loan_unit">
        <span *ngSwitchCase="'$'">
          Total disponible
        </span>
        <span *ngSwitchCase="'%'">
          Salario disponible
        </span>
      </h3>
      <p class="loan-request-totals-value fc-success">{{ totals?.available_loan | currency:'symbol':'$ ' }}</p>
    </div>
  </div>
</div> -->

<mat-card class="dashboard-card">

  
    <mat-card-title class="dashboard-bold-text">Tu saldo hasta ahora</mat-card-title>
  
  <mat-card-content>
    <div>
      <p [ngSwitch]="totals?.loan_unit" class="dashboard-totals-available-loan-title">
        <span *ngSwitchCase="'$'">
          Total disponible
        </span>
        <span *ngSwitchCase="'%'">
          Salario disponible
        </span>
      </p>
      <p class="dashboard-totals-available-loan">
        {{ totals?.available_loan | currency:'symbol':'$ ' }} mxn
      </p>
    </div>


    <div>
      <p [ngSwitch]="totals?.loan_unit" class="dashboard-totals-active-loan-title">
        <span *ngSwitchCase="'$'">
          Monto solicitado
        </span>
        <span *ngSwitchCase="'%'">
          Total disponible
        </span>
      </p>
      <p class="dashboard-totals-active-loan">
        {{ totals?.active_loan | currency:'symbol':'$ ' }} mxn
      </p>
    </div>

    <div>
     <button class="new-primary-button"
      mat-flat-button
      routerLink="/home">
        Solicitar adelanto
    </button>
    </div>

  </mat-card-content>
</mat-card>






