.mat-dialog-success {
  @media only screen and (max-width: $sm-second-two-breakpoint) {
    max-width: 85%!important;
    width: 85%!important;

    .modal-body {
      font-size: 12px;
    }
    .header h3, 
    .mat-rounded-button {
      font-size: 16px!important;
    }
  }
}

.mat-dialog-delete {
  &__buttons .mat-rounded-button:first-child {
    margin-right: .5em;
  }

  &__buttons .mat-rounded-button:second-child {
    margin-left: .5em;
  }

  @media only screen and (max-width: $xs-breakpoint) {
    &__buttons {
      flex-direction: column;
    }

    &__buttons .mat-rounded-button:first-child {
      margin-bottom: .5em;
      margin-right: 0;
    }
  
    &__buttons .mat-rounded-button:second-child {
      margin-top: .5em;
      margin-left: 0;
    }
  }
}