/*
 * CUSTOM BUTTON
*/

button.mat-rounded-button {
	border-radius: 4px!important;
}
button.mat-rounded-button.mat-primary[disabled],
button.mat-rounded-button.mat-accent[disabled] {
  background: $mat-rounded-button-disabled-bg!important;
}