/*
 * CUSTOM MATERIAL MAT CHECKBOX
 */

.mat-checkbox-box {
  background-color: $mat-checkbox-bg-color;
  padding: 9px 0;
  text-align: left;

  .mat-checkbox-label {
    font-size: 13px; 
    height: 100%;
    min-height: 32px;
    line-height: 16px;        
    white-space: normal;
    padding-right: 30px;
  }
    
  .mat-checkbox-inner-container {
    height: 18px;
    margin-left: 17px;
    margin-right: 30px;
    width: 18px;
  }

}