@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .mat-checkbox-box {
    display: block;
    text-align: center;
  }

  .mat-checkbox-layout {
    white-space: normal!important;
    position: relative;
  }

  .mat-checkbox-inner-container,
  .mat-checkbox-label {
    float: left;
  }

  .mat-checkbox-label {
    max-width: 250px;
    text-align: left;
    padding-right: 5px!important;
  }

  .mat-form-field.mat-form-field-type-mat-select .mat-form-field-infix {
    width: 100%!important;
  }
}
