/*
    mat-custom-components settings
*/

/************************************      form field box      */
$mat-text-color:                 rgba($color-brand-primary, .5);
$mat-text-primary-color:         $color-brand-primary;
$mat-border-color:               $color-light-gray;

$mat-checkbox-bg-color:          rgba($color-light-gray, .5);

$mat-warn-color:                 $color-brand-warn;

$mat-dark-color:                 $dark-text;
$custom-checkbox-inactive-color: rgba($dark-text, .5);
$custom-checkbox-color:          $color-blue;

$mat-rounded-button-disabled-bg: $color-light-gray;