mat-tab-group.mat-tab-group-reverse {
  flex-direction: row-reverse;
  align-items: center;

  .mat-tab-labels {
    flex-direction: column;
  }

  .mat-ink-bar {
    display: none;
  }

  .mat-tab-header {
    border-bottom-width: 0;
  }

  .mat-tab-body-wrapper {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.18);
  }

  .mat-tab-label {
    min-width: 80px;
    max-width: 80px;
  }
}