mat-radio-group.radio-button-group-custom {
  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple  {
    background-color: $custom-checkbox-color;
  }
  .mat-radio-outer-circle {
    border-color: $custom-checkbox-inactive-color;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $mat-dark-color;
  }
}