mat-slider.custom-slider {
    
    .mat-slider-wrapper {
      height: 6px;
    }
  
    .mat-slider-track-wrapper {
      border: 1px solid rgba(122,125,128,0.3);
      border-radius: 7.5px;    
      padding: 4px;
      height: 15px!important;
    }
  
    .mat-slider-track-background,
    .mat-slider-track-fill {
      height: 6px!important;
      background-color: #4fd774;
    }
  
    .mat-slider-thumb {
      top: -10px;
      height: 28px;
      width: 12px;
      border-radius: 8px;
      
      box-shadow: inset 0 0 0 3px rgba(122,125,128,0.19), 
                  inset 0 -3px 6px 0 rgba(122,125,128,0.2), 
                  0 1px 2px 0 rgba(171,175,179,0.6);
    } 
    &:not(.mat-slider-disabled).cdk-focused.mat-slider-thumb-label-showing .mat-slider-thumb,
    .mat-slider-thumb {
      transform: scale(1);
    }
    .mat-slider-thumb-label {
      right: -49px;
      top: -75px;
      width: 90px;
      height: 90px;
    }
  
    .mat-slider-track-background,
    &:hover .mat-slider-track-background,
    &.mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb-label,
    &.mat-accent .mat-slider-thumb-label {
      background-color: transparent;
    }
  
    &.mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb,
    .mat-slider-thumb {
      background-color: $mat-dark-color;
    }
  
    &.mat-accent .mat-slider-thumb-label-text {
      color: $mat-dark-color; 
      font-family: "Intro Book";
      font-size: 15px;
      opacity: 0.57!important;
    }

    .mat-slider-ticks,
    &.mat-slider-has-ticks .mat-slider-wrapper::after {
      display: none!important;
    }
  
    &.cdk-focused .mat-slider-thumb::before {
      content: '';
      position: absolute;
      top: -12px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 5px solid $color-black;;
    }
  }