/*
 * CUSTOM MATERIAL MAT ERROR
 */

 .mat-error-custom {
   color: $mat-warn-color;
   font-family: "Intro Book";
   font-size: 10px;
   margin: 0;

  &.show {
    visibility: visible;
  }

  &.hidden {
    visibility: hidden;
  }
 }