.pages-content {
  min-height: calc(100vh - 460px);
  padding-left: 8rem;
  padding-right: 8rem;
}

.page-title {
  color: $color-black;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.pages-content .grid-row {
  padding: 1em 2em;
}

.pages-table {
    width: 100%;
    text-align: center;
}

.pages-table, 
.pages-table th,
.pages-table td {
  border: 1px solid $color-black;
  border-collapse: collapse;
}

.pages-download {
  width: 100%;
  text-align: center;
  display: block;
  padding: 2em 0;
  color: $color-black;
}

@media only screen and (min-width: $xl-two-breakpoint) {
  .pages-content {
    padding-left: 20em; 
    padding-right: 20em; 
  }
}

@media only screen and (max-width: $md-second-breakpoint) {
  .pages-content {
    padding-left: 4em; 
    padding-right: 4em; 
  }

  .page-title {
    font-size: 26px;
  }
}

@media only screen and (max-width: $sm-second-two-breakpoint) {
  .pages-content .grid-row {
    padding: 1em 0;
  }
}