/*
 * ANGULAR MATERIAL CUSTOM THEME
 * documentation: https://material.angular.io/guide/theming
 */


// angular core
@import '~@angular/material/theming';

// font settings
// font-size/line-height/font-weight
$custom-typography: mat-typography-config(
  $font-family: '#{$body-family-font}',
  $headline: mat-typography-level(34px, 41px, bold),
  $title: mat-typography-level(20px, 25px, 500),
  $button: mat-typography-level($body-family-font, 1.3em, normal)
);

// angular material core mixin
@include mat-core($custom-typography);

// mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700)
$ixhua-app-primary: mat-palette($ixhua-blue-palette, 500); // primary color
$ixhua-app-accent:  mat-palette($ixhua-green-palette, 500); // accent color
$ixhua-app-warn:    mat-palette($ixhua-red-palette); // warn color

// Create the theme object (a Sass map containing all of the palettes).
$ixhua-app-theme: mat-light-theme($ixhua-app-primary, $ixhua-app-accent, $ixhua-app-warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($ixhua-app-theme);
