<div class="info-validation" mat-dialog-content>
  <button mat-button class="info-validation__close" matDialogClose>
    <mat-icon svgIcon="app-close"></mat-icon>
  </button>

  <div class="info-validation__img"></div>

  <section class="info-validation__content text-center">
    <h2 class="info-validation__title text-center">MUCHAS GRACIAS</h2>
    <p class="info-validation__message text-center mb-0">EN BREVE NOS PONDREMOS EN CONTACTO CONTIGO PARA ACTIVAR TU CUENTA.</p>
  </section>
</div>