/**
 * Info validation dialog
 */

@import '../../../assets/sass/settings/all';
@import '../../../assets/sass/tools/all';

.info-validation {
  color: $color-brand-primary;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 20px;

  .mat-button {
    line-height: 20px;
    position: absolute;
    padding: 0;
    right: 24px;
    min-width: 0;
    top: 0;
  }

  .mat-button .mat-button-focus-overlay {
    display: none;
  }

  .mat-icon {
    height: 20px;
    width: 20px;
  }

  &__content {
    margin-left: auto;
  }

  &__img {
    height: 120px;
    width: 120px;
    transform: scale(2.57);
    margin-left: -35px;
    background: transparent url('/assets/img/features/planta.svg') center/cover
      no-repeat;
    position: relative;
    left: 7px;
    top: -8px;
  }

  &__title,
  &__message {
    line-height: 1.2;
    max-width: 490px;
    padding-right: 23px;
    width: 100%;
  }

  &__title {
    color: $color-brand-primary;
    font-size: 37px;
    font-family: 'Intro Bold';
    margin-top: 0;
  }

  &__message {
    font-size: 26px;
    font-family: 'Intro Book';
  }

  @media (max-width: 1080px) {
    position: static;

    .mat-icon path {
      stroke: white;
    }

    .mat-button {
      top: 20px;
      right: 25px;
    }

    & {
      flex-direction: column;
    }

    &__img {
      top: 0;
      left: 0;
      margin-top: -155px;
      margin-left: 0;
      transform: scale(1);
      height: 300px;
      width: 300px;
    }

    &__title,
    &__message {
      max-width: 100%;
      padding: 0;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 0;
    }

    &__message {
      font-size: 16px;
      margin-top: 5px;
    }

    &__content {
      margin: 0;
      width: 100%;
    }
  }
}

.info-validation.mat-dialog-content,
.client-info-validation-dialog mat-dialog-container.mat-dialog-container {
  overflow: visible;
}
