<section *ngIf="this.showCommunication" class="flex__column" style="padding-left: 20px; padding-right: 20px;">
	<div class="grid-row" style="display: flex;">
	  <div class="col-12 col-md-12 col-sm-12">
		<p>
		  <span class="dashboard-title">Inicio > Recursos Humanos </span> <br>
		  <span class="dashboard-subtitle">Comunicación</span>
		</p>
		<hr class="hr"/>
	  </div>
  
	  <div class="col-12 col-md-12 col-sm-12">
		<form class="grid-container" [formGroup]="form" (ngSubmit)="onFormSubmit($event)">
			<br>
			<span class="dashboard-title">Mensaje Masivo {{ this.formSubmitAttempt }}</span>
			<br><br>
			<section class="grid-row">
		   
			  <div class="col-8">
				<mat-form-field class="w-100 fs-12px" appearance="outline">
				  <mat-label>Ingresa tu mensaje</mat-label>
				  <textarea matInput placeholder="Ingresa tu mensaje (máximo 2000 caracteres)" 
					rows="10"
					maxlength="2000"
					formControlName="massive_message"></textarea>
				  <mat-error *ngIf="form.get('massive_message').touched && !form.get('massive_message').valid && this.formSubmitAttempt">{{requiredMessage}}</mat-error>
				</mat-form-field>
			  </div>
  
			</section>
  
			<div>
			  <button class="new-primary-button"
					  mat-flat-button
					  color="primary"
					  type="submit">
				Publicar Aviso
			  </button>
			</div>

		</form>
	  </div>
  
	</div>
</section>
  