.about-us-section {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  display: flex; 
  justify-content: center;
}

.about-us-section-bold-text{
    font-family: Red Hat Display,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #26212F;
}
