.ixhua-blue-section {
  background-color: #0A2994 !important;
  color: $auth-footer-text-color;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 126px 20px 86px;
  background-image: url("/assets/ixhua-colors/fondos/blue-vector.svg");
  background-repeat: no-repeat;
  background-position: top;


  &__right-text{
  	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 90%;
	/* or 13px */
	display: flex;
	align-items: center;
	text-align: right;
	letter-spacing: 0.2em;
	text-transform: uppercase;
  }

}

.ixhua-blue-section-alternate-1 {
  background-color: #4C2B6E !important;
  color: $auth-footer-text-color;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 126px 20px 86px;
  background-image: url("/assets/ixhua-colors/fondos/purple-vector.svg");
  background-repeat: no-repeat;
  background-position: top;


  &__right-text{
  	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 90%;
	/* or 13px */
	display: flex;
	align-items: center;
	text-align: right;
	letter-spacing: 0.2em;
	text-transform: uppercase;
  }

}


.ixhua-blue-section-alternate-2 {
  background-color: #0FB28F !important;
  color: $auth-footer-text-color;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 126px 20px 86px;
  background-image: url("/assets/ixhua-colors/fondos/green-top-vector.svg");
  background-repeat: no-repeat;
  background-position: top;


  &__right-text{
  	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 90%;
	/* or 13px */
	display: flex;
	align-items: center;
	text-align: right;
	letter-spacing: 0.2em;
	text-transform: uppercase;
  }

 }

