.articles-section {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 20px;
  padding-bottom: 50px;
  display: flex; 
  justify-content: center;
}

.articles-section-bold-text{
    font-family: Red Hat Display,sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    /* Secondary */
    color: #26212F;
}

.article-card-div{
  padding-top: 20px!important; 
  display: flex; 
  justify-content: center;
}

.article-card{
  padding-top: 10px!important;
}


.article-card-img{
  width: 125px!important;
  height: 25px!important;
}

.article-card-title{
  font-family: Red Hat Display,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 29px;
  /* Secondary */
  color: #26212F;
}

.article-card-text{
  font-family: Open Sans,sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* Secondary */
  color: #26212F;
  opacity: 0.64;
}


.partner-companies-section{
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 20px;
  padding-bottom: 50px;
  display: flex; 
  justify-content: center;
}

.partner-companies-section-bold-text{
    font-family: Red Hat Display,sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    /* Secondary */
    color: #26212F;
}

.partners-image-container{
  min-height: 100%!important;
  position: relative;
  margin: auto;
  max-width: 1215;
  justify-content: center;
}

.partners-image{
  width:100%!important;
  height:100%!important;
}


.start-div-business{
  padding-top: 60px; 
  padding-right: 20px;
}


.conect-employees-white {
  color: $auth-footer-text-color;
  font-family: 'Open Sans', sans-serif;
  padding: 10% 126px 20px 86px;
  background-color: #FFFFFF;
  min-height: 816px;

  &__title{
    font-family: Red Hat Display,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #154ACE;
  }

  &__text{
    font-family: Open Sans ,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #26212F;
  }
}

.conect-employees-white-buttons{
 display: none;
}


.form-company-register{
  &__title{
    font-family: Red Hat Display,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
  }

  &__text{
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /* Secondary */
    color: #FFFFFF;
  }
}

.form-company-register-section{
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.input-company-register-section{
  font-family: Open Sans,sans-serif;
  font-size: 16px!important;
  color: white!important;
}

.button-company-register-section{
font-size: 14px;
}

.register-company-form-container{
  padding-top: 10%;
  padding-right: 80px;
  background: url(/assets/ixhua-colors/fondos/BG2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

#field-company-name.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white!important;
}

#field-company-phone.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white!important;
}

.example-card{
  height: 100%
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

