.start-div{
  padding-top: 60px; 
  padding-right: 20px;
}


.conect-company-blue {
  color: $auth-footer-text-color;
  font-family: 'Open Sans', sans-serif;
  padding: 10% 126px 20px 86px;
  background: url(/assets/ixhua-colors/fondos/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  min-height: 816px;

  &__title{
  	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 28px;
	color: #FFFFFF;
  }

  &__text{
  	font-family: Open Sans ,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
  }
}

.conect-company-blue-buttons{
 display: none;
}






