/*
    styles for footer
*/

.auth-footer {
  background-color: $auth-footer-bg-color;
  color: $auth-footer-text-color;
  font-family: 'Open Sans', sans-serif;
  padding: 109px 126px 71px 86px;

  &__main,
  &__list {
    display: flex;
  }

  &__main-detail {
    margin-left: 1em;
    margin-right: .5em;
    max-width: 531px;
    width: 100%;
  }

  &__list {
    margin-left: auto;
  }
  
  &__list-item {
    flex-direction: column;
  }

  &__list-item a {
    color: $color-white;
    text-decoration: none;
  }

  &__list-item:last-child {
    margin-left: 4em;
  }

  &__copyright {
    margin-bottom: 0;
  }
}


.ixhua-blue-footer {
  background-color: #154ACE;
  color: $auth-footer-text-color;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 126px 50px 86px;
}

.ixhua-green-footer {
  background-color: #0FB28F!important;
  color: $auth-footer-text-color;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 126px 20px 86px;
  background: url("/assets/ixhua-colors/fondos/green-vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.ixhua-blue-footer a,.ixhua-blue-footer a:hover,.ixhua-blue-footer a:visited {
  color:#ffffff;
  text-decoration: none;
}

.footer-aling-right{
  float: right!important;
}

.vl {
  border-left: 1px solid #ffffff ;
  min-height: 10px 
}

.footer-title-1{
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.foooter-logo {
  left: 4.44%;
  right: 83.06%;
  top: 78.53%;
  bottom: 9.04%;
}

.footer-copy{
  left: 60.62%;
  right: 4.44%;
  top: 78.53%;
  bottom: 9.04%;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  display: flex;
  align-items: center;
  text-align: right;

  /* Blanco */
  color: #FFFFFF;
}


.content-title{
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */
  display: flex;
  align-items: center;
}

.contact-text{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.contact-phone-number{
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color:#ffffff;
  text-decoration: none;
}

.green-box {
  background: #0A9585; 
  border-radius: 32px; 
  padding: 20px 0px 20px 30px;
}

