/*
    styles for auth header
*/

.auth-header {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  left: 0;				
  max-height: $auth-height;		
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;

  &__wrapper {
    margin: 15px 64px;
    align-items: center;
  }

  &__logo {
    background: url('/assets/ixhua-colors/logos/ixhua-blue-logo.svg');
    background-repeat: no-repeat;
    width: 120px;
    height: 29px;
    margin:0;
  }

  &__icon {
    background: url('/assets/ixhua-colors/logos/ixhua-blue-icon.svg');
    background-repeat: no-repeat;
    width: 24px;
    height: 29px;
    margin:0;
    display: none;
  }


  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right : 1em;
    padding-left: .7em;
  }

  &__list-item {
    font-size: $auth-list-item-font-size;
    line-height: 36px;
  }

  &__phone {
    height: 15px;
    width: 14.82px;
    margin-right: 7px;
  }

  &__button {
  /*max-height: $auth-button-height;
    min-width: $auth-button-width!important;*/
    font-size: 13px;
    line-height: 18px;
  }

  &__message {
    display: none!important;
    width: 220px;
    height: 24px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */
    display: flex;
    align-items: center;
    text-align: center;

    /* Secondary */
    color: #26212F;
  }


}

.auth {

  &-header__list-item,
  .auth-xs-header__list {
    color:  $color-brand-primary;
    padding: 0 22px;
    height: 36px;
    letter-spacing: $auth-list-item-letter-spacing;
    list-style-type: none;
    text-transform: uppercase;
  }  

  &-header__list-item:last-child {
    line-height: 18px!important;
  }

  &-header__list-item a,
  .auth-xs-header__list a {
    color:  $color-brand-primary;
    text-decoration: none;
  }

  &-xs-header__list {
    font-size: 22px;
    line-height: 49px;
  }
  
  &-header__list,
  &-xs-header__list {
    cursor: pointer;
  }
  
  button.auth-header__xs-button-menu-open {
    display: none;
  }

  &.mat-drawer-opened .mat-drawer-backdrop {
    visibility: visible!important;
    background: $color-lighter-black;
    opacity: .5;
  }
}
