.how-works-section{
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	display: flex; 
	justify-content: center;
}

.how-works-title{
	font-family: 'Red Hat Display', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 54px;
	color: #26212F;
}

.how-works-text{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.how-works-card{
	min-width: 342px;
	min-height: 340px;
	max-width: 342px;
	max-height: 340px;
	border-radius: 12px!important;
	color:#26212F;

	&__title{
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 29px;
	}

	&__text{
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		opacity: 0.64;
	}
}

.how-works-card:hover {
	background-color: #154ACE;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	color: white;
}


.card-padding{
	padding-bottom: 10px;
}
