
.questions-panel{
	align-items: center;
	border: 1px solid #E5E1E6; 
	box-shadow: none!important;
}

.questions-section{
	padding: 50px 250px 50px 220px; 
	display: flex; 
	justify-content: center;
}


.questions-title{
	font-family: 'Red Hat Display', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 54px;
	color: #26212F;
}

.panel-title-font{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	display: flex;
	align-items: center;

	/* Secondary */
	color: #26212F;
}

.panel-content-text{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	display: flex;
	align-items: center;

	/* Secondary */
	color: #26212F;
}

.panel-content-image{
	margin-right: 10px;
	border-right:  1px solid #E5E1E6;
	padding-right: 10px
}


.expansion-panel-header-color{
	background-color: white;
}

.expansion-panel{
	background-color: #E5E1E6;
}