.form-register{
	&__title{
		font-family: Red Hat Display,sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
		color: #26212F;
	}

	&__text{
		font-family: Open Sans,sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		/* Secondary */
		color: #26212F;
	}

	&__custom-message {
		padding: 10px 16px;
		width: 100%;
		background-color: #202945;
		font-size: 16px; 
		color:white
	}
}

.form-register-section{
	display: flex;
	justify-content: center;
	padding-left: 50px;
	padding-right: 50px;
}

.input-register-section{
	font-family: Open Sans,sans-serif;
	font-size: 16px!important;
}

.button-register-section{
font-size: 14px;
}

.register-form-container{
	padding-top: 10%;
	padding-right: 80px
}

/*=================validation forms header and footer =========================*/

.register-form-header-title{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	/* Secondary */
	color: #26212F;
	margin-left: auto!important; 
}

.register-form-footer{
  background: rgba(229,225,230,.2);
  font-family: 'Open Sans', sans-serif;
  padding: 50px 126px 50px 86px;
}

.register-form-footer-left-text{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	display: flex;
	align-items: center;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #26212F;
	opacity: 0.48;
}

.register-form-footer-right-text{ 
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #26212F;
}

.register-form-footer-phone-text{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	/* Secondary */
	color: #26212F;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.register-form-initial{
	padding-top: 80px; 
  	padding-right: 20px;
}

.elipse-steps{
	display: flex; 
	justify-content:center;
}

.elipse-svg{
	margin: 5px 5px 5px 5px;
}

.register-form-header-text{
	font-family: Red Hat Display,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #26212F;
}

.register-form-info-section{
	padding: 50px 126px 20px 86px;
}

.positive{
	color:#15CF95;
	font-size: 12px;
}
.negative{
	color:#EB5757;
	font-size: 12px;
}

.my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0,0,0,0.9) !important;
    cursor: pointer !important;
    visibility: visible !important;
    transition: visibility 0s, opacity 0.4s linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
    font-size: 100px !important;
}

