@media only screen and (max-width: $md-second-breakpoint) {
    .auth-header__list-item {
        padding: 0 8px;
    }

    .partners-image{
      width:100%!important
    }
}
@media only screen and (max-width: $md-second-two-breakpoint) {

  .auth-header__list {
    display: none;
  }
  .auth-header__logo{
    display: none;
  }

  .auth-header__icon{
    display: block!important;
  }

  /*.auth-header__message{
    display: block!important;
  }*/

  .auth-header__logo {
    /*background-position-x: -54px;*/
    background-position-y: center;
    margin-left: 4px;
    width: 78px;
  }

  .auth-header__button {
    margin-left: auto!important; 
    display: none!important;
  }

  .auth-header__message {
    display: block!important;
    margin-left: auto!important; 
    margin-right: auto!important;
  }

  button.auth-header__xs-button-menu-open,
  .auth-header-sidenav { 
    display: block!important;
   
  }

  button.auth-header__xs-button-menu-open{
    margin-right : 1em;
    padding-left: .7em;
  }
  
  .auth-header-sidenav.mat-drawer {
    height: 320px;
    width: 100%;
  }

  .auth-header-sidenav.mat-drawer {
    top: 59px!important;
  }

  .auth .mat-drawer-backdrop {
    position: fixed!important;
    top: 379px!important;
  }

  .auth-xs-header__list {
    margin: 8.5px 18.5px;
  }

  .auth-footer {
    padding: 2em;
  }

  .auth-footer,
  .auth-footer__list {
    justify-content: center;
    align-items: center;
  }

  .auth-footer__main {
    margin-left: 2em;
  }

  .auth-footer__logo {
    margin: 0;
  }

  .auth-footer > .flex {
    flex-direction: column;
  }

  .auth-footer__list {
    margin-left: 0;
    flex-direction: column-reverse;
  }
 
  .auth-footer__list-item {
    text-align: center;
  }

  .auth-footer__list-item:last-child {
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-top: 2em;
  }

  .auth-footer__copyright {
    margin-top: 2em;
  }

}

@media only screen and (max-width: $md-breakpoint){
  .auth-header__wrapper {
    margin: 8.5px 18.5px;
  }

  .auth-footer {
    padding: 3em;
  }
}

@media only screen and (max-width: $xs-breakpoint) {
  .auth-footer {
    padding: 2em;
  }

  .auth-footer__main {
    margin-left: 0;
  }

  .auth-footer__main-detail {
    margin-right: 0;
    font-size: 13px;
  }

  .auth-footer__logo {
    width: 18.24px;
  }


  /* CONTACT SECTION */
  .ixhua-green-footer{
    padding: 10px 10px 10px 10px !important; 
  }

  .whatsapp-image-girl-container{
    padding-right: 50px!important;
  }


  /* QUESTION SECTION */
  .questions-section{
    padding: 10px 10px 10px 10px !important; 
  }


  .panel-title-font{
    font-size: 12px!important;
  }

  .panel-content-text{
    font-size: 12px!important;
  }

  /* HOW WORKS SECION*/
  .how-works-section{
    padding: 10px 10px 10px 10px !important; 
  }

  /*BLUE INFO SECTION*/
  .ixhua-blue-section{
    padding: 10px 10px 10px 10px !important; 
    text-align: center;
    justify-content: unset!important;
  }


  .ixhua-blue-section__right-text{
    text-align: center!important;
    font-size: 11px!important;
  }

  .ixhua-blue-section-alternate-1{
    padding: 10px 10px 10px 10px !important; 
    text-align: center;
    justify-content: unset!important;
  }


  .ixhua-blue-section-alternate-1__right-text{
    text-align: center!important;
    font-size: 11px!important;
  }

  .ixhua-blue-section-alternate-2{
    padding: 10px 10px 10px 10px !important; 
    text-align: center;
    justify-content: unset!important;
  }


  .ixhua-blue-section-alternate-2__right-text{
    text-align: center!important;
    font-size: 11px!important;
  }


   /*ABOUT US SECTION*/
   .bout-us-section{
    padding: 10px 10px 10px 10px !important; 
  }

   .about-us-section-bold-text{
    font-size: 12px!important;
    line-height: 12px!important;
   }


   .slideshow-container {
    min-height: 100%!important;
    max-height: 100%!important;

    }


    /*LOGIN BLUE SECTION*/
   .conect-company-blue {
    padding: 80px 10px 10px 10px !important; 
   }

   .conect-company-blue__text {
    font-size: 14px!important;
   }

   .conect-company-blue-buttons{
     text-align: center;
     display: block!important; 
     align-items: center!important; 
    }

    .button-register-section{
      font-size: 8px!important;
    }

    /* START DIV*/
    .start-div{
      padding: 10px 10px 10px 10px !important; 
    }

    /*REGISTER SECTION*/
    .register-form-container{
      padding: 10px 10px 10px 10px !important; 
    }

    .form-register-section{
      padding: 10px 10px 10px 10px !important; 
    }


    /* Business section */

    .start-div-business{
      padding: 10px 10px 10px 10px !important; 
    }


    .partners-image-container {
      min-height: 100%!important;
      max-height: 100%!important;
    }

    .slideshow-container-business {
    min-height: 100%!important;
    max-height: 100%!important;

    }

    .conect-employees-white {
      padding: 80px 10px 10px 10px !important; 
    }

    .conect-employees-white__text {
      font-size: 14px!important;
    }

    .conect-employees-white-buttons{
      text-align: center;
      display: block!important; 
      align-items: center!important; 
    }

    .button-company-register-section{
      font-size: 8px!important;
    }

    .register-company-form-container{
      padding: 10px 10px 10px 10px !important; 
    }

    .form-company-register-section{
      padding: 10px 10px 10px 10px !important; 
    }

    /*REGISTER FORMS PAGES*/
    .register-form-footer-phone-text{
      text-align: center!important;
      font-size: 14px!important;
    }

    .register-form-footer-right-text{
      text-align:center!important; 
      font-size: 14px!important;
    }

   .register-form-info-section{
      padding: 60px 15px 10px 15px!important;
    }

    .register-form-initial{
      display: none!important;
    }

    .tip-image-1{
      display: none!important;
    }

}






