$auth-bg-color: $color-white;
$auth-height: 80px;
$auth-list-item-font-size: 13px;
$auth-list-item-letter-spacing: -0.54px;
$auth-button-height: 41px;
$auth-button-width: 154px;

/************************************      auth footer      */
$auth-footer-text-color: $color-white;
$auth-footer-bg-color: $color-brand-primary;