<section class="flex__column questions-section" >
	<div class="grid-row" style="text-align: center;">

		<div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
			<img width="252px" src="/assets/img/features/en-que-podemos-ayudarte.svg" alt="¿En qué podemos ayudarte?" height="95px">
		</div>


		<div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
			<p class="questions-title">¿En qué podemos ayudarte?</p>
		</div>
		
		<div class="col-12 col-md-12 col-sm-12">
			<mat-accordion>
			  <mat-expansion-panel class="questions-panel">
			    <mat-expansion-panel-header>
			      <mat-panel-title class="panel-title-font">
			        ¿Qué es ixhua?
			      </mat-panel-title>   
			    </mat-expansion-panel-header>
			    <div style="display: flex; align-items: center;">
			    	<div class="panel-content-image">
			    		<img width="40px" src="/assets/img/features/maria-en-cohete.svg" alt="¿En qué podemos ayudarte?" height="47px">
			    	</div>
			    	<p class="panel-content-text">Somos una startup que conecta empresas con empleados ofreciendoles beneficios a ambos.</p>
			    </div>	    
			  </mat-expansion-panel>

			  <mat-expansion-panel class="questions-panel">
			    <mat-expansion-panel-header>
			      <mat-panel-title class="panel-title-font">
			       ¿Mi información está segura?
			      </mat-panel-title>   
			    </mat-expansion-panel-header>
			    <div style="display: flex; align-items: center;">
			    	<div class="panel-content-image">
			    		<img width="40px" src="/assets/img/features/maria-en-cohete.svg" alt="¿En qué podemos ayudarte?" height="47px">
			    	</div>
			    	<p class="panel-content-text">
			    		100% segura, utilizamos los estándares de seguridad máximos en la industria, contamos con Aviso de Privacidad para el manejo optimo de tus datos y trabajamos con derechos ARCO en tu beneficio.
			    	</p>
			    </div>    
			  </mat-expansion-panel>


			  <mat-expansion-panel class="questions-panel">
			    <mat-expansion-panel-header>
			      <mat-panel-title class="panel-title-font">
			       ¿Qué es y cómo obtengo el código de mi empresa?
			      </mat-panel-title>   
			    </mat-expansion-panel-header>
			    <div style="display: flex; align-items: center;">
			    	<div class="panel-content-image">
			    		<img width="40px" src="/assets/img/features/maria-en-cohete.svg" alt="¿En qué podemos ayudarte?" height="47px">
			    	</div>
			    	<p class="panel-content-text">
			    		El código funciona como enlace con tu empresa, consulta en el departamento de Recursos Humanos o escríbenos en cualquiera de nuestros canales de comunicación para que lo obtengas.
			    	</p>
			    </div>      
			  </mat-expansion-panel>

			  <mat-expansion-panel class="questions-panel" >
			    <mat-expansion-panel-header>
			      <mat-panel-title class="panel-title-font">
			        Soy empresa ¿Cómo agendo una asesoría?
			      </mat-panel-title>   
			    </mat-expansion-panel-header>
			   	<div style="display: flex; align-items: center;">
			    	<div class="panel-content-image">
			    		<img width="40px" src="/assets/img/features/maria-en-cohete.svg" alt="¿En qué podemos ayudarte?" height="47px">
			    	</div>
			    	<p class="panel-content-text">
			    		Entra a la sección de empresas y llena un pequeño formulario, te responderemos máximo al siguiente día hábil.
			    	</p>
			    </div>
			  </mat-expansion-panel>


	
			</mat-accordion>
		</div>	
	</div>
</section>