<header class="auth-header">
  <div class="auth-header__wrapper flex">
    
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__logo"></figure>
    </a>

   
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__icon"></figure>
    </a>
   
    <p class="register-form-header-title">Registro de usuarios</p>
    

  </div>
</header>

<section>
  <div id="start" class="flex__column register-form-initial">
      <div class="grid-row" style="display: flex; justify-content: center; align-items: center;text-align: center;">
        <div class="col-2 col-md-4 col-sm-12 elipse-steps">
          <img class="elipse-svg" src="/assets/ixhua-colors/icons/Ellipse-green.svg">
          <p>Datos personales</p>
        </div>
        <div class="col-2 col-md-4 col-sm-12 elipse-steps">
          <img class="elipse-svg" src="/assets/ixhua-colors/icons/Ellipse-gray.svg">
          <p style="opacity: 0.64;">Valida tu teléfono</p>
        </div>
        <div class="col-2 col-md-4 col-sm-12 elipse-steps">
          <img class="elipse-svg" src="/assets/ixhua-colors/icons/Ellipse-gray.svg">
          <p style="opacity: 0.64;">Crea tu contraseña</p>
        </div>
      </div>
  </div>
  <div class="flex__column register-form-info-section">
    <div class="grid-row" style="display: flex; justify-content: center;">

      <div class="col-12 col-md-12 col-sm-12" style="text-align: center">
        <p class="register-form-header-text">
         Registra tus datos para obtener los beneficios de Ixhua
        </p>
      </div>

      <div class="col-5 col-md-6 col-sm-12">
        <form [formGroup]="form">
          <mat-form-field appearance="outline" style="min-width: 100%">
            <mat-label>Nombre(s)</mat-label>
            <input class="input-register-section" placeholder="Nombre(s)" required matInput formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="outline" style="min-width: 100%">
            <mat-label>Apellido paterno</mat-label>
            <input class="input-register-section" placeholder="Apellido paterno" required matInput formControlName="firstLastName">
          </mat-form-field>

          <mat-form-field appearance="outline" style="min-width: 100%">
            <mat-label>Apellido materno</mat-label>
            <input class="input-register-section" placeholder="Apellido materno" required matInput formControlName="secondLastName">
          </mat-form-field>

          <mat-form-field appearance="outline" style="min-width: 100%">
            <mat-label>Celular</mat-label>
            <input class="input-register-section" required placeholder="Celular con Whatsapp a 10 digitos"matInput [minlength]="10" [maxlength]="10" [pattern]="'[0-9]*'" formControlName="cell">
          </mat-form-field>

          <mat-form-field appearance="outline" style="min-width: 100%">
            <mat-label>Correo electrónico</mat-label>
            <input class="input-register-section" required placeholder="Correo electrónico"matInput [minlength]="5" formControlName="email" #inputRef>
          </mat-form-field>

          <p style="color:gray;">Información Laboral</p>

          <div class="grid-row">            
              <div class="col-6 col-md-12 col-sm-12">
                <mat-form-field appearance="outline" style="min-width: 100%">
                  <mat-label>¿En qué empresa trabajas?</mat-label>
                  <input class="input-register-section" required placeholder="¿En qué empresa trabajas?"matInput
                  formControlName="company">
                </mat-form-field>
              </div>

              <div class="col-6 col-md-12 col-sm-12">
                <mat-form-field appearance="outline" style="min-width: 100%">
                  <mat-label>Estado laboral actual</mat-label>
                  <mat-select formControlName="laboral_status" placeholder="Estado Laboral Actual" required>
                    <mat-option *ngFor="let lstatus of formLaboralStatus" [value]="lstatus">
                      {{ lstatus }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>

          <!--
          <div class="grid-row">
            <div class="col-12 col-md-12 col-sm-12">
              <p class="fs-14px" style="color: gray">¿Cuánto tiempo llevas trabajando en esa empresa?</p>
            </div>
            <div class="col-6 col-md-12 col-sm-12">
              <mat-form-field appearance="outline" style="min-width: 100%">
                <mat-label>Años</mat-label>
                <input class="input-register-section" required matInput [maxlength]="2" [pattern]="'[0-9][^\.]*'" formControlName="years">
              </mat-form-field>
            </div>

            <div class="col-6 col-md-12 col-sm-12">
              <mat-form-field appearance="outline" style="min-width: 100%">
                <mat-label>Meses</mat-label>
                <input class="input-register-section" required matInput [maxlength]="2" [pattern]="'[0-9][^\.]*'" formControlName="months">
              </mat-form-field>
            </div>
          </div>
          -->

          <mat-form-field appearance="outline" style="min-width: 100%">
            <mat-select formControlName="payment_frequency" placeholder="¿Como te pagan tu nómina?" required>
              <mat-option *ngFor="let payment of payments" [value]="payment.value">
                {{ payment.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br><br>

          <div class="col-12 col-md-12 col-sm-12" style="text-align: left; overflow: scroll; height:200px;">
            <p class="register-form-header-text" style="text-align: center;">
              MANIFESTACIÓN EXPRESA DEL CONSENTIMIENTO
            </p>
            <p class="input-register-section">
              Por medio del presente yo <span style="color:mediumblue; font-weight: strong;">{{ this.form.controls.name.value }}  {{ this.form.controls.firstLastName.value }}  {{ this.form.controls.secondLastName.value }}</span> 
              otorgo mi consentimiento expreso para IXHUA TECH, S.A.P.I. DE C.V.  (en lo sucesivo IXHUA) transfiera de manera digital, por escrito o verbal a favor de 
              <span style="color: mediumblue; font-weight: strong;">{{ this.form.controls.company.value }}</span>  (en lo sucesivo LA EMPRESA) mis datos personales de identificación y patrimoniales que le permitan a este último; 
              integrar mi expediente, autentificar la información, validar mi personalidad, contactarme, acreditar mis ingresos económicos.
            </p>
            <p class="input-register-section">
              Asimismo, faculto a IXHUA para que la información personal que le transmití por medio del sitio web www.ixhua.mx durante el proceso de activación de mi cuenta, 
              pueda transferir y solicitar la validación de mi información ante las personas físicas y jurídicas que he puesto como referencia/contacto y ante 
              LA EMPRESA en la cual manifiesto que actualmente me encuentro laborando.  
            </p>
            <p class="input-register-section">
              Los datos personales de identificación y patrimoniales sujetos a transferencia por parte de LA EMPRESA a favor de IXHUA y viceversa, 
              necesarios para poder continuar con mi proceso de contratación de los servicios financieros, de manera enunciativa, mas no limitativa, 
              serán los siguientes: 
            </p>
            <ol class="input-register-section">
              <li> NOMBRE COMPLETO</li>
              <li> INFORMACIÓN Y DATOS PERSONALES</li>
              <li> RFC Y CURP</li>
              <li> 	CORREO ELECTRÓNICO</li>
              <li> 	ANTIGÜEDAD EN LA EMPRESA (FECHA DE INGRESO)</li>
              <li> 	SALARIO/COMPENSACIÓN NETA.</li>
              <li> 	FRECUENCIA DE PAGO DE LA NOMINA (SEMANAL, QUINCENAL)</li>
              <li> 	DATOS BANCARIOS.</li>
              <li> 	DIRECCIÓN</li>
              <li> 	TELEFONOS DE CONTACTO (CELULAR, OFICINA, CASA)</li>
              <li> 	REFERENCIAS (NOMBRE Y TELÉFONO)</li>
              <li> 	DATOS CREDITICIOS</li>
              <li> 	IDENTIFICACIÓN FRENTE Y VUELTA</li>
              <li> 	RECIBOS DE NÓMINA</li>
              <li> 	ESTADO DE CUENTA BANCARIO</li>
              <li> 	COMPROBANTE DE DOMICILIO</li>
            </ol>
            <p class="input-register-section" style="text-align: center;">
              GUADALAJARA, JALISCO AL <span style="color: mediumblue; font-weight: strong;">{{ today | date:'dd/MM/y' }}</span>
            </p>


            <p class="input-register-section" style="text-align: center;">
              A T E N T A M E N T E:<br>
              <span style="color: mediumblue; font-weight: strong;">
                {{ this.form.controls.name.value }}  {{ this.form.controls.firstLastName.value }}  {{ this.form.controls.secondLastName.value }}
              </span>
            </p>
          </div>

          <br><br>

          <mat-checkbox
            required
            color="primary"
            formControlName="checkbox">
                  He le&iacute;do y estoy de acuerdo en otorgar la manifestaci&oacute;n expresa del consentimiento
          </mat-checkbox>
          <div class="my-1" [style.visibility]="form.controls.checkbox?.touched ? 'visible' : 'hidden'">
            <p class="mat-error-custom"
              [style.opacity]="form.controls.checkbox?.touched ? 1 : 0"
              [ngClass]="form.controls.checkbox?.errors?.required ? 'show' : 'hidden'">
              Este campo es requerido.
            </p>
          </div>

          <div class="my-1" *ngIf="show_general_error">
            <p class="mat-error-custom">
              {{ general_error }}
            </p>
          </div>

          <br>
          <div>
            <button routerLink="/auth/login" class="new-alternate-button" mat-flat-button> Cancelar </button>
             <a>&nbsp;</a> <a>&nbsp;</a>
            <button
            class="new-primary-button"
            mat-flat-button
            color="primary"
            [disabled]="form.invalid && form.touched || in_progress"
            (click)="activateConfirmButton()">
              Siguiente paso
            </button>
          </div>

        </form>



      </div>
      <div class="col-3 col-md-6 col-sm-12" class="tip-image-1">
        <img src="/assets/ixhua-colors/images/tip-image-1.svg">
      </div>
    </div>
  </div>
</section>





<footer class="register-form-footer flex__column">
  <div class="grid-row">
    <div class="grid-row col-6 col-md-6 col-sm-12">
     <p class="alignleft register-form-footer-left-text"> <img style="margin: 10px 10px 10px 10px" src="/assets/ixhua-colors/logos/ixhua-gray-icon.svg"> Bienvenido a la plataforma</p>
    </div>

    <div class="col-6 col-md-6 col-sm-12">
      <p class="alignright">
        <span class="register-form-footer-right-text">¿Necesitas ayuda?</span>
        <br>
        <span style="margin: 1px 1px 1px 1px">
          <img src="/assets/ixhua-colors/icons/Whatsapp-blue.svg">
        </span>  
        <span class="register-form-footer-phone-text"> 333 406 5657 </span>
      </p>
    </div>

  </div>
  

</footer>