<main class="loan-request-main">
  <h2 class="loan-request-main__title">Opciones</h2>
  <div class="loan-request-main__wrapper flex__column" style="min-height: 100vh">
    <div class="loan-request-main-content">
      <mat-card class="loan-request-card" style="min-height: 300px;">
        <br>
        <section>
          <h2 class="fs-24px fw-normal m-0">Pagar anticipadamente el adelanto</h2>
          <hr class="hr mt-2 mb-3" />
          <span>Puedes pagar anticipadamente el adelanto siempre y cuando utilices el <strong> número de solicitud</strong> como <strong>referencia</strong> al momento de hacer el pago, la validación del pago puede llegar a tomar un día hábil.</span>
          <br> <br>
          
          <span style="display:block;">  Institución bancaria: BBVA (Bancomer)</span>
          <span style="display:block;"> Cuenta: 0113675203</span>
          <span style="display:block;"> Cuenta Clabe: 012320001136752038</span>
          <span style="display:block;"> Titular: IXHUA TECH, S.A.P.I. DE C.V.</span>
          <span style="display:block;"> Referencia: (Escribe el número de solicitud que puedes consultar <a routerLink="loans">aquí</a>)</span>
          <span style="display:block;"> Monto: (Consulta la cantidad a pagar <a routerLink="loans">aquí</a>)</span>
        </section>


        <br> <br> <br>
        <section class="grid-row">
          <div class="col-4 col-md-4 col-sm-12">
              <button
              class="mat-rounded-button minw-190px"
              mat-flat-button
              color="accent"
              (click)="onDeleteAccount()">
              Cancelar cuenta
            </button>
          </div>
          <a>&nbsp;</a>
          <div class="col-4 col-md-4 col-sm-12"> 
            <button
              class="mat-rounded-button minw-190px"
              mat-flat-button
              color="accent"
              (click)="onChangePassword()">
              Cambiar Contraseña
            </button>
          </div>   
        </section>    
      
      </mat-card>
    </div>
  </div>
</main>

<br><br>
<app-loan-footer></app-loan-footer>
