.loan-request-card {
  background: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  button.mat-rounded-button {
    padding: 12px;
    -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.42);
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.42);
    font-size: 15px;
  }

}


.change-password-card {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  min-height: 344px;
  min-width: 360px;
  max-width: 600px;

  &__form-button {
    border-radius: 30px!important;
    height: 60px;
    width: 100%;
  }

  &__form  &__form-action {
    text-align: center;
  }

  &__form  &__form-action a {
    font-family: "Intro Book";
    font-size: 12px;
    text-decoration: none;

  }

  &__form-action a:hover {
    opacity: .6;
  }
}




@media only screen and (max-width: 380px) {

  .change-password-card{
    min-width: 320px;
    max-width: 320px;
  }

}

@media only screen and (max-width: 320px) {

  .change-password-card{
    min-width: 270px;
    max-width: 270px;
  }

}

