<section class="flex__column form-register-section">
  <div *ngIf="show_code_error" class="col-12 col-md-12 col-sm-12">
    <p class="form-register__custom-message">
      No fue posible detectar tu empresa, por favor vuelve a intentarlo.
    </p>
  </div>
  <div style="text-align: left;">
    <!--<img src="/assets/img/features/astronautas.svg" alt="¿En qué podemos ayudarte?">-->
  </div>
  <p class="form-register__title">Activa tu cuenta</p>
  <p class="form-register__text">Para iniciar una solicitud, necesitamos validar tus datos.</p>

  <form [formGroup]="form">

    <mat-form-field appearance="outline" style="min-width: 100%">
    <mat-label>Ingresa tu RFC</mat-label>
      <input class="input-register-section" placeholder="RFC" required matInput formControlName="rfc" [pattern]="'^[A-Za-z\x26]{3,4}[0-9]{6}[0-9A-Za-z]{3}$'" [maxlength]="13">
    </mat-form-field>
    <p class="mat-error-custom mb-2"
        [innerHTML]="rfcErrorMessage"
        [style.opacity]="form.controls.rfc?.touched ? 1 : 0">
    </p>

    <mat-form-field appearance="outline" style="min-width: 100%">
      <mat-label>Código de activación</mat-label>
      <input class="input-register-section" placeholder="Código de activación" required matInput [maxlength]="10" formControlName="code">
    </mat-form-field>
    
    <a 
      class="form-register__text" 
      (click)="gtagEventWhatsApp()" 
      href="https://wa.me/5213334065657/?text=Hola,%20Quiero%20mi%20c&oacute;digo%20de%20activaci&oacute;n!" 
      alt="Whatsapp"
      target="_blank"
    >
      <img src="/assets/ixhua-colors/icons/Whatsapp-green.svg" width="20" height="20" alt="3334065657"/>&nbsp;Quiero mi Código
    </a>


    <br><br>
    <mat-checkbox class="form-register__text"
      required
      color="accent"
      formControlName="checkbox">
      Acepto el <a routerLink="/privacy" target="_blank">aviso de privacidad</a> y los <a routerLink="/tyc" target="_blank">términos y condiciones de Ixhua.</a>
    </mat-checkbox>
    <div class="my-1" [style.visibility]="form.controls.checkbox?.touched ? 'visible' : 'hidden'">
      <p class="mat-error-custom"
        [style.opacity]="form.controls.checkbox?.touched ? 1 : 0"
        [ngClass]="form.controls.checkbox?.errors?.required ? 'show' : 'hidden'">
        Este campo es requerido.
      </p>
    </div>

    <!--<div>
      <a class="cursor-pointer form-register__text" routerLink="../auth/activation-pin">
        ¿Ya tienes tu PIN de activación?
      </a>
    </div>-->
    <br>
    
    <div style="display: flex; align-items: center;">  
      <button  class="new-primary-button button-register-section" mat-flat-button 
      [disabled]="form.invalid && form.controls.checkbox?.touched"
      (click)="onRfcConfirmButton()">
        ¡Registrame!
      </button>  
      <a>&nbsp;</a> <a>&nbsp;</a>
      <button routerLink="/auth/login" class="new-alternate-button button-register-section" mat-flat-button> Ya tengo una cuenta </button>
    </div>
    

  </form>
  
</section>
