<section class="flex__column" style="padding-left: 20px; padding-right: 20px;height: 100vh;">
    <div class="grid-row" style="display: flex;">

        <div class="col-12 col-md-12 col-sm-12">
            <p>
            <span class="dashboard-title">
                <a 
                    routerLink="/home/my-dashboard"
                >
                    Inicio</a> > 
                <a 
                    routerLink="/home/hr-myteam"
                >
                    Mis colaboradores
                </a> > {{ userData?.names }} {{ userData?.father_last_name }} {{ userData?.mother_last_name }}
            </span> 
            </p>
            <hr class="hr"/>
        </div>

        <div class="col-12 col-md-12 col-sm-12">
            <section class="grid-row">

                <div class="col-4 col-md-12 col-sm-12">

                    <span class="dashboard-subtitle person-title">{{ userData?.names }} {{ userData?.father_last_name }} {{ userData?.mother_last_name }}</span>
                    <br>
                    <span class="dashboard-title">{{ userData?.actual_position }}</span>

                    <p class="dashboard-blue-text">Datos Generales</p>
                    <span class="dashboard-normal-text">
                        <dd>RFC: {{ userData?.rfc }}</dd>
                        <dd>CURP: {{ userData?.curp }}</dd>
                        <dd>G&eacute;nero: {{ userData?.gender }}</dd>
                        <dd>Fecha de Nacimiento: {{ userData?.birthdate }}</dd>
                        <dd>Lugar de Nacimiento: {{ userData?.birthplace }}</dd>
                        <dd>Nacionalidad: {{ userData?.nationality }}</dd>
                        <dd>Estado Civil: {{ userData?.civil_status }}</dd>
                        <dd>Grado de Estudios: {{ userData?.study_level }}</dd>
                        <dd>Dependientes econ&oacute;micos: {{ userData?.economic_dependent }}</dd>
                    </span>

                    <p class="dashboard-blue-text">Domicilio</p>
                    <span class="dashboard-normal-text">
                        <dd>{{ userData?.address }} {{ userData?.outdoor_no }} {{ userData?.interior_no }}</dd>
                        <dd>{{ userData?.suburb }}, {{ userData?.city }}</dd> 
                        <dd>{{ userData?.state }}, {{ userData?.postal_code }}</dd>
                        <dd>Tipo de Vivienda: {{ userData?.house_type }}</dd>
                        <dd>Anos de residencia: {{ userData?.years_residence }}</dd>
                    </span>

                    <p class="dashboard-blue-text">Contacto</p>
                    <span class="dashboard-normal-text">
                        <dd>Celular: {{ userData?.cellphone }}</dd>
                        <dd>Tel&eacute;fono: {{ userData?.phone }}</dd>
                        <dd>E-mail: {{ userData?.email }}</dd>
                    </span>

                </div>

                <div class="col-5 col-md-12 col-sm-12">

                    <div class="make-room-div"></div>
                    <p class="dashboard-blue-text">Laboral</p>
                    <span class="dashboard-normal-text">
                        <dd>Puesto Actual: {{ userData?.actual_position }}</dd>
                        <dd>Fecha de Ingreso: </dd>
                        <dd>Salario Mensual(MXN): {{ userData?.salary }}</dd>
                        <dd>Frecuencia de Pago: {{ userData?.payment_frequency }}</dd>
                        <dd>Ingreso familiar acumulado(MXN): {{ userData?.family_income }} </dd>
                    </span>

                    <p class="dashboard-blue-text">Referencias</p>
                    <span class="dashboard-normal-text">
                        <dd>Familiar: {{ userData?.family_reference }} {{ userData?.family_reference_phone }}</dd>
                        <dd>No Familiar: {{ userData?.reference }} {{ userData?.reference_phone }}</dd>
                    </span>

                    <p class="dashboard-blue-text">Banco</p>
                    <span class="dashboard-normal-text">
                        <dd>Instituci&oacute;n: {{ userData?.bank_name }}</dd>
                        <dd>CLABE: {{ userData?.bank_clabe }}</dd>
                    </span>

                    <p class="dashboard-blue-text">Documentos</p>
                    <span class="dashboard-normal-text" *ngIf="this.showIne">
                        <a href="{{ userData?.documents.ine.url }}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary" title="INE Frente">
                            <mat-icon svgIcon="app-eye"></mat-icon>
                        </a>
                    </span>
                    <span class="dashboard-normal-text" *ngIf="this.showAdditionalFile">
                        &nbsp;&nbsp;
                        <a href="{{ userData?.documents.additional_file.url }}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary" title="INE Reverso">
                            <mat-icon svgIcon="app-eye"></mat-icon>
                        </a>
                    </span>
                    <span class="dashboard-normal-text" *ngIf="this.showBankAccount">
                        &nbsp;&nbsp;
                        <a href="{{ userData?.documents.bank_account.url }}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary" title="Cuenta Bancaria">
                            <mat-icon svgIcon="app-eye"></mat-icon>
                        </a>
                    </span>
                    <span class="dashboard-normal-text" *ngIf="this.showProofAddress">
                        &nbsp;&nbsp;
                        <a href="{{ userData?.documents.proof_address.url }}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary" title="Comprobante Domicilio">
                            <mat-icon svgIcon="app-eye"></mat-icon>
                        </a>
                    </span>




                </div>

                <div class="col-3 col-md-12 col-sm-12">
                    <div class="circular--portrait">
                        <img class="rounded-circle d-flex align-self-center" src="{{ this.userSelfie }}">
                    </div>
                </div>
            
            </section>
        </div>

    </div>
</section>

