
/* General */
.person-title{
    color:#0FB28F
}

.make-room-div{
    height: 50px;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}


a { 
    color: inherit;
    text-decoration:none;
}
