<section class="flex__column how-works-section">
	<div class="grid-row" style="text-align: center;">
		<div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
			<br>
			<br>
			<img width="252px" src="/assets/img/features/como-funciona.svg" alt="¿En qué podemos ayudarte?" height="95px">
		</div>

		<div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
			<p class="how-works-title">¿Cómo funciona?</p>
		</div>

		<div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
			<p>
				Ixhua te permite conectarte con tu empresa de manera segura utilizando tu número de celular.
				<br> 
				Validamos tu identidad en conjunto con tu empresa para que puedas acceder a nuestros beneficios.
			</p>
		</div>
		<a>&nbsp;</a>
		<div class="grid-row col-12 col-md-12 col-sm-12" style="text-align: center;">
			<div class="col-4 col-md-12 col-sm-12 card-padding" style=" display:flex; justify-content: center; padding-bottom: 10px">
				<mat-card class="how-works-card">
					<mat-card-content>
						<img width="120px" src="/assets/img/features/paso1.svg" alt="¿En qué podemos ayudarte?"  height="128px">
					    <p class="how-works-card__title">
					     Obtén tu código de empresa
					    </p>
					    <p class="how-works-card__text">
					    	Si tu empresa está afiliada con nosotros, te proporcionarán un código por alguno de sus canales de comunicación. Revisa tu correo o contacta a tu departamento de Relaciones Humanas.
					    </p>
					</mat-card-content>
				</mat-card>
			</div>

			<div class="col-4 col-md-12 col-sm-12 card-padding" style=" display:flex; justify-content: center;">
				<mat-card class="how-works-card">
					<mat-card-content>
						<img width="120px" src="/assets/img/features/paso2.svg" alt="¿En qué podemos ayudarte?"  height="128px">
					    <p class="how-works-card__title">
					     Valida tu cuenta
					    </p>
					    <p class="how-works-card__text">
					    	Recibe en mensaje de texto en tu celular que te enviaremos para poder contactarte.
					    </p>
					</mat-card-content>
				</mat-card>
			</div>


			<div class="col-4 col-md-12 col-sm-12 card-padding" style=" display:flex; justify-content: center;">
				<mat-card class="how-works-card">
					<mat-card-content>
						<img width="120px" src="/assets/img/features/paso3.svg" alt="¿En qué podemos ayudarte?"  height="128px">
					    <p class="how-works-card__title">
					     Disfruta tus beneficios
					    </p>
					    <p class="how-works-card__text">
					    	Completa tu perfil para quye puedas utilizar los beneficios que Ixhua tiene para tí. Mientras más completo tengas tu perfilm más beneficios tendrás.
					    </p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>


	</div>
</section>