<mat-sidenav-container class="loan-request">
  <mat-sidenav fullscreen style="overflow-y: hidden!important;"
    #drawer
    class="loan-request-sidenav ixhua-colors-menu"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <!--<mat-toolbar class="loan-request-toolbar loan-request-toolbar--lg ixhua-colors-menu">
      <figure class="loan-request-lg-logo mx-auto"></figure>
      <figure class="loan-request-xs-logo"></figure>
    </mat-toolbar>-->
    <br><br>
    <!-- Loan Service -->
    <section *ngIf="this.showLoanRequest" style="height: 100vh!important;">

      <!-- Seeds -->
      <app-loan-seeds class="loan-request-seeds loan-request-seeds--lg"></app-loan-seeds>

      <!-- Totals -->
     <!-- <app-loan-totals class="loan-request-totals--lg"></app-loan-totals>-->

      <!-- Loan Request -->
      <mat-nav-list class="loan-request-menu">
        
        <!-- Payroll Advance -->
        <a
          routerLink="my-dashboard/"
          mat-list-item
          routerLinkActive="active"
          #dashboardActive="routerLinkActive">
          <mat-icon svgIcon="app-menu-home"></mat-icon>
          <span class="loan-request-menu__label">Inicio</span>
        </a>

        <!-- My Info -->
        <a routerLink="my-info/"
          mat-list-item
          routerLinkActive="active"
          #infoActive="routerLinkActive">
          <mat-icon svgIcon="app-menu-book"></mat-icon>
          <span class="loan-request-menu__label">Mis Datos</span>
        </a>


        <!-- My Documents -->
        <a routerLink="my-documents/"
          mat-list-item
          routerLinkActive="active"
          #documentsActive="routerLinkActive">
          <mat-icon svgIcon="app-menu-archive"></mat-icon>
          <span class="loan-request-menu__label">Mis Documentos</span>
          <mat-icon *ngIf="this.show_documents_notification" svgIcon="red-circle"></mat-icon>
        </a>

        <!-- Loans -->
        <a routerLink="/home"
          [ngClass]="{
            'active': 
               
              !documentsActive.isActive && 
              !infoActive.isActive && 
              !dashboardActive.isActive &&
              !hrMyTeamActive.isActive &&
              !hrMyMessagesActive.isActive && 
              !helpActive.isActive
          }"
          mat-list-item
          routerLinkActive="active"
          #loansActive="routerLinkActive">
          <mat-icon svgIcon="app-menu-dollar-sign"></mat-icon>
          <span class="loan-request-menu__label">Adelantos</span>
        </a>

        <!-- 
          !optionsActive.isActive &&
          !paymentsActive.isActive && 
          !profileActive.isActive && 
          !contractActive.isActive &&
        -->

        <!--
        <a routerLink="my-payments/"
          mat-list-item
          routerLinkActive="active"
          #paymentsActive="routerLinkActive">
          <mat-icon svgIcon="app-menu-credit-card"></mat-icon>
          <span class="loan-request-menu__label">Pagar Servicios</span>
        </a>
        -->

        <!--
        <a routerLink="my-contract/"
          mat-list-item
          routerLinkActive="active"
          #contractActive="routerLinkActive">
          <mat-icon svgIcon="app-menu-clipboard"></mat-icon>
          <span class="loan-request-menu__label">Mi Empresa</span>
        </a>
        -->

        <!--
        <a routerLink="my-profile/"
          mat-list-item
          routerLinkActive="active"
          #profileActive="routerLinkActive">
          <mat-icon svgIcon="app-menu-smile"></mat-icon>
          <span class="loan-request-menu__label">Mi perfil</span>
        </a>
        -->


        <!-- Options -->
        <!--
        <a routerLink="options"
          mat-list-item
          routerLinkActive="active"
          #optionsActive="routerLinkActive">
          <mat-icon svgIcon="app-options"></mat-icon>
          <span class="loan-request-menu__label">Opciones</span>
        </a>
        -->

        <!-- HR My Team -->
        <a routerLink="hr-myteam"
          mat-list-item
          routerLinkActive="active"
          #hrMyTeamActive="routerLinkActive">
          <mat-icon svgIcon="app-menu-myteam"></mat-icon>
          <span class="loan-request-menu__label">Mis Colaboradores</span>
        </a>

        <!-- HR My Messages -->
        <a routerLink="hr-mymessages"
          mat-list-item
          routerLinkActive="active"
          #hrMyMessagesActive="routerLinkActive">
          <mat-icon svgIcon="app-menu-communication"></mat-icon>
          <span class="loan-request-menu__label">Comunicación</span>
        </a>

        <!-- ayuda -->
        <a routerLink="help"
          mat-list-item
          routerLinkActive="active"
          #helpActive="routerLinkActive">
          <mat-icon svgIcon="app-questions"></mat-icon>
          <span class="loan-request-menu__label">Ayuda</span>
        </a>

      </mat-nav-list>

    </section>
    <!-- Loan Request Service -->

    <footer>
      <div class="loan-request-sidenav__close-session">
        <a (click)="onCloseSession()"
        style="cursor: pointer; color: white;"> 
          <u>Cerrar sesión</u>
        </a> 
        <br>
      </div>
      <br>
      <div style="text-align: center;color: white">
         <img width="50%" height="50%" src="assets/ixhua-colors/logos/ixhua-logo-white.svg"/>
         <hr style="color: white; width: 80%">
         <p style="font-size: 12px;">© Copyright Ixhua 2021</p>
      </div>
    </footer>  

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="loan-request-toolbar loan-request-toolbar--xs">
      <button
        class="loan-request-toolbar-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" svgIcon="app-menu"></mat-icon>
      </button>

      <figure class="loan-request-xs-logo"></figure>

      <app-loan-seeds class="loan-request-seeds"></app-loan-seeds>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
