<div class="my-overlay">  
	<div class="flex__column">
		<section class="grid-row">
		  

		  <div class="col-12 col-md-12 col-sm-12" style="display: flex;justify-content: center">
		      <img src="assets/ixhua-colors/logos/ixhua-logo-white.svg"/>
		  </div>

		  <div class="col-12 col-md-12 col-sm-12" style="display: flex;justify-content: center">
		      <p class="overlay-text-title">Próximamente</p>
		  </div>

		  <div class="col-12 col-md-12 col-sm-12" style="display: flex;justify-content: center;text-align: center;">
		     <p class="overlay-text">
		     	Recuerda que puedes generar contenido interactivo para tus empleados y personas de interes.
		  	</p>
		  </div>
		</section>
	</div>
</div>