<mat-sidenav-container class="auth"
  [ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
  (hasBackdrop)="true" 
  (backdropClick)="_checkClickInBack();">

  <mat-sidenav-content>
    <!-- header component -->
    <app-header [routeValue]="routeValue"
    [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)"></app-header>

    <!--auth content -->
    <div class="auth-content grid-container pages-content mt-6 text-justify">
      <div class="grid-row">
        <h1 class="page-title my-6 mx-auto mw-900px">Derechos de Acceso, Rectificación, Cancelación, Oposición y Revocación del Consentimiento</h1>
        <p class="mt-0">
            El procedimiento para el ejercicio de los Derechos de Acceso, Rectificación, Cancelación y Oposición en lo sucesivo e identificados para efectos del presente modulo como “Derechos ARCO” se sujetará a las especificaciones precisadas por la Ley Federal de Protección de Datos Personales en Posesión de Particulares “LEY” en su capítulo IV y al Reglamento de la ley antes citada “REGLAMENTO” Capítulo VII Sección I a la V; el responsable <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>. se compromete a dar el debido seguimiento al desahogo del procedimiento respecto del ejercicio de los Derechos ARCO.
            <br/><br/>
            Procedimiento de Exigibilidad de los Derechos ARCO 
        </p>
        
        <h4>DEFINICIONES</h4>
        <p>  
              •	ACCESO – Es el derecho de conocer los datos personales que han sido puestos a disposición de <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>, relativo al titular de los Datos Personales.
              •	RECTIFICACION – Es el derecho de modificar o completar los datos personales relativos al titular cuando se encuentren incompletos o erróneos.
              •	CANCELACIÓN – Es el derecho que tiene el titular de cancelar de manera total o parcial el tratamiento de sus datos personales. Procede cuando el titular no guarde relación jurídica y contractual con <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>
              •	OPOSICIÓN – Es el derecho del titular de exigir que <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>, no utilice cierta información que genere alguna afectación a su persona.
              •	REVOCACIÓN DEL CONSENTIMIENTO – Es la anulación del consentimiento del titular respecto al uso de sus datos personales.
              •	TITULAR – Es el individuo que goza de los derechos ARCO, en este caso el cliente, usuario, proveedor, prestador de servicios o cualquier persona que haya transmitido sus datos personales a <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>.
              <br/><br/>
        </p>
        <h4>SOLICITUD</h4>
        <p>
              •	Según las especificaciones legales y las relativas a la Protección de Datos Personales en la LEY en su Art. 28 el Titular o su Representante legal podrán solicitar al responsable en cualquier momento el Acceso, Rectificación, Cancelación u Oposición, respecto de los datos personales que les conciernan y darle seguimiento como lo indica el REGLAMENTO, siempre cuando se acredite la relación entre las partes.
              <br/><br/>
              •	Para el ejercicio de los Derechos ARCO se requiere la siguiente información en original y copia:
        </p>
        <br/><br/>
        <table class="pages-table">
            <tr>
              <th>Solicitud Personal del Titular</th>
              <th>Solicitud a través de Representante Legal</th>
            </tr>
            <tr>
              <td>Presentar solicitud firmada</td>
              <td>Presentar solicitud firmada por el Titular y Representante</td>
            </tr>
            <tr>
              <td>Comprobante de domicilio actual y vigente</td>
              <td>Comprobante de domicilio actual y vigente del Titular</td>
            </tr>
            <tr>
              <td>Identificación oficial con fotografía. </td>
              <td>Identificación oficial del Titular y del Representante Legal</td>
            </tr>
            <tr>
              <td></td>
              <td>Poder Notariado otorgada al Representante para ejercer tales funciones</td>
            </tr>
          </table>
          <br/><br/>
          <p>
              Para poder cotejar la personalidad del representante legal es necesario que sea ante fedatario público, ya sea a través de un poder notarial o carta poder otorgada ante dos testigos pero ante fedatario público, ya que como responsables de proteger tu información y garantizar la Garantía Constitucional y Derecho Humano a la “Intimidad y Protección de Datos Personales”, evitamos que se presenten documentos apócrifos o fáciles de falsificar por terceras personas que pretendan acceder a tu información buscando engañarnos para así obtener beneficiarse. 
              <br/><br/>
              •	La solicitud del Titular o la que presente el Representante Legal a cargo del Titular deberá describir clara y precisamente los datos personales respecto de los cuales busca ejercer uno de los Derechos ARCO y a su vez manifestar cual es la afectación que así reconoce, esta solicitud deberá ir firmada por el Titular en todo momento, aun cuando actué a través de Representante Legal excepto cuando exista una causal de incapacidad debidamente acreditada de que el Titular de los Datos Personales no puede firmar.
          </p>
          <h4>JUSTIFICACION Y PROCEDIMIENTO</h4>
          <p>
            	•	Los Derechos ARCO serán exigibles a través de las especificaciones del REGLAMENTO además de la debida identificación y acreditación del titular ante la institución y su relación con tales datos.
              <br/><br/>
              •	El derecho de ACCESO se reconocerá mediante señalamiento específico de los datos personales a conocer. Tendrás 15 días desde la presentación de tu solicitud para revisar la información que pongamos a tu disposición, ya sean datos personales o el Aviso de Privacidad; si no haces exigible tu derecho dentro de los 15 días, deberás presentar una solicitud nueva y la anterior quedará sin efectos. (Art. 23 de la LEY y 101-102 del REGLAMENTO)
              <br/><br/>
              •	El derecho de RECTIFICACION de algún dato deberá presentar la información relativa que permita la confirmación visible del hecho y la evidencia para realizar la modificación o complemento, así como identificación oficial que lo acredite como el Titular de los Datos Personales a modificar. Bajo ninguna circunstancia un tercero ajeno podrá solicitar la modificación de las bases de datos y de registros físicos de <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>, del Titular de los Datos Personales a excepción del Representante Legal que requerirá de la firma del Titular en la Solicitud. (Art. 24 LEY y 103-104 del REGLAMENTO)
          </p>
          <br/><br/>
          <table class="pages-table">
            <tr>
              <th>Ejemplo de Rectificación de Datos</th>
              <th>Documentos Requeridos (Evidencia)</th>
            </tr>
            <tr>
              <td>Cambio de domicilio</td>
              <td>Comprobante de Domicilio Actual e Identificación</td>
            </tr>
            <tr>
              <td>Cambio de nombre</td>
              <td>Acta de Nacimiento (Nueva) e Identificación</td>
            </tr>
          </table>
          <br/><br/>
          <p>
            •	El derecho de CANCELACION procederá cuando el Titular de los Datos Personales no guarde relación jurídica o contractual alguna con <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>, o que ya existente la relación el Titular de los Datos Personales quiera darla por terminada. Si existiera ya una relación contractual el Titular deberá dar por terminada(s) todas las relaciones contractuales pendientes antes de poder cancelar el uso de sus Datos Personales en relación a los productos o servicios que otorga <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>, Tras cancelar sus datos estos se bloquearan del sistema y se guardaran por especificaciones y mandato de Ley. (Arts. 25 - 26 LEY y 105-108 REGLAMENTO) 
            <br/><br/>
            •	La cancelación de la información tendrá como consecuencia el retirar de uso la información del prospecto a cliente, cliente, usuario, proveedor, prestador de servicio o colaborador; pero la información se mantendrá almacenada hasta que prescriban las obligaciones legales respecto de su retención por 5 cinco años en materia fiscal y por 10 diez años en materia comercial. (Art. 30 Código Fiscal de la Federación y Art. 46 Código de Comercio).
            <br/><br/>
            •	La REVOCACIÓN DEL CONSENTIMIENTO, procederá cuando el Titular no tenga ninguna relación jurídica con <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>, tal revocación generará el bloqueo de los Datos Personales hasta que se proceda a la cancelación de los datos. La revocación del consentimiento podrá dar por terminado los lazos pre-contractuales y no habrá necesidad de retener la información frente obligaciones legales pues no existe lazo contractual o de responsabilidad.
            <br/><br/>
            •	El Derecho de OPOSICION, requerirá del señalamiento específico de los datos a los que se opone que se esté dando un uso específico. Tales datos deberán de no generar una afectación en su uso en contra del Titular pero a su vez no afectar la relación jurídica con <strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong>, y las obligaciones que tenga la Sociedad frente a la Autoridad (Art. 27 LEY y 109 REGLAMENTO).
            <br/><br/>
            •	La solicitud del ejercicio de los derechos ARCO podrá ser el formato que ponemos a tu disposición para un correcto llenado de requisitos de comprobación o en formato personalizado por el Titular de los Datos Personales, las cuales en todo momento deberán de estar firmadas al calce en todas sus hojas y en la final se deberá de poner nombre y firma. 
            <br/><br/>
            •<strong><strong>“IXHUA TECH, S.A.P.I. DE C.V.”</strong></strong>, una vez recibida la solicitud deberá notificar en el plazo de 20 veinte días hábiles una respuesta al Titular de los Datos Personales, en caso de que sea procedente la solicitud de Derechos ARCO esta deberá hacerse ejecutable dentro de los 15 quince días hábiles después de la notificación. (Art. 32 de la LEY)
            <br/><br/>
            •	Si así fuera necesario desahogar el procedimiento de manera contenciosa nos remitiremos a la jurisdicción aplicable que designe el INAI y su normatividad.
          </p>
      </div>
      <br/><br/>
      <br/><br/>
      <a class="pages-download" 
         download="formato_solicitud_Arco" 
         target="_blank" 
         href="{{path}}">Descarga la solicitud aquí</a>
    </div>
    
    <!-- auth footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
                  
      
