<mat-sidenav-container class="auth"
[ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
(hasBackdrop)="true" 
(backdropClick)="_checkClickInBack();">

  <mat-sidenav-content>
    <!-- header component -->
    <app-header [routeValue]="routeValue"
    [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)"></app-header>

    <!--auth content -->
    <div class="auth-content grid-container pages-content mt-6 text-justify">
      <div class="grid-row">
        <h1 class="page-title my-6 mx-auto mw-774px">Aviso de privacidad integral</h1>
        <p class="pb-3 mt-0">
          

          En base a la <strong>“Ley Federal de Protección de Datos Personales en Posesión de Particulares”</strong> <i>(en lo sucesivo la LEY)</i> y en el <strong>“Reglamento a la Ley Federal de Protección de Datos Personales en Posesión de Particulares”</strong> <i>(en lo sucesivo el REGLAMENTO)</i>, así como en las especificaciones y parámetros previstos en los lineamientos del Aviso de Privacidad publicados en el Diario Oficial de la Federación, la empresa denominada <strong>“IXHUA TECH”, S.A.P.I. DE C.V.,</strong> <i>(en lo sucesivo EL RESPONSABLE)</i>, con domicilio ubicado en <strong>Real de Acueducto 240 int. 8, Colonia Puerta de Hierro, Zapopan, Jalisco. C.P. 45116</strong>; pone a disposición del público en general el <strong>Aviso de Privacidad Integral para la Protección de los Datos Personales</strong> <i>(en lo sucesivo el Aviso de Privacidad).</i>
          <br><br>

          <strong>¿Quién es el responsable de tu información?</strong>
          <br/><br/>
          El responsable de la recepción, manejo y salvaguarda de la información será <strong><i>“IXHUA TECH”, S.A.P.I. DE C.V.</i></strong>, información que será utilizada en base al tratamiento y finalidades que se prevén a lo largo del presente Aviso de Privacidad.
          <br><br>

          <strong>¿Qué información personal recabamos?</strong>
          <br/><br/>   
          <strong>“EL RESPONSABLE”</strong> recabará de sus prospectos, clientes, proveedores y prestadores de servicios los siguientes datos: nombre, nacionalidad, lugar de residencia, lugar de nacimiento, estado civil, edad, domicilio personal y de trabajo, números telefónicos, correo electrónico, Registro Federal de Contribuyentes (RFC), Clave Única de Registro Población (CURP), datos bancarios, estados financieros, información patrimonial, copia de identificación oficial, firmas o rubricas (autógrafa, digital, electrónica avanzada), fotografías y copia de identificaciones oficiales.
          <br><br>
          Asimismo, <strong>“EL RESPONSABLE”</strong> solicitará de sus prospectos y trabajadores y de las personas con quien guarda una relación directa de trabajo los siguientes datos: nombre, fecha de nacimiento, lugar de nacimiento, domicilio particular, teléfono, correo electrónico, clave única de registro de población (CURP), registro federal de contribuyentes (RFC), estado civil, antecedentes penales, acta de nacimiento, comprobante de domicilio, cartas de recomendación, grado escolaridad y trayectoria educativa, titulo o certificado que ampare el grado de escolaridad, firma autógrafa, huella digital, número de Seguro Social, número de crédito INFONAVIT, licencia de manejo, fotografías y copia de identificaciones oficiales.
          <br><br>
          Toda aquella información que sea facilitada respecto de datos personales de terceros como elementos de referencia o de contacto, se sujetarán a las medidas de protección de la información de <strong>“EL RESPONSABLE”</strong>, quien se obliga a no divulgar ni transmitir dicha información, sujetándola al presente aviso de privacidad, no quedando exento de responsabilidad quien facilite tal información.
          <br/><br/>
          
          <strong>¿Con que finalidad usamos tu información?</strong>
          <br/><br/>
          A través del presente Aviso de Privacidad <strong>“EL RESPONSABLE”</strong> declara que los datos personales solicitados y recabados tendrán como finalidad: <strong>a)</strong>la celebración de contratos o convenios,  <strong> b) </strong> cumplir con las obligaciones adquiridas que existan con el titular de los datos personales, <strong> c) </strong> para la evaluación de la información financiera, <strong> d) </strong> para la celebración de otorgamientos de crédito, <strong>e)</strong> identificar al titular de la información, <strong>f)</strong> brindarle información acerca de los productos y servicios que ofrecemos, <strong>g)</strong> para poner a disposición de las personas toda nuestra publicidad, <strong>h)</strong> para realizar encuestas de control de calidad, <strong>i)</strong> evaluación del prospecto a cliente y/o prestador de servicio y/o proveedor, <strong>j)</strong> integración del expediente del prospecto y/o cliente y/o prestador de servicio y/o proveedor, <strong>k)</strong> para fines de comunicación con el titular.
          <br><br>
          Los datos personales solicitados por <strong>“EL RESPONSABLE”</strong> hacia sus trabajadores tendrán como finalidad:
          <br>
          <strong>I.</strong> La celebración de contratos o convenios. <br>
          <strong>II.</strong> Identificar al candidato a colaborador. <br>
          <strong>III.</strong> Evaluación del candidato a colaborador. <br>
          <strong>IV.</strong> Para la integración del expediente del candidato o trabajador. <br>
          <strong>V. </strong> Para futuras consultas y antecedentes. <br>
          <strong>VI. </strong> Para dar cumplimiento a obligaciones ante las autoridades en materia fiscal y/o seguridad social.
          <br><br>
          

          <strong>Confidencialidad y limitaciones</strong>
          <br/><br/>
          <strong>“EL RESPONSABLE”</strong> garantiza por medio de todas las medidas de seguridad tecnológicas, administrativas, técnicas y físicas el proteger tu información, garantizando en todo momento estricta confidencialidad y privacidad de la información a través de la implementación de medidas de seguridad y de control de la información, así como lo estipulado contractualmente, sujetándonos a los parámetros de la Ley y su Reglamento y las demás normativas aplicables. Aunado a lo anterior, <strong>“EL RESPONSABLE”</strong> administrará y resguardará los datos personales obtenidos mediante bases de datos, las cuales son administradas única y exclusivamente por las personas designadas para tales efectos, restringiendo todo tipo de acceso a personas no autorizadas, y bajo ninguna circunstancia; venderá, alquilará, enajenará, compartirá, transmitirá o transferirá
          tus datos personales sin que medie el consentimiento del titular. Las bases de datos están protegidas en todo momento por sistemas de seguridad de cómputo, con la finalidad de restringir el acceso o tratamiento de la información a personas ajenas y/o terceros no autorizados.
          <br><br>

          En caso de que desees limitar el uso o divulgación de los datos personales, en relación con una o varias de las formalidades del tratamiento de tus datos, deberás enviar la solicitud respectiva conforme al procedimiento previsto en el módulo de Derechos Arco del presente Aviso de Privacidad.
          <br/><br/>
          

          <strong>Uso de Cookies y web beacons</strong>
          <br><br>
          El sitio web <u>www.ixhua.mx</u> utiliza cookies (archivos de texto que son descargados automáticamente y
          almacenados en el dispositivo electrónico por el cual se accede), para reconocer a los usuarios habituales y rastrear su comportamiento de uso en nuestra página web. Las cookies no dañan tus archivos ni permiten que nadie tenga acceso a tus datos personales, simplemente nos permiten personalizar la información para brindar un mejor servicio. Cabe mencionar que, en la sección de “Servicio de atención al cliente” de nuestra página de internet, se podrá insertar información referente a datos de contacto. Informamos que el sitio web cuenta
          con web beacons que, funcionan para monitorear el comportamiento de las personas que visitan nuestro sitio web, como almacenar información sobre tu dirección IP, duración del tiempo de interacción en nuestra página y el tipo de navegador utilizado.
          <br><br>
          Los cookies y web beacons son utilizados para obtener información en base a los siguientes fines: a)
          Determinar la duración media de la visita, b) Porcentaje de visitas nuevas, c) Datos demográficos, d)
          Frecuencia de visitas y e) Navegador y sistema operativo.
          <br><br>

          
          <strong>¿Con quién compartimos tu información?</strong>
          <br/><br/>
          Para las transferencias de tu información personal a favor de terceros, te informamos que cuando así lo disponga una ley no será necesario obtener tu consentimiento, sin embargo, para los casos en que desees integrarte a nuestro equipo de trabajo o contratar nuestros servicios/productos, será necesario transferir tu información personal ante las personas Físicas, Jurídicas o Fuentes de Empleo que nos hayas proporcionado, con el fin de validar tu personalidad, integrar correctamente tu expediente, autentificar la información, y en su caso cotejar información de carácter patrimonial.
          <br/><br/>
          Previo a que realicemos cualquier transferencia con los fines aquí descritos, recabaremos tu consentimiento de forma expresa en el que se haga constar tu autorización.
          <br><br>


          <strong>Atención a dudas y reclamaciones</strong>
          <br/><br/>
          <strong>“IXHUA TECH, S.A.P.I. DE C.V.”.,</strong> tiene ubicada su oficina en <strong>Real de Acueducto 240 int. 8, Colonia Puerta de Hierro, Zapopan, Jalisco. C.P. 45116,</strong> correo electrónico: <strong>contacto@ixhua.mx</strong> para la atención de dudas o reclamaciones, así como para los efectos de revocación y negativa del consentimiento y para el seguimiento al procedimiento de Derechos ARCO a favor del titular de los datos personales.
          <br/><br/>
          Los horarios en los que se podrá solicitar toda la información y atención de dudas, serán en días hábiles de lunes a viernes de las 9:00 horas hasta las 17:00 horas, en el departamento de atención al cliente.
          <br><br>
          Dentro del domicilio y el correo electrónico que manifestamos, se podrá solicitar el aviso de privacidad integral y los derechos arco, así como cualquier otro documento o información que verse sobre el tratamiento de tus datos personales.
          <br><br>
          

          <strong>¿Cómo puedes hacer valer tus derechos ARCO (Acceso, Rectificación, Cancelación y Oposición)?</strong>
          <br/><br/>
          El titular de los datos personales por sí mismo o a través de su representante legal debidamente acreditado podrá iniciar el procedimiento de derechos ARCO a efecto de exigir la debida atención de sus datos personales, así como solicitar la finalización en el uso de su información. Comprometiéndonos a desahogar el procedimiento conforme a lo estipulado en la Ley y su Reglamento, el cual podrá desahogarse por escrito en el domicilio señalado en el presente Aviso de Privacidad en el apartado de atención a dudas y reclamaciones, así como por correo electrónico en la dirección señalada.
          <br/><br/>
          El procedimiento de derechos ARCO se explica debidamente en el módulo de Derechos ARCO que ponemos a tu disposición en el presente Aviso de Privacidad o vía física en nuestras oficinas y el cual es exigible por el titular de los derechos si así lo requieres, ya sea físicamente o por medio electrónico siempre y cuando guardes relación con <strong> “EL RESPONABLE”.</strong>
          <br><br>
          Te informamos que agotadas todas las vías que ponemos a tu disposición y sin haber recibido una respuesta satisfactoria, podrás iniciar el Procedimiento de Protección de Derechos ante el “Instituto Nacional de Acceso a la Información y Protección de Datos” (INAI), cuyo enlace electrónico es www.inai.gob.mx dentro de los 15 días siguientes a la recepción o falta de respuesta de su solicitud.
          <br><br>
          

          <strong>¿Cuáles son las formas de manifestar tu consentimiento?</strong>
          <br/><br/>
          Para que <strong>“EL RESPONSABLE”</strong> pueda llevar a cabo el tratamiento de tus datos personales deberás otorgarnos la aceptación expresa y/o tácita, la cual se realizará de la siguiente manera:
          <br/><br/>
          <strong>Aceptación Expresa. -</strong> Conforme a lo establecido por el numeral 8 de la Ley, se entenderá que manifestaste tu consentimiento expreso para el tratamiento de tus datos personales cuando manifiestes tu voluntad de manera verbal, por escrito, por medios electrónicos, ópticos o por cualquier otra tecnología. <strong>“EL RESPONSABLE”</strong> pondrá a tu disposición el presente Aviso de Privacidad a través de su página de internet <u>www.ixhua.mx</u> y/o por correo electrónico y/o de forma física al momento de comenzar cualquier relación o por solicitarlo físicamente en el domicilio que se señala en el apartado de “Atención a dudas y reclamaciones” dentro del presente Aviso de Privacidad, con el fin primordial de que te enteres de su contenido, otorgues y/o niegues tu consentimiento.
          <br><br>
          Cuando los datos se obtengan personalmente del titular, “EL RESPONSABLE” pondrá a tu disposición el presente Aviso de Privacidad de manera previa al recabado de los datos personales y de una forma clara y fehaciente por medio de los formatos y medios que se señalan en el presente Aviso de Privacidad.
          <br><br>
          

          <strong>Aceptación Tácita.-</strong> Conforme al artículo 8 de la Ley, el contenido del presente Aviso de Privacidad y todo lo referente al mismo serán puestos a disposición del titular por cualquiera de los medios establecidos en el presente Aviso de Privacidad, y para el caso de que no manifiestes tu negativa al tratamiento de tus datos personales en un periodo de 05 (cinco) días contados a partir de que “EL RESPONSABLE” ponga a tu disposición el presente Aviso de Privacidad o sus modificaciones, se entenderá que otorgas tu consentimiento tácito para que tratemos tus datos personales con base en las finalidades del tratamiento establecidas en el presente Aviso de Privacidad.
          <br><br>

          <strong>Aceptación Retroactiva.-</strong> Para todos nuestros clientes, usuarios, prestadores de servicios, proveedores y/o titulares de los datos personales que en fechas anteriores a la publicación del presente aviso de privacidad nos hayan proporcionado datos personales, les será puesto a su disposición el presente Aviso de Privacidad conforme a lo establecido en los apartados que anteceden, con el fin de que nos otorguen o nieguen su consentimiento, para que podamos continuar o no llevando a cabo el tratamiento de los datos personales con base en las finalidades del tratamiento establecidas en el presente Aviso de Privacidad, en el entendido de que en caso de no existir manifestación alguna de oposición al contenido dentro de los 05 días al momento de haberse puesto a tu disposición, tácitamente otorgas tu consentimiento para que podamos llevar a cabo el tratamiento de tus datos personales en base al presente Aviso de Privacidad.
          <br><br>

          
          <strong>Revocación del consentimiento</strong>
          <br><br>
          La revocación del consentimiento en el manejo de la información procederá cuando así lo solicites siempre y cuando acredites ser el titular de los datos personales, y sea jurídicamente viable proceder con la misma ya que si existe una relación contractual vigente o una obligación pendiente por cumplir, estará sujeta la revocación al contrato que dio origen a la relación jurídica, de conformidad con lo establecido por los numerales 16 fracción II de la Ley, 14, 30, 40, 41 y 42 del Reglamento.
          <br><br>
          La revocación de tu consentimiento la podrás llevar a cabo después de los 5 (cinco) días que se te han otorgado para que manifiestes tu negativa al tratamiento de la información. Podrás realizar la revocación dentro del domicilio que se ha señalado en el apartado de “Atención a dudas y reclamaciones”, presentando un escrito en donde expresamente menciones tu nombre y la leyenda “Por medio del presente escrito yo (nombre del titular) comparezco a solicitar a la persona moral “IXHUA TECH, S.A.P.I. DE C.V.”, la revocación de mi consentimiento para el tratamiento de mis datos personales”, poner el motivo de revocación y la fecha aproximada en que se transmitieron los datos personales, la relación jurídica o comercial que existe o existió con la empresa, tu correo electrónico o domicilio para notificarte la respuesta a tu petición, fecha del día de la solicitud, firma autógrafa y copia de tu identificación oficial. Todos estos requisitos se te solicitan para poder dar fe y veracidad a que la solicitud es emitida de forma comprobable con relación al titular o solicitante.
          <br><br>
          

          <strong>Listado de exclusión</strong>
          <br><br>
          <strong>“EL RESPONSABLE”</strong> contará con un listado de exclusión de la información, en la que se pondrá y almacenará toda aquella información que por parte del titular desee ser excluida en el tratamiento de la información, por lo que para proceder a dicho almacenamiento es necesario que presentes un escrito en donde expresamente menciones tu nombre y la leyenda <i>“Por medio del presente escrito yo (nombre del titular) comparezco a solicitar a la persona moral “IXHUA TECH, S.A.P.I. DE C.V.”, la exclusión de mi información referente a: (enlistar o especificar qué tipo de datos e información deseas excluir de nuestro tratamiento) respecto del tratamiento de mis datos personales”</i>, la fecha aproximada en que se transmitieron los datos personales, la relación jurídica o comercial que existe o existió con la empresa, tu correo electrónico o domicilio para notificarte la respuesta a tu petición, fecha de la solicitud, firma autógrafa y copia de tu identificación oficial.
          <br><br>
          Te informamos que aun y se excluya el tratamiento de la información, es nuestra obligación conservar todos los datos, cuando sea respecto a información contable de 5 a 10 años según lo previsto en el Código Fiscal de la Federación en su Art. 30 y en el caso de información comercial 10 años según lo previsto en el Art. 46 del Código de Comercio. Agotado ese plazo de tiempo la información podrá ser eliminada y destruida totalmente.
          <br><br>

          <strong>Actualización y modificación al Aviso de Privacidad</strong>
          <br><br>
          El presente Aviso de Privacidad podrá ser modificado en cualquier momento, notificándose mediante la
          página de internet <u>www.ixhua.mx</u> la última actualización realizada, para que los titulares de los datos personales puedan solicitar la actualización efectuada de conformidad con lo previsto en el apartado de “Atención a dudas y reclamaciones” del presente Aviso de Privacidad.
          <br><br>
          Primera actualización 18 de mayo de 2020. <br>
          Última actualización 09 de junio de 2020.
          

          
          
        </p>
      </div>
      
    </div>
    
     <!-- auth footer -->
     <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
                  
      