/*

** Loan request calculator styles

*/

.loan-request-calculator {

  &__header,
  &__slider-labels,
  &__slider-content {
    display: flex;
    align-items: center;
  }

  &__header h2 {
    font-size: 24px;
    padding-right: 21px;
  }

  &__header .mat-form-field {
    max-width: 229px;
  }

  &__header .mat-form-field .mat-input-element {
    color: $loan-request-green-status;
    text-align: center;
    font-size: 20px;
  }

  &__header .mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding:0;
  }

  &__slider {
    justify-content: center;
  }

  &__slider-content {
    justify-content: space-between;
  }

  &__slider mat-slider.custom-slider {
    margin-bottom: 12px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 712px;
    width: 100%;
  }

  &__slider-title-value {
    color: $loan-request-primary-color;
    font-family: "Intro Bold";
    font-size: 14px;
    margin:0;
  }

  &__slider-labels {
    justify-content: space-between;
    margin-bottom: 1em;
  }

  // labels
  &-heading {
    font-size: 24px;
  }

  &__label-option {
    padding: 0.5em 0;
    margin: 0;
  }

  &__label-terms {
    font-size: 14px;
    margin:0;
    text-align: center;
  }

  &__detail-xs {
    display: none;
    font-size: 11px;
    text-align: center;
  }

  // grid

  &__fields,
  &__fields-lg,
  &__fields-group-checkbox {
    display: flex;
    justify-content: center;
  }

  &__fields-lg,
  &__fields-group-checkbox {
    flex-direction: column;
  }

  &__fields-group-checkbox p,
  &__fields-lg p {
    text-align: center;
    padding-bottom: 6px;
  }

  &__fields {
    flex-direction: row;
    align-items: center;
  }

  &__fields .mat-form-field {
    max-width: 140px;
  }

  &__fields-checkbox {
    padding-right: .5em;
    padding-top: 1em;
  }

  &__fields &__plus-icon,
  &__fields &__equals-icon {
    margin: 10px 3px 0 3px;
    flex-shrink: 0;
  }

  &__fields &__plus-icon {
    height: 12px;
    width: 12px;
  }

  &__fields &__equals-icon {
    height: 16px;
    width: 16px;
  }

  &__total-fields,
  &__total-fields .mat-input-element:disabled {
    color: $color-black;
  }
}
