.loan-request-seeds {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px; 
  padding-top: 6px;

  &__name {
    font-family: Red Hat Display,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
  }

  &__actual_position {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #A0C1FA;

  }


  &__label {
    color: $dark-text;
    font-family: "Intro Book";
    font-size: 14px;
    max-width: 200px;
    padding-bottom: 8px;
    padding-top: 10px;  
  }

  &__name,
  &__label {
    text-align: center;
  }

  &__icons {
    display: flex;
    justify-content: center;
  }

  &__icons .mat-icon {
    height: 15px;	
    width: 17px;
  }

  &.loan-request-seeds--lg &__icons {
    padding: 0 1em;
  }

  &.loan-request-seeds--xs &__icons {
    padding: 0;
  }

}