/*
****
**        Toolbar & sidenav styles in loan request section
***

*/

.loan-request {
  /*background: url("/assets/img/fondos/fondo_yellow-full.svg") no-repeat 100% 0px,
              url("/assets/img/fondos/fondo_azul-full.svg") no-repeat left bottom / 44% 100%;*/

  &.mat-drawer-container {
    background-color: #ffffff!important; /*$loan-request-bg-color;*/
  }

  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
  }

/****************** toolbar */
  &-toolbar {
    background: $color-white;
  }

  &-toolbar--xs.mat-toolbar-single-row {
    display: none;
    
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.2);
    height: 48px;
    padding-left: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
 
  &-toolbar--lg.mat-toolbar {
    height: 122px;
  } 

  &-lg-logo {
    background: url('/assets/img/logos/ixhua-logo-full.svg') no-repeat;
    width: 200px;
    height: 85px;
    margin-top: 50px;
  }
  
  &-xs-logo {
    display: none;
    background:url('/assets/img/logos/ixhua-logo.svg');
    background-repeat: no-repeat;
    background-size: auto;
    height: 31px;
    margin:0;
    margin-top: 22px;
    margin-left: 4px;
    width: 59px;
  }

  &-toolbar-button {
    margin-top: .4em!important;
  }

  &-toolbar-button .mat-icon {
    color: $loan-request-primary-color;
    width: 20px;
    height: 18px;
  }

  &-toolbar-button.cdk-focused .mat-button-focus-overlay {
    opacity: .1;
  }

/****************** sidenav */
  &-sidenav {
    width: $loan-request-sidenav-width;
  }

  .mat-sidenav-content {
    min-height: 100vh;
  }

  &-sidenav__close-session {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 4.4em;
  }

  &-sidenav__close-session .mat-rounded-button {
    font-size: 12px;
    min-width: $loan-request-sidenav-close-session-width;
  }
}