/*
***
*** loan request variables - settings 
***

*/
$loan-request-primary-color:                $color-brand-primary;
$loan-request-menu-font-size:               14px;
$loan-request-dark-color:                   $dark-text;
$loan-request-bg-color:                     $color-lighter-gray;

$loan-request-sidenav-width:                240px;
$loan-request-sidenav-close-session-width:  193px;
$loan-request-toolbar-border-color:         $color-light-gray;

/******************************************************** setting for menu */
$loan-request-menu-list-height:      39px;   
$loan-request-menu-icon-width:       14px;
$loan-request-menu-icon-height:      12px;

/******************************************************** setting for main card and nav */
$loan-request-main-card-width:       870px;
$loan-request-main-card-height:      557px;
$loan-request-main-border-radius:    15px;

$loan-request-main-nav-icon-width:          18px;
$loan-request-main-nav-icon-disabled-width: 12px;
$loan-request-main-nav-icon-height:         18px;

$loan-request-main-nav-link-width:          74px;
$loan-request-main-nav-link-height:         32px;
$loan-request-main-nav-link-opacity:        .6;  


/*  subcomponents */
$loan-request-gray-status:    $color-brand-primary;
$loan-request-yellow-status:  $color-brand-accent;
$loan-request-green-status:   $success;

$loan-request-totals-border-color:  rgba($dark-text, .2);
 