.loan-request-totals {

  background-color: $color-white;
  border-bottom: 1px solid $loan-request-totals-border-color;
  border-top: 1px solid $loan-request-totals-border-color;  
  display: flex;
  flex-direction: column;
  text-align: center;

  &__block {
    display: flex;
  }

  &__block:first-child,
  &__sub-block {
    flex-direction: column;
  }

  &__sub-block {
    align-items: center;
    max-width: 50%;
    width: 50%;
    padding: 16px 0;
  }

  &-heading {
    color: $dark-text;
  }

  &-value {
    font-size: 14px;
    padding-top: 8px;
  }

  &-heading,
  &-value {
    font-family: "Intro Bold";
    letter-spacing: -0.12px;
    line-height: 18px;
    margin:0;
  }
  
  &__sub-block &-heading {
    margin: 0 auto;
    max-width: 76px;
  }

  &__block:first-child {
    border-bottom: 1px solid $loan-request-totals-border-color;
    padding: 12px 0;
  }
  
  &__sub-block:last-child {
    border-left: 1px solid $loan-request-totals-border-color;
  }

  &__block:first-child &-heading {
    font-size: 16px;
  }

  &__block:last-child &-heading {
    font-size: 14px;
  }
}

.loan-request-totals--xs {
  display: none;

  .loan-request-totals__block {
    flex-direction: column;
  }
}