/*
  Loan request card & nav styles
*/

mat-card.loan-request-card {
  min-height: $loan-request-main-card-height;
  padding: 10px 16px;
  width: $loan-request-main-card-width;
}

.mat-card.loan-request-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.18);
  border-radius: $loan-request-main-border-radius;
}

mat-card.custom-message {
  padding: 10px 16px;
  width: $loan-request-main-card-width;
  background-color: #202945;
}

.mat-card.loan-request-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.18);
  border-radius: $loan-request-main-border-radius;
}


/******************************************** styles for nav  */
.loan-request-nav {
  border-bottom-width: 0;
  pointer-events: none; /* Disable all mouse related events */
  /* Vertically center the navigation bullets */
  position: fixed !important; /* Added important rule to override angular material styles*/
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .mat-tab-links {
   flex-direction: column;
  }

  .mat-ink-bar {
    display: none;
  }

  .mat-tab-link {
    min-width: $loan-request-main-nav-link-width;
    height: $loan-request-main-nav-link-height;
  }

  .mat-tab-link .mat-ripple-element {
    display: none;
  }

  .mat-tab-links .mat-icon {
    width: $loan-request-main-nav-icon-width;
    height: $loan-request-main-nav-icon-height;
  }

  .mat-tab-links .mat-icon.disabled {
    width: $loan-request-main-nav-icon-disabled-width;
  }

  .mat-tab-link:hover .mat-icon {
    opacity: $loan-request-main-nav-link-opacity;
  }
}
