.loan-request-menu {

  &.mat-list-base {
    padding-top: 42px;
  }

  .mat-list-item {
    color:#FFFFFF;
    font-size: $loan-request-menu-font-size;
    height: $loan-request-menu-list-height!important;
/* identical to box height, or 157% */

/* Accent */
color: #FFFFFF;

    /*opacity: .1;*/
  }

  &.mat-list-base .mat-list-item .mat-list-item-content {
    padding-left: 41px;
    padding-right: 41px;
  }

  .mat-list-item .mat-icon {
    width:  $loan-request-menu-icon-width;
    height: $loan-request-menu-icon-height;
  }
  
  .mat-list-item &__label {
    margin-left: 20px;
    position: relative;
    font-family: Red Hat Display,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

  .mat-list-item.active &__label::after {
    background-color: #FFFFFF; 
    content: '';
    height: 2px;
    width: 50px;
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  .mat-list-item.active {
    background-color: #041362;
    opacity: 0.5;
  }

  .mat-list-item:not(.active)  .svg-layer {
    opacity: .9;
  }
}



.ixhua-colors-menu{
  background: #154ACE;
}