/*
****
**          Responsive loan request styles
***
*/

@media only screen and (max-width: $lg-breakpoint) {
  .loan-request-main {
    padding-right: 1.8em;
    padding-left: 1.8em;
    width: 100%;
  }

  .loan-request-nav .mat-tab-link {
    min-width: 62px;
    width: 62px;
    padding: 0 10px;
  }
}

@media only screen and (max-width: $md-second-breakpoint) {
  mat-card.loan-request-card {
    width: calc(100vw - 347px);
  }

  mat-card.custom-message {
    width: calc(100vw - 347px);
  }
}

@media only screen and (min-width: 1253px) and (max-width:  1298px) {
  .loan-request-calculator__fields .loan-request-calculator__plus-icon,
  .loan-request-calculator__fields .loan-request-calculator__equals-icon {
    margin: 10px 9px 0 9px;
  }
  .loan-request-calculator__fields .mat-form-field {
    max-width: 130px;
  }
}


@media only screen and (min-width: 1180px) and (max-width:  1232px) {
  .loan-request-calculator__fields .loan-request-calculator__plus-icon,
  .loan-request-calculator__fields .loan-request-calculator__equals-icon {
    margin: 10px 7px 0 7px;
  }
  .loan-request-calculator__fields .mat-form-field {
    max-width: 130px;
  }
}

@media only screen and (min-width: 1102px) and (max-width:  1179px) {
  .loan-request-calculator__fields .mat-form-field {
    max-width: 120px;
  }
}

@media only screen and (min-width: $sm-second-two-breakpoint) and (max-width:  1101px) {
  .loan-request-calculator__fields .mat-form-field {
    max-width: 100px;
  }

  .aux {
    margin-bottom: 1.25rem !important;
  }
}

@media only screen and (max-width: $md-breakpoint) {
  /*calculator */
  .loan-request-calculator__header {
    flex-direction: column;
  }

  .loan-request-calculator__header h2,
  .loan-request-calculator-heading {
    font-size: 18px;
  }

  .loan-request-calculator__header .mat-form-field {
    max-width: 100%;
  }

  .loan-request-calculator-heading {
    text-align: center;
  }

  .loan-request-calculator__fields,
  .loan-request-calculator__detail-xs {
    display: block;
  }

  .loan-request-calculator__fields-lg,
  .loan-request-calculator__plus-icon,
  .loan-request-calculator__equals-icon {
    display: none!important;
  }

  .loan-request-calculator__label-option {
    margin-left: 36px;
    text-align: center;
  }

  .loan-request-calculator__fields-group-checkbox {
    align-items: center;
    width: 100%;
  }

  .loan-request-calculator__fields-group-checkbox .mat-form-field {
    max-width: 100%;
  }

  .loan-request-calculator__label-terms {
    padding-top: .5em;
  }

  .aux {
    margin-bottom: 1.50rem !important;
  }

}

@media only screen and (max-width: $sm-second-two-breakpoint) {
  .loan-request-toolbar .loan-request-lg-logo {
    display: none;
  }

  .loan-request-sidenav .loan-request-toolbar--lg {
    border-bottom: 0.5px solid $loan-request-toolbar-border-color;
    height: 77px;
  }

  .loan-request-toolbar.loan-request-toolbar--lg .loan-request-xs-logo {
    margin-left: 33px;
  }

  .loan-request-toolbar.loan-request-toolbar--lg .loan-request-xs-logo,
  .loan-request-toolbar--xs .loan-request-xs-logo {
    display: block;
  }

  mat-toolbar.loan-request-toolbar--xs.mat-toolbar-single-row {
    display: flex;
    height: 76px;
  }

  /**                         Seeds subcomponent **/
  .loan-request-seeds--lg {
    display: none;
  }

  .loan-request-seeds {
    align-items: flex-end;
    margin-top: 4px;
    width: 100%;
  }

  .loan-request-seeds__name {
    display: none;
  }

  .loan-request-seeds__label {
    text-align: right;
    min-width: 100%;
  }

  /**                         Total subcomponent **/
  .loan-request-totals {
    flex-direction: row;
    margin-top: 17px;
    width: calc(100% - 28px);
    border-bottom-width: 0;
    border-top-width: 0;
  }

  .loan-request-totals__block {
    justify-content: center;
    max-width: 50%;
    width: 50%;
  }

  .loan-request-totals__sub-block {
    width: 100%;
    max-width: 100%;
  }

  .loan-request-totals__block:first-child {
    border-bottom-width: 0;
    border-right: 1px solid $loan-request-totals-border-color;
  }

  .loan-request-totals__sub-block:last-child {
    border-left-width: 0;
    border-top: 1px solid $loan-request-totals-border-color;
  }

  .loan-request-totals__sub-block .loan-request-totals-heading {
    max-width: 100%;
  }

  .loan-request-totals--lg {
    display: none;
  }

  .loan-request-totals--xs {
    display: flex;
    width: 100%;
  }

  .loan-request-totals--xs .loan-request-totals {
    width: 100%;
  }

  /**                         Main **/

  .loan-request-main {
    margin: 17px 0 0 0;
  }

  .loan-request-main__wrapper .loan-request-main-content {
    align-items: flex-start;
  }

  .loan-request .mat-sidenav-content {
    width: 100%;
  }

  mat-card.loan-request-card {
    width: 100%;
    min-width: 100%;
  }

  mat-card.custom-message {
    width: 100%;
    min-width: 100%;
  }

  .loan-request-main__wrapper {
    align-items: flex-start;
  }

  .loan-request-main__title {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-card.loan-request-card:not([class*=mat-elevation-z]),
  .loan-request-totals {
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.2);
  }

  .loan-request-calculator__header h2 {
    margin-bottom: .2em;
    padding-right: 0;
  }

  //***********  nav
  .loan-request-nav {
    margin-top: 38px;
  }

  .loan-request-nav .mat-tab-link {
    min-width: 28px;
    width: 28px;
    padding: 3px;
    height: auto;
  }

  .loan-request-nav .mat-tab-links .mat-icon {
    height: 12px;
    width: 13px;
  }

  .loan-request-nav .mat-tab-links .mat-icon.disabled {
    width: 8px;
  }

}

@media only screen and (max-width: 800px) {
  .loan-request-sidenav.mat-drawer-side {
    display: none;
    width: 0!important;
  }

  .mat-drawer-content.mat-sidenav-content {
    margin-left: 0!important;
  }

}

@media only screen and (max-width: 590px) {
  .loan-request-calculator__fields-group-checkbox {
    align-items: start;
    width: 80%;
  }
}

@media only screen and (max-width: $xs-breakpoint) {

  .loan-request-seeds {
    max-width: 220px;
    margin-left: auto;
    padding: 0;
  }

  .loan-request-seeds__label {
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    width: 100%;
  }

  .loan-request-calculator__label-option {
    margin-left: 16px;
  }

  .loan-request-calculator__fields-checkbox {
    padding-right: 0;
  }

  .loan-request-calculator__fields-group-checkbox {
    align-items: start;
    width: 75%;
  }

  .loan-request-calculator__slider,
  .loan-request-calculator__slider-title-value,
   mat-slider.custom-slider.mat-accent .mat-slider-thumb-label-text {
    font-size: 11px;
  }
}

@media only screen and (max-width: 394px) {
  .loan-request-calculator__fields-checkbox {
    padding-top: 2em;
  }
}
