.loan-request-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 6em;
  padding-bottom: 4.5em;

  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  &__wrapper &-content {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__title {
    color: $loan-request-dark-color;
    font-family: "Intro Bold";
    font-size: 35px;
    margin: 0;
    padding-top: 19px;
  }

  &-action {
    position: relative;
    height: 100%;
  }

  &-checkboxes-group .mat-checkbox-label {
    text-align: left;
    line-height: 17px;
    padding-left: .6em;
  }
  
  &-action .mat-rounded-button {
    position: absolute;
    left: 50%;
    bottom: -86px;
    min-width: 219px;
    font-size: 24px;
    padding: 17px 0;
    border-radius: 35.5px;
    transform: translateX(-50%);
  }
}
