<header class="auth-header">
  <div class="auth-header__wrapper flex">
    
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__logo"></figure>
    </a>

   
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__icon"></figure>
    </a>
   
    <p class="register-form-header-title">Registro de usuarios</p>
    

  </div>
</header>




<section style="height: 100vh;">
  <div id="start" class="flex__column register-form-initial">
      <div class="grid-row" style="display: flex; justify-content: center; align-items: center;text-align: center;">     
        <div class="col-2 col-md-4 col-sm-12 elipse-steps">
          <img class="elipse-svg" src="/assets/ixhua-colors/icons/Ellipse-green-check.svg">
          <p>Datos personales</p>
        </div>
        <div class="col-2 col-md-4 col-sm-12 elipse-steps">
          <img class="elipse-svg" src="/assets/ixhua-colors/icons/Ellipse-green-check.svg">
          <p style="opacity: 0.64;">Valida tu teléfono</p>
        </div>
        <div class="col-2 col-md-4 col-sm-12 elipse-steps">
          <img class="elipse-svg" src="/assets/ixhua-colors/icons/Ellipse-green.svg">
          <p style="opacity: 0.64;">Crea tu contraseña</p>
        </div>
      </div>
  </div>



  <div class="flex__column register-form-info-section">
      <div class="grid-row" style="display: flex; justify-content: center;">
        
        <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
          <p class="register-form-header-text">
            Crea tu contraseña
          </p>
          <p>Para activar tu cuenta, crea una contraseña que contenga al menos 8 caracteres, una mayúscula y <br> un símbolo (ej. ixhua123$)
          </p>
        </div>

        <div class="col-5 col-md-6 col-sm-12">
          <form [formGroup]="form">
            <mat-form-field appearance="outline" style="min-width: 100%">
              <mat-label>Contraseña nueva</mat-label>
              <input class="input-register-section"
              #password
              placeholder="Contraseña nueva"
              type="password"
              autocomplete="off"
              matInput
              formControlName="password" (input)="validatePassword()">
               <mat-hint align="end" aria-live="polite">
                  {{password.value.length}} / 30
                </mat-hint>
            </mat-form-field>
            <mat-password-strength  [password]="password.value"></mat-password-strength>
            

            <p [ngClass]="{negative : type_error_1 == false,positive : type_error_1 == true}"> 
              La contraseña debe incluir una mayúscula.
            </p>

            <p [ngClass]="{negative : type_error_2 == false,positive : type_error_2 == true}"> 
              Al menos 8 caracteres.
            </p>

            <p [ngClass]="{negative : type_error_3 == false,positive : type_error_3 == true}"> 
              La contraseña debe incluir por lo menos un símbolo
            </p>


            <mat-form-field appearance="outline" style="min-width: 100%">
              <mat-label>Confirmar contraseña</mat-label>
              <input class="input-register-section"
              placeholder="Confirmar contraseña"
              type="password"
              autocomplete="off"
              matInput
              formControlName="passwordConfirm">
            </mat-form-field>
            <div *ngIf="form.controls.passwordConfirm.touched && form.hasError('mismatch')" class="mat-error-custom mb-2">
                Las contraseña no coinciden
            </div>
            <p class="mat-error-custom mb-2">{{general_error}}</p>
            <br>
            <div>
              <button
                class="new-primary-button"
                mat-flat-button
                color="primary"
                [disabled]="form.invalid && form.touched"
                (click)="activateConfirmButton()">
                  Activar cuenta
              </button>
            </div>

          </form>
        </div>

        
        

        <div class="col-3 col-md-6 col-sm-12" class="tip-image-1">
          <img src="/assets/ixhua-colors/images/tip-image-3.svg">
        </div>

      </div>
  </div>

</section>



<footer class="register-form-footer flex__column">
  <div class="grid-row">
    <div class="grid-row col-6 col-md-6 col-sm-12">
     <p class="alignleft register-form-footer-left-text"> <img style="margin: 10px 10px 10px 10px" src="/assets/ixhua-colors/logos/ixhua-gray-icon.svg"> Bienvenido a la plataforma</p>
    </div>

    <div class="col-6 col-md-6 col-sm-12">
      <p class="alignright">
        <span class="register-form-footer-right-text">¿Necesitas ayuda?</span>
        <br>
        <span style="margin: 1px 1px 1px 1px">
          <img src="/assets/ixhua-colors/icons/Whatsapp-blue.svg">
        </span>  
        <span class="register-form-footer-phone-text">333 406 5657 </span>
      </p>
    </div>

  </div>
</footer>
