<div class="info-validation" mat-dialog-content>
  <button mat-button class="info-validation__close" matDialogClose>
    <mat-icon svgIcon="app-close"></mat-icon>
  </button>

  <section class="text-center">
    <h2 class="info-validation__title text-center">Se han guardado los cambios.</h2>
    <p class="info-validation__message text-center mb-0">Tu contraseña ha sido actualizada.</p>
  </section>
</div>