/**
 * UPLOAD FILE COMPONENT
 */

 @import '../../../assets/sass/settings/all';

:host *,
:host *::after,
:host *::before {
  box-sizing: border-box;
}

:host,
.UploadFile {
  display: block;
  position: relative;
}

.UploadFile {
  min-height: 60px;
  width: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  position: relative;

  &.has-image {
    min-height: 90px;
  }

  &-input {
    display: none;
  }

  &-label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgba(51,51,51,0.5);
    text-align: center;
    transition: background-color linear .2s;
  }

  &-link {
    color: #007AFF;
  }

  &-message {
    color: rgba(51,51,51,0.5);
    font-family: "Intro Book";
    font-size: 12px;
    text-align: center;
  }

  &-close {
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 7px;
    padding: 0;
    height: 10px;
    line-height: 10px;
    min-width: 10px;
    width: 10px;
  }

  &-close svg {
    height: 10px;
    width: 10px;
  }
}

.UploadFile.has-image .UploadFile-label {
  transition: opacity linear .2s;
  opacity: 0;
}

.UploadFile-close:hover + .UploadFile.has-image .UploadFile-label,
.UploadFile.has-image:hover .UploadFile-label {
  color: white;
  background-color: rgba(black, .5);
  z-index: 5;
  opacity: 1;

  &,
  .UploadFile-link {
    color: white;
  }
}

//IE SUPPORT
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .UploadFile-label {
    display: inline;
    padding: 20px 6px;
  }
}