<!-- button class="UploadFile-close"
  mat-button
  (click)="removeFile($event)"
  *ngIf="imageUrl">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#CCCCCC" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
</button-->

<label class="UploadFile"
  [ngClass]="{'has-image': (imageUrl || hasPdf) }"
  [ngStyle]="(imageUrl || hasPdf) && { 'background': imageBackground }">

  <p class="UploadFile-label">
    Da clic para buscar y <span class="UploadFile-link">&nbsp;subir tus archivos.</span>
  </p>

  <input class="UploadFile-input"
    type="file"
    accept="image/png, image/jpeg, image/jpg, application/pdf"
    (change)="onFileChange($event)">
</label>

<p class="UploadFile-message my-1">{{controlLabel}}</p>
