<form class="grid-container p-2 mb-30px" [formGroup]="filesForm">
   <p style="color:red" *ngIf="!this.fileIneDate || !this.fileAdditionalDate || !this.fileBankAccountDate || !this.fileProofAddressDate || !this.filePaysheetOneDate || !this.filePaysheetTwoDate || !this.filePaysheetThreeDate || !this.fileSelfieDate" >Uno o más documentos están vencidos, actualizalos para guardar o continuar.</p>

  <section *ngIf="this.showPaysheetsReq"> 
    <h2 *ngIf="showClientType==true" class="fs-24px fw-normal m-0">Recibo(s) de nómina 
  	<small class="fs-14px">(Tamaño máximo de archivo 20MB .jpg, .png o .pdf)</small></h2>

  	<section *ngIf="showClientType==true" class="grid-row">
  		<div *ngIf="this.showPaysheetOneReq" class="col-4 col-md-6 col-sm-12">
        	<p class="m-0 fs-14px">Último recibo de nómina:</p>
            <div *ngIf="!this.showPaysheetOne">
            	<app-upload-file (fileChange)="onFileChange($event, 'paysheet_one')"></app-upload-file>
            	<ng-container *ngIf="filesForm.get('paysheet_one').touched">
            		<mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_one').hasError('required')">Este archivo es obligatorio.</mat-error>
                	<mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_one').hasError('invalidFileType')">
                		{{invalidFileMessage}}
                	</mat-error>
            	</ng-container>
            </div>
           	
           	<div *ngIf="this.showPaysheetOne && filePaysheetOneAux" style="text-align: center;">   
            	<div class="col-12"> 
                    <a *ngIf="this.filePaysheetOneDate" href="{{filePaysheetOneAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
                    <a *ngIf="!this.filePaysheetOneDate" href="{{filePaysheetOneAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a> 
                    <br>
                  	<a href="{{filePaysheetOneAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
                  	<a>&nbsp;</a>
                  	<button matTooltip="Remplazar" (click)="changeFile('paysheet_one',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
                  	<a>&nbsp;</a>
                  	<button matTooltip="Eliminar" (click)="deleteFile('paysheet_one',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
                    <p class="fs-12px" style="color:red;" *ngIf="!this.filePaysheetOneDate">Documento vencido</p>
                </div>
            </div>
        </div>

        <div *ngIf="this.showPaysheetTwoReq" class="col-4 col-md-6 col-sm-12">
           	<p class="m-0 fs-14px">Penúltimo recibo de nómina:</p>
            <div *ngIf="!this.showPaysheetTwo">
            	<app-upload-file (fileChange)="onFileChange($event, 'paysheet_two')"></app-upload-file>
                <ng-container *ngIf="filesForm.get('paysheet_two').touched">
                	<mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_two').hasError('required')">Este archivo es obligatorio.</mat-error>
                    <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_two').hasError('invalidFileType')">
                        {{invalidFileMessage}}
                    </mat-error>
                </ng-container>
            </div>
        
            <div *ngIf="this.showPaysheetTwo && filePaysheetTwoAux" style="text-align: center;">   
            	<div class="col-12">
                	  <a *ngIf="this.filePaysheetTwoDate" href="{{filePaysheetTwoAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
                    <a *ngIf="!this.filePaysheetTwoDate" href="{{filePaysheetTwoAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a> 
                    <br>  
                    <a href="{{filePaysheetTwoAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
                    <a>&nbsp;</a>
                    <button matTooltip="Remplazar" (click)="changeFile('paysheet_two',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
                    <a>&nbsp;</a>
                    <button matTooltip="Eliminar" (click)="deleteFile('paysheet_two',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
                    <p class="fs-12px" style="color:red" *ngIf="!this.filePaysheetTwoDate" >Documento vencido</p> 
                  </div> 
            </div>
        </div>

        <div *ngIf="this.showPaysheetThreeReq" class="col-4 col-md-6 col-sm-12">
           	<p class="m-0 fs-14px">Antepenúltimo recibo de nómina:</p>
            <div *ngIf="!this.showPaysheetThree">
            	<app-upload-file (fileChange)="onFileChange($event, 'paysheet_three')"></app-upload-file>
                <ng-container *ngIf="filesForm.get('paysheet_three').touched">
                	<mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_three').hasError('required')">Este archivo es obligatorio.</mat-error>
                    <mat-error class="fs-12px" *ngIf="filesForm.get('paysheet_three').hasError('invalidFileType')">
                        {{invalidFileMessage}}
                    </mat-error>
                </ng-container>
            </div>

            <div *ngIf="this.showPaysheetThree && filePaysheetThreeAux" style="text-align: center;">   
            	<div class="col-12">
                	<a *ngIf="this.filePaysheetThreeDate" href="{{filePaysheetThreeAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a> 
                  <a *ngIf="!this.filePaysheetThreeDate" href="{{filePaysheetThreeAux.url}}" target="_blank"><img src="/assets/img/form_error.svg" width="65%" height="50%"></a>
                  <br> 
                	<a href="{{filePaysheetThreeAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
                	<a>&nbsp;</a>
                	<button matTooltip="Remplazar" (click)="changeFile('paysheet_three',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
                	<a>&nbsp;</a>
                	<button matTooltip="Eliminar" (click)="deleteFile('paysheet_three',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
                  <p class="fs-12px" style="color:red" *ngIf="!this.filePaysheetThreeDate" >Documento vencido</p>
            	</div> 
           	</div>
        </div> 	
  	</section>
  </section>  
  <a>&nbsp;</a>
  <hr class="hr mt-2 mb-3" *ngIf="showClientType==true" />

  <!-- SELFIE -->
  <section *ngIf="this.showSelfieReq" class="grid-row">
  	<h2 *ngIf="showClientType==true" class="fs-24px fw-normal m-0">Selfie sosteniendo INE o Pasaporte
  	<small class="fs-14px">(Tamaño máximo de archivo 20MB .jpg, .png o .pdf)</small></h2>
  	<!--<hr class="hr mt-2 mb-3" *ngIf="showClientType==true" />-->

		<div *ngIf="showClientType==true" class="col-4 col-md-6 col-sm-12">

    	<p class="m-0 fs-14px">Que no se vea borrosa, se vean </p>
      <p class="m-0 fs-14px">legibles los datos de tu identificación</p>
      <p class="mt-0 fs-12px"> y se encuentre vigente.</p>

      <div *ngIf="!this.showSelfie">
        <app-upload-file (fileChange)="onFileChange($event, 'selfie')">
        </app-upload-file>
        <ng-container *ngIf="filesForm.get('selfie').touched">
          <mat-error class="fs-12px" *ngIf="filesForm.get('selfie').hasError('required')">Este archivo es obligatorio.</mat-error>
          <mat-error class="fs-12px" *ngIf="filesForm.get('selfie').hasError('invalidFileType')">
            {{invalidFileMessage}}
          </mat-error>
        </ng-container>
      </div>

      <div *ngIf="this.showSelfie && fileSelfieAux" style="text-align: center;">   

        <div class="col-12">
          <a *ngIf="this.fileSelfieDate" href="{{fileSelfieAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
          <a *ngIf="!this.fileSelfieDate" href="{{fileSelfieAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>
          <br>   
          <a href="{{fileSelfieAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
          <a>&nbsp;</a>
          <button matTooltip="Remplazar" (click)="changeFile('selfie',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
          <a>&nbsp;</a>
          <button matTooltip="Eliminar" (click)="deleteFile('selfie',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button> 
          <a>&nbsp;</a>
          <p class="fs-12px" style="color:red" *ngIf="!this.fileSelfieDate" >Documento vencido</p>
        </div>

      </div>

    </div>
    <a>&nbsp;</a>
  </section>
  <!-- SELFIE -->
  <hr class="hr mt-2 mb-3" *ngIf="showClientType==true" />

  <section *ngIf="this.showThirdRowReq" class="grid-row">
	  <h2 class="fs-24px fw-normal m-0">Otros Documentos Necesarios 
    <small class="fs-14px">(Tamaño máximo de archivo 20MB .jpg, .png o .pdf)</small></h2>
  	<!--<hr class="hr mt-2 mb-3" />-->

	  <!-- DOCUMENT INE -->
	  <div *ngIf="this.showIneReq" class="col-4 col-md-6 col-sm-12">     
	    <p class="m-0 fs-14px">Foto de frente de INE o IFE vigente y valida en lista nominal</p>
	      <p class="mt-0 fs-12px">(Pasaporte/IFE/INE)</p>
	      
	      <div *ngIf="!this.showIne"> 
	        <app-upload-file (fileChange)="onFileChange($event, 'ine')"
	          controlLabel="No cortada, no tachada, legible y alta resolución.">
	        </app-upload-file>
	        <ng-container *ngIf="filesForm.get('ine').touched">
	          <mat-error class="fs-12px" *ngIf="filesForm.get('ine').hasError('required')">Este archivo es obligatorio.</mat-error>
	          <mat-error class="fs-12px" *ngIf="filesForm.get('ine').hasError('invalidFileType')">
	            {{invalidFileMessage}}
	          </mat-error>
	        </ng-container>
	      </div>
	      
	      <div *ngIf="this.showIne && fileIneAux" style="text-align: center;">   
	        <div class="col-12">
	        	    <a *ngIf="this.fileIneDate" href="{{fileIneAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
                <a *ngIf="!this.fileIneDate" href="{{fileIneAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>  
                <br> 
	        	    <a href="{{fileIneAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
              	<a>&nbsp;</a>
              	<button matTooltip="Remplazar" (click)="changeFile('ine',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
              	<a>&nbsp;</a>
              	<button matTooltip="Eliminar" (click)="deleteFile('ine',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
                <p class="fs-12px" style="color:red" *ngIf="!this.fileIneDate" >Documento vencido</p>
	        </div>      
	      </div>
	    </div>
	    <!-- END INE -->

	    <!-- ESTADO DE CUENTA -->
	    <div *ngIf="this.showBankAccountReq" class="col-4 col-md-6 col-sm-12">
	      <p class="m-0 fs-14px">Estado de cuenta donde depositan tu nómina</p>
	      <p class="mt-0 fs-12px">(Completo con todas las hojas)</p>
	      
	      <div *ngIf="!this.showBankAccount">
	        <app-upload-file (fileChange)="onFileChange($event, 'bank_account')"
	          controlLabel="No mayor a 2 meses de antigüedad, legible y no tachada">
	        </app-upload-file>
	        <ng-container *ngIf="filesForm.get('bank_account').touched">
	          <mat-error class="fs-12px" *ngIf="filesForm.get('bank_account').hasError('required')">Este archivo es obligatorio.</mat-error>
	          <mat-error class="fs-12px" *ngIf="filesForm.get('bank_account').hasError('invalidFileType')">
	            {{invalidFileMessage}}
	          </mat-error>
	        </ng-container>
	      </div>


	      <div *ngIf="this.showBankAccount && fileBankAccountAux" style="text-align: center;">   
	        <div class="col-12">
	         	    <a *ngIf="this.fileBankAccountDate" href="{{fileBankAccountAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
                <a *ngIf="!this.fileBankAccountDate" href="{{fileBankAccountAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>
                <br>  
	          	  <a href="{{fileBankAccountAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
              	<a>&nbsp;</a>
              	<button matTooltip="Remplazar" (click)="changeFile('bank_account',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button>
              	<a>&nbsp;</a>
              	<button matTooltip="Eliminar" (click)="deleteFile('bank_account',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
                <p class="fs-12px" style="color:red" *ngIf="!this.fileBankAccountDate">Documento vencido</p>
	        </div>      
	      </div>
	    </div>
	    <!-- END ESTADO DE CUENTA -->

	    <!-- COMPROBANTE DE DOMICILIO -->
	    <div *ngIf="this.showProofAddressReq" class="col-4 col-md-6 col-sm-12">
	      <p class="m-0 fs-14px">Comprobante de domicilio ingresado a tu nombre</p>
	      <p class="mt-0 fs-12px">(Luz,agua,teléfono,cable o gas)</p>
	      
	      <div *ngIf="!this.showProofAddress">
	        <app-upload-file (fileChange)="onFileChange($event, 'proof_address')"
	          controlLabel="No mayor a 3 meses de antigüedad, legible y no tachada.">
	        </app-upload-file>
	        <ng-container *ngIf="filesForm.get('proof_address').touched">
	          <mat-error class="fs-12px" *ngIf="filesForm.get('proof_address').hasError('required')">Este archivo es obligatorio.</mat-error>
	          <mat-error class="fs-12px" *ngIf="filesForm.get('proof_address').hasError('invalidFileType')">
	            {{invalidFileMessage}}
	          </mat-error>
	        </ng-container>
	      </div>

	      <div *ngIf="this.showProofAddress && fileProofAddressAux" style="text-align: center;">   
	        <div class="col-12">
	        	    <a *ngIf="this.fileProofAddressDate" href="{{fileProofAddressAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
                <a *ngIf="!this.fileProofAddressDate" href="{{fileProofAddressAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>
                <br> 
	        	    <a href="{{fileProofAddressAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
              	<a>&nbsp;</a>
              	<button matTooltip="Remplazar" (click)="changeFile('proof_address',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
              	<a>&nbsp;</a>
              	<button matTooltip="Eliminar" (click)="deleteFile('proof_address',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
                <p class="fs-12px" style="color:red" *ngIf="!this.fileProofAddressDate">Documento vencido</p>
	        </div>      
	      </div>
	    </div>
	    <!-- END COMPROBANTE DE DOMICILIO -->

	    <!-- REVERSO INE -->
	    <div *ngIf="this.showAdditionalFileReq" class="col-4 col-md-6 col-sm-12">
	      <a>&nbsp;</a>
        <p class="m-0 fs-14px">Foto reverso de INE o IFE vigente </p>
	      <p class="mt-0 mb-1 fs-12px">(No es necesario si utilizaste Pasaporte)</p>
	      
	      <div *ngIf="!this.showAdditionalFile">
	        <app-upload-file (fileChange)="onFileChange($event, 'additional_file')"
	          controlLabel="No cortada, no tachada, legible y alta resolución.">
	        </app-upload-file>
	        <ng-container *ngIf="filesForm.get('additional_file').touched">
	          <mat-error class="fs-12px" *ngIf="filesForm.get('additional_file').hasError('invalidFileType')">
	            {{invalidFileMessage}}
	          </mat-error>
	        </ng-container>
	      </div>

	      <div *ngIf="this.showAdditionalFile && fileAdditionalFileAux" style="text-align: center;">   
	        <div class="col-12">
	         	 <a *ngIf="this.fileAdditionalDate" href="{{fileAdditionalFileAux.url}}" target="_blank"> <img src="/assets/img/form.svg" width="65%" height="50%"></a>
             <a *ngIf="!this.fileAdditionalDate" href="{{fileAdditionalFileAux.url}}" target="_blank"> <img src="/assets/img/form_error.svg" width="65%" height="50%"></a>
             <br>    
	         	 <a href="{{fileAdditionalFileAux.url}}" target="_blank" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-eye"></mat-icon></a>
             <a>&nbsp;</a>
             <button matTooltip="Remplazar" (click)="changeFile('additional_file',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-replace"></mat-icon></button> 
             <a>&nbsp;</a>
            <button matTooltip="Eliminar" (click)="deleteFile('additional_file',false)" class="fs-12px mat-rounded-button" mat-flat-button color="primary"><mat-icon svgIcon="app-delete"></mat-icon></button>
            <p class="fs-12px" style="color:red" *ngIf="!this.fileAdditionalDate">Documento vencido</p> 
	        </div>      
	      </div>     
	    </div>
	    <!-- END REVERSO INE -->

	</section>

	<br>
	<div class="col-12">
      <p class="m-0 fs-14px">
        Datos Adicionales (Campo Opcional)
      </p>
      <p class="m-0 fs-12px">
        Por ejemplo: Escribe la contraseña de tu estado de cuenta si es que tiene.
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <textarea matInput
          rows="3"
          maxlength="100"
          formControlName="notes"></textarea>
      
      </mat-form-field>
    </div>


  	<div class="loan-request-main-action">
	    <button class="mat-rounded-button"
	            mat-flat-button
	            color="primary"
	            type="button"
	            (click)="onFormSubmit()"
	            [disabled]="(filesForm.touched) ? (filesForm.invalid || isFormUploadingFiles) : false">
	      Siguiente
	    </button>
    
	    <div
	      [ngStyle]="isFormUploadingFiles ? { visibility: 'visible' } : { visibility: 'hidden' }"
	      class="text-center">
	      <small>Favor de esperar. Estamos enviando su información, esto puede tardar varios minutos. Será redireccionado automáticamente.</small>
	    </div>

	    <mat-error
	      [ngStyle]="uploadFilesError ? { visibility: 'visible' } : { visibility: 'hidden' }"
	      class="text-center">
	      <small>Ups, algo salió mal. Probablemente tus archivos son muy pesados, tu velocidad de navegación es muy lenta o se perdió en un momento la conexión de internet. Te pedimos por favor que lo intentes de nuevo.</small>
	    </mat-error>

      <div style="text-align: center">
        <p class="fs-14px" class="mat-error-custom mb-2">{{general_error}}</p>
      </div>
  
  </div>


</form>
