<div class="auth-content__login-card-wrapper">
  <h2 class="fs-28px fc-dark ff-Intro-Black m-0 mb-1">Datos enviados.</h2>
  <p class="m-0 mb-1 ff-Intro-Book fs-15px">
    <ng-container *ngIf="userRfc">Te enviamos instrucciones al correo <br>{{ mutedEmail }}.</ng-container>
    Debes ingresar tu PIN para continuar con la solicitud.
  </p>
  <form
      class="auth-content__login-form flex__column"
      [formGroup]="form">
      <mat-form-field class="mat-form-field-box mb-2" floatLabel="never">
        <input
            required
            autocomplete="off"
            placeholder="Ingresar PIN"
            matInput
            formControlName="pin"
            pattern="^[0-9]{6}$">
      </mat-form-field>
      <p class="mat-error-custom mb-2"
      [innerHTML]="pinErrorMessage"
      [style.opacity]="form.controls.pin.touched ? 1 : 0"></p>
      <div class="auth-content__login-form-action">
        <a
          class="cursor-pointer text-center"
          (click)="onResendPin()">
          Reenviar PIN de activación
        </a>
        <button
          class="auth-content__login-form-button mat-rounded-button mt-2"
          mat-flat-button
          color="primary"
          [disabled]="form.invalid && form.touched"
          (click)="onPinSubmit()">
          Siguiente
        </button>
      </div>
  </form>
</div>
