.my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    cursor: wait !important;
    background: url(/assets/ixhua-colors/fondos/BG3.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important; 
}

.overlay-text-title{
    font-family: Red Hat Display,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
}

.overlay-text{
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}