<main class="loan-request-main">

  <h2 class="loan-request-main__title">Cambiar Contraseña</h2>

  <div class="loan-request-main__wrapper flex__column">
    <div class="loan-request-main-content">
      <mat-card class="change-password-card">
        <h2>Cambia tu Contraseña</h2>
        <p style="font-size: 15px">Ingresa una nueva contraseña que contenga al menos 8 caracteres, una mayúscula y un símbolo. (ej. Ixhua123$)</p>
        <br>
        <p class="mat-error-custom mb-2">{{general_error}}</p>
        <form class="change-password-card__form flex__column" [formGroup]="form">
          <mat-form-field class="mat-form-field-box mb-2" floatLabel="never">
            <input
              required
              autocomplete="off"
              placeholder="Escribe tu Contraseña"
              matInput
              [minlength]="8"
              type="password"
              formControlName="oldPassword">
          </mat-form-field>    
          <p class="mat-error-custom mb-2"
            [innerHTML]="oldPasswordFormatError"
            [style.opacity]="form.controls.oldPassword.touched ? 1 : 0"></p>

          <mat-form-field class="mat-form-field-box mb-2" floatLabel="never">
            <input
              required
              autocomplete="off"
              placeholder="Escribe tu Nueva Contraseña"
              matInput
              [minlength]="8"
              type="password"
              formControlName="newPassword">
          </mat-form-field>    
          <p class="mat-error-custom mb-2"
            [innerHTML]="newPasswordFormatError"
            [style.opacity]="form.controls.newPassword.touched ? 1 : 0"></p>

          <mat-form-field class="mat-form-field-box mb-2" floatLabel="never">
            <input
              required
              autocomplete="off"
              placeholder="Confirma tu Nueva Contraseña"
              matInput
              [minlength]="8"
              type="password"
              formControlName="confirmPassword">
          </mat-form-field>    
          <p class="mat-error-custom mb-2"
            [innerHTML]="confirmPasswordFormatError"
            [style.opacity]="form.controls.confirmPassword.touched ? 1 : 0"></p>

  
          <div class="flex__completely-centered py-5">
            <button
              class="mat-rounded-button minw-190px"
              mat-flat-button
              color="accent"
              (click)="onChangePassword()">
                Cambiar Contraseña
            </button>
          </div> 
        </form>
      </mat-card>
    </div>
  </div>
</main>