<div class="close-session" mat-dialog-content>
  <button mat-button class="close-session__close" matDialogClose>
    <mat-icon svgIcon="app-close"></mat-icon>
  </button>

  <div class="close-session__img"></div>

  <section class="close-session__content text-center">
    <h2 class="close-session__title text-center">TU SESION HA EXPIRADO</h2>
    <p class="close-session__message text-center mb-0">POR MOTIVOS DE SEGURIDAD VUELVE A INICIAR SESION .</p>
  </section>
</div>