<div class="auth-content__login-card-wrapper">
  <h2 class="fs-28px fc-dark ff-Intro-Black m-0">
    Iniciar sesión
  </h2>
  <p class="m-0 mb-1 ff-Intro-Book fs-15px">
    Favor de ingresar tus datos.
  </p>
  <form
    class="auth-content__login-form flex__column"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
      <mat-form-field class="mat-form-field-box mb-2" floatLabel="never">
          <input matInput
                placeholder="Ingresa tu RFC"
                [pattern]="'^[A-Za-z\x26]{3,4}[0-9]{6}[0-9A-Za-z]{3}$'"
                [maxlength]="13"
                type="text"
                formControlName="rfc" class="text-uppercase">
      </mat-form-field>

      <p class="mat-error-custom mb-2"
        [innerHTML]="rfcErrorMessage"
        [style.opacity]="form.controls.rfc?.touched ? 1 : 0"></p>
      
      <mat-form-field class="mat-form-field-box mb-2" floatLabel="never">
          <input matInput
                placeholder="Ingresar contraseña"
                type="password"
                formControlName="password">
      </mat-form-field>
      <p class="mat-error-custom" [ngClass]="form.hasError('invalidCredentials') && form.touched ? 'show' : 'hidden'">
        Usuario y/o contraseña incorrectos, favor de verificar.
      </p>
      <div class="flex__column">
        <mat-checkbox class="mat-checkbox-box mw-360px"
                      required
                      color="primary"
                      formControlName="checkbox">
          Acepto los <a routerLink="/tyc" target="_blank">términos y condiciones de Ixhua.</a>
        </mat-checkbox>
        <div class="text-left mt-2" [style.visibility]="form.controls.checkbox?.touched ? 'visible' : 'hidden'">
          <p class="mat-error-custom"
             [style.opacity]="(form.controls.checkbox?.touched) ? 1 : 0"
             [ngClass]="form.controls.checkbox?.errors?.required ? 'show' : 'hidden'">
            Este campo es requerido.
          </p>
        </div>
      </div>
      <div class="auth-content__login-form-action mt-13px">
        <a
          class="cursor-pointer text-center"
          routerLink="/auth/forgot">
            Olvidé mi contraseña
        </a>
        <button class="auth-content__login-form-button mat-rounded-button mt-2"
                mat-flat-button
                color="primary"
                [disabled]="form.invalid && form.touched"
                (click)="onSubmit()">
          Iniciar sesión
        </button>
      </div>
  </form>
</div>
