<header class="auth-header">
  <div class="auth-header__wrapper flex">
    
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__logo"></figure>
    </a>

   
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__icon"></figure>
    </a>
   
    <p class="register-form-header-title">Bienvenido a Ixhua</p>
    

  </div>
</header>



<section style="height: 100vh;">
  <div id="start" class="flex__column register-form-initial">
      <div class="grid-row" style="display: flex; justify-content: center; align-items: center;text-align: center;">     
      </div>
  </div>

  <div class="flex__column register-form-info-section">
    <div class="grid-row" style="display: flex; justify-content: center;">    
        <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
          <p class="register-form-header-text">
            Bienvenido, ingresa a la plataforma
          </p>
        </div>

         <div class="col-5 col-md-6 col-sm-12">
          <form [formGroup]="form">

            <mat-form-field appearance="outline" style="min-width: 100%">
              <mat-label>Usuario</mat-label>
              <input matInput
                  placeholder="RFC"
                  [pattern]="'^[A-Za-z\x26]{3,4}[0-9]{6}[0-9A-Za-z]{3}$'"
                  [maxlength]="13"
                  type="text"
                  formControlName="rfc" class="text-uppercase">
            </mat-form-field>
            <p class="mat-error-custom mb-2"
            [innerHTML]="rfcErrorMessage"
            [style.opacity]="form.controls.rfc?.touched ? 1 : 0"></p>

            <mat-form-field appearance="outline" style="min-width: 100%">
              <mat-label>Contraseña</mat-label>
              <input matInput
                placeholder="Ingresar contraseña"
                type="password"
                formControlName="password">
            </mat-form-field>
            <p class="mat-error-custom mb-2"
            [innerHTML]="passwordErrorMessage"
            [style.opacity]="form.controls.password?.touched ? 1 : 0"></p>
            <div class="flex__column">
              <mat-checkbox
                required
                color="accent"
                formControlName="checkbox">
                Acepto los <a routerLink="/tyc" target="_blank">términos y condiciones de Ixhua.</a>
              </mat-checkbox>
              <div class="text-left mt-2" [style.visibility]="form.controls.checkbox?.touched ? 'visible' : 'hidden'">
                <p class="mat-error-custom"
                   [style.opacity]="(form.controls.checkbox?.touched) ? 1 : 0"
                   [ngClass]="form.controls.checkbox?.errors?.required ? 'show' : 'hidden'">
                  Este campo es requerido.
                </p>
              </div>
            </div>

            <div class="">

              <p class="mat-error-custom" [ngClass]="form.hasError('invalidCredentials') && form.touched ? 'show' : 'hidden'">
                Usuario y/o contraseña incorrectos, favor de verificar.
              </p>

              <a
                class="cursor-pointer text-center"
                routerLink="/auth/forgot">
                  Olvidé mi contraseña
              </a>
              <br> <br>
              <button class="new-primary-button"
                      mat-flat-button
                      color="primary"
                      (click)="onSubmit()">
                Iniciar sesión
              </button>
              <a>&nbsp;</a> <a>&nbsp;</a>
              <button routerLink="/auth" class="new-alternate-button" mat-flat-button> No tengo una cuenta </button>
            </div>
            <br>
            <br>
          </form>
        </div>

        <div class="col-3 col-md-6 col-sm-12" class="tip-image-1">
          <img src="/assets/ixhua-colors/images/tip-image-4.svg">
        </div>

    </div>  
  </div>

</section>



<footer class="register-form-footer flex__column">
  <div class="grid-row">
    <div class="grid-row col-6 col-md-6 col-sm-12">
     <p class="alignleft register-form-footer-left-text"> <img style="margin: 10px 10px 10px 10px" src="/assets/ixhua-colors/logos/ixhua-gray-icon.svg"> Bienvenido a la plataforma</p>
    </div>

    <div class="col-6 col-md-6 col-sm-12">
      <p class="alignright">
        <span class="register-form-footer-right-text">¿Necesitas ayuda?</span>
        <br>
        <span style="margin: 1px 1px 1px 1px">
          <img src="/assets/ixhua-colors/icons/Whatsapp-blue.svg">
        </span>  
        <span class="register-form-footer-phone-text">333 406 5657 </span>
      </p>
    </div>

  </div>
</footer>
