<mat-sidenav-container class="auth" 
  [ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
  (hasBackdrop)="true" 
  (backdropClick)="_checkClickInBack();">

  <mat-sidenav-content>
    <!-- header component -->
    <app-header [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)">
   </app-header>

  <div id="start" class="flex__column start-div">
      <div class="grid-row" style="display: flex;">

        <div class="col-7 col-md-12 col-sm-12 conect-company-blue">
          <img src="assets/ixhua-colors/logos/hr-companies/{{ this.companyImages }}-logo-white.svg" style="max-width: 20%; max-height: 20%;"/>
          <br>
          <p class="conect-company-blue__title">Conéctate con tu empresa</p>
          <p class="conect-company-blue__text">
          Colaborando con {{ this.companyName }}, accedes a increíbles beneficios como:</p>
            <ul style="list-style-type:none; margin-top: 10px;">
              <li style="display: flex;align-items: center;">
                <img src="/assets/ixhua-colors/icons/secure.svg"width="32"/>
                <a>&nbsp;</a> <a>&nbsp;</a> 
                <p class="conect-company-blue__text">Pagar a 30 días tus servicios de luz, gas y telecomunicaciones sin costo, comisiones o intereses.</p>
              </li>
              
              <li style="display: flex;align-items: center;">
                <img src="/assets/ixhua-colors/icons/smartphone.svg"width="32"/>
                <a>&nbsp;</a> <a>&nbsp;</a> 
                <p class="conect-company-blue__text">Adelantar $1,000 pesos de tu nómina inmediatamente
                por $49 pesos + IVA.</p>
              </li>

              <li style="display: flex;align-items: center;">
                <img src="/assets/ixhua-colors/icons/line-graph.svg"width="32"/>
                <a>&nbsp;</a> <a>&nbsp;</a> 
                <p class="conect-company-blue__text">Acceso 24/7 a la plataforma personalizada de tu
                  empresa.</p>
              </li>

            </ul>
            <div class="conect-company-blue-buttons">  
                <button style="font-size: 14px" routerLink="/auth#start" class="new-secondary-button" mat-flat-button>¡Registrame!</button>
                <a>&nbsp;</a> <a>&nbsp;</a>
                <button style="font-size: 14px" routerLink="/auth/login" class="new-alternate-button-2" mat-flat-button> Ya tengo una cuenta </button>
            </div>
        </div>

        <div class="col-5 col-md-12 col-sm-12 register-form-container">
          <app-register-form style="background-color: pink" companyCode="{{ this.urlCode }}"></app-register-form>
        </div>
      
      </div>
  </div>

    <app-carousel></app-carousel>

    <app-about-us></app-about-us>
  
    <app-info-blue-section id="blue-section-info"></app-info-blue-section>
    
    <app-howworks id="howworks"></app-howworks>

    <app-questions id="questions"></app-questions>


    <app-contact id="contact"></app-contact>

    <app-footer id="footer"></app-footer>
    
    <div class="whatsappme whatsappme--right whatsappme--show whatsappme--tooltip" (click)="gtagEvent()">
      <a href="https://wa.me/5213334065657?text=Hola%20María.%20¡Necesito%20tu%20ayuda!%20" target="_blank" alt="Whatsapp">
        <div class="whatsappme__button" style="padding-left: 15px;padding-top: 2px;display: flex;align-items: center">
          <p style="font-size:16px;display: flex;"><img src="/assets/ixhua-colors/icons/Whatsapp.svg" width="20" height="20" alt="3334065657"/>&nbsp;¡Contactanos!</p>
        </div>
    <!--</div>

  </mat-sidenav-content>
</mat-sidenav-container> -->

