<section class="flex__column" style="padding-left: 20px; padding-right: 20px;height: 100vh;">

  <div class="grid-row" style="display: flex;">

    <div class="col-12 col-md-12 col-sm-12">
      <p>
        <span class="dashboard-title">Dashboard</span> <br>
        <span class="dashboard-subtitle">Inicio</span>
      </p>
      <hr class="hr"/>
    </div>

    <div class="col-12 col-md-12 col-sm-12">
      <p>
        <span class="dashboard-bold-text">Buenos días</span> <br>
        <span class="dashboard-opacity-text">Encuentra el resumen de tus operaciones</span>
      </p>
    </div>

    <div class="col-8 col-md-12 col-sm-12">
      <mat-carousel
        timings="250ms ease-in"
        [autoplay]="true"
        interval="9000"
        color="accent"
        maxWidth="auto"
        proportion="25"
        slides="5"
        [loop]="true"
        [hideArrows]="true"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
      >
        
        <mat-carousel-slide
          #matCarouselSlide
          *ngFor="let slide of slides; let i = index"
          [image]="slide.image"
          overlayColor="#00000040"
          [hideOverlay]="true"
        >
      
        <a [routerLink]="slide.link">
          <div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
          </div>
        </a>
          
        </mat-carousel-slide>
      </mat-carousel>
    </div>
    
    <div class="col-4 col-md-12 col-sm-12">
        <app-loan-totals></app-loan-totals>
    </div>

    <div class="col-8 col-md-12 col-sm-12">
         <a>&nbsp;</a>
    </div>
    <hr>
  </div>

  <div class="grid-row" style="display: flex;">
    <div class="col-8 col-md-12 col-sm-12">

      <mat-card
      *ngFor="
        let message of messageList;
        let i = index;
        odd as o;
        even as e;
        " 
        [ngClass] ="{
          'dashboard-card-news': i < 1,
          'dashboard-card-odd': o, 
          'dashboard-card-even': e && i > 1
        }">
        <mat-card-content>
          <div>
              <span class="dashboard-bold-text">Mensaje {{ i + 1 }}</span> Publicado el {{ message?.date_published }} por {{ message?.author_names }} {{ message?.author_lastname }}<br>
              <p>{{ message?.message }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-4 col-md-12 col-sm-12" style="margin-top: 10px">
      <mat-card class="dashboard-card">
        <mat-card-title class="dashboard-bold-text">Tus préstamos recientes</mat-card-title>
        
        <mat-card-content>
          <div>
            <button class="new-alternate-button" mat-flat-button routerLink="/home/loans">
              Ver todos mis préstamos
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</section>

<app-loan-footer></app-loan-footer>
