
@import '../../login/auth-styles/all.scss';

body{
	font-family: 'Roboto', sans-serif!important;
	margin:0;
}
.company-container{
	display:block;
	margin-top: 25px;
}
.block {
    margin: 0px;
    padding: 50px;
    /*margin-top: 2em;*/
    background-color: #ececec;
	display: flow-root;
}
.home3 h1{
	color:#202945;
	padding-left: 40px;
	padding-top: 0px;
	font-size: 60px;
	max-width: 900px;
	padding-bottom: 0;
	margin-bottom: 0;

}
.home3 h4 {
    color:#202945;
    text-align: left;
    margin: 10px auto;
    font-size: 32px;
    font-weight: 100;
	padding-left: 40px;
}
.home3{display:block;width: 100%;height:100vh;float:left;max-height: 700px;
}
.home3{
	/*background-image: linear-gradient(to right, #4985ae, #202945);*/
	background-image:url(../../../../assets/img/empresas-ixhua.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	border-bottom: solid 7px #202945;
}
.hom3 ul{
	margin: 0;
padding: 0;
	list-style-type: circle;
}
.home3 p,.home3 li{
	color:#202945;
	text-align: left;
	margin: 0;
padding: 0;
}
.home3 li{
	float: none;
	list-style-type:disc;
	margin-left: 20px;
	font-size: 20px;
}
.home3 input{
	display: block;
	text-align:center;
	margin:0 auto;
	padding-left: 5px;
	border-radius: 5px;
	font-size:14px;
	padding:5px;
	font-weight: bold;
	border:1px solid #e0e01a;
}
.actionCompany{
	margin-left: 40px;
	width: 50%;
}
.actionCompany input{
	width: 350px;
	height: 35px;
	margin:1%;
	text-align: left;
	font-weight: 100;
	font-size: 16px;
	margin-left: 0px;
}
#buttonCompany{
	/*background: linear-gradient(111deg,#fbb03b 0%,#e0e01a 100%) !important;*/
	margin: 0;
	color: #202945;
	font-size:16px;
	border: none;
	font-weight: normal;
	cursor: pointer;
	width: 280px;
	height:35px;
	float:left;
	margin-right: 5px;
	margin-left: 0px;
	text-align: center;
	background-color: #e0e01a;
	}

#buttonCompany2{
	/*background: linear-gradient(111deg,#fbb03b 0%,#e0e01a 100%) !important;*/
	width: 410px;
	height:35px;
	color: #202945;
	font-size:16px;
	border: none;
	font-weight: normal;
	cursor: pointer;
	text-align: center;
	background-color: #e0e01a;
}

.companies{
	background-color:white;
	text-align: center;
}

.formato-formulario{padding:5% 15%;}

.contenedor h2{
	text-align: center;
	font-size:50px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	color: #202945;
}
.contenedor h3{
	text-align: center;
	font-size:35px;
	font-weight: regular;
	color:#595959;
	padding: 0px;
	margin: 0px;
}

.img-empresas{
	width:720px;
	height:311px;
}

.companyForm{display:block;padding-left: 20%;padding-bottom: 25px;
		}

/*INICIO: CLASES NUEVAS*/
.employee{
	background-color: #02b4b8;
	text-align: center;
}
.employer{
	background-color: #6cc1d8;
	text-align: center;
}
.employee ul, .employer ul{
	background-color: #7ad3d5;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	max-width: 260px;
	margin: 0 auto;
}
.employee li, .employer li{
	list-style-type: disclosure-closed;
	margin: 0 20px;
	font-size: 15px;
}
.contenidoA{width:60%;display:inline-block;float: left;}
.contenidoB{width:40%;display:inline-block;float: left;}
.contenidoA p, .contenidoB p{
	text-align:center;
	color:#202945;
	width: 460px;
	margin: 20px auto;
	line-height: 22px;
}
.contenidoA h3, .contenidoB h3{
	color:#202945 !important;
}

.callToAction2 {
	background-image: linear-gradient(to right, #4985ae, #202945);
    color: #fff;
}
.callToAction2 h3{
    color: #fff;
}

.callToAction2 input{
	width: 200px;
	height: 35px;
	margin:1%;
	text-align: left;
	font-weight: 100;
	margin-left: 0px;
	border:1px solid #e0e01a;
	font-size:14px;
	padding:5px;
	font-weight: bold;
	border:1px solid #e0e01a;
}

.worksCompany ul{
	margin-top: 125px;
	font-size: 30px;
	list-style-type: decimal;
	color: #202945;
	font-weight: bold;}
.worksCompany li{
	margin-bottom: 50px;
}

.contenidoB {
    display: grid;
}
.worksCompany {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.testimonialsCompanies img {
    max-width: 1080px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

/*FIN: CLASES NUEVAS*/

/*RESPONSIVE CODE FOR IXHUA PUBLIC*/

@media only screen and (max-width: 768px) {
	.home3 h1{
		color:#202945;
		padding-left: 40px;
		padding-top: 0px;
		font-size: 35px;
		max-width: 900px;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.home3 h4 {
	    color:#202945;
	    text-align: left;
	    margin: 10px auto;
	    font-size: 20px;
	    font-weight: 100;
		padding-left: 40px;
	}

	.block h2{
		font-size: 30px;
	}

	.img-empresas{
		width: 100%; 
		height: auto;
	}

}

/*RESPONSIVE CODE FOR IXHUA PUBLIC*/
@media only screen and (max-width: 768px) {
.home3 {
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: hue;
}
.contenidoA {
    width: 100%;
}
.contenidoB {
    width: 100%;
}
	
.worksCompany ul {
    margin-top: 15px;
    font-size: 20px;
}
	.worksCompany li {
    margin-bottom: 20px;
}

.employee img {
 max-width: 100%;
 height: auto;
}
.contenidoA p, .contenidoB p {
    width: 100%;
}
#buttonCompany2 {
    width: 200px;
    font-size: 13px;
}
.auth-footer__main {
    margin-left: 0em;
    margin-bottom: 20px;
}

#buttonCompany {
    width: 140%;
}
.actionCompany input {
    width: 140%;
}
	
}