<mat-sidenav-container class="auth" 
  [ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
  (hasBackdrop)="true" 
  (backdropClick)="_checkClickInBack();" style="background-color: white">

  <mat-sidenav-content>
    <!-- header component -->
    <app-header [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)">
   </app-header>

    <div id="start" class="flex__column start-div-business">
      <div class="grid-row" style="display: flex;">
        
        <div class="col-7 col-md-12 col-sm-12 conect-employees-white">
          <img src="assets/ixhua-colors/logos/ixhua-logo-blue.svg"/>
          <br>
          <p class="conect-employees-white__title">Conéctate con tus empleados</p>
          <p class="conect-employees-white__text">
            Fácil implementación, sin carga administrativa, sin responsabilidad, sin destinar recursos y sin costo para tu empresa.
          </p>
            <ul style="list-style-type:none; margin-top: 10px;">
              <li style="display: flex;align-items: center;">
                <img src="/assets/ixhua-colors/icons/secure.svg"width="32"/>
                <a>&nbsp;</a> <a>&nbsp;</a> 
                <p class="conect-employees-white__text">Tus empleados obtienen adelantos de nómina sin intereses, pago de servicio a plazos, solicitud de vacaciones y promociones de acuerdo con su perfil. *</p>
              </li>
              
              <li style="display: flex;align-items: center;">
                <img src="/assets/ixhua-colors/icons/smartphone.svg"width="32"/>
                <a>&nbsp;</a> <a>&nbsp;</a> 
                <p class="conect-employees-white__text">Cumplimiento con la NOM 35 a través de encuestas y buzón digital de incidencias. *</p>
              </li>

              <li style="display: flex;align-items: center;">
                <img src="/assets/ixhua-colors/icons/line-graph.svg"width="32"/>
                <a>&nbsp;</a> <a>&nbsp;</a> 
                <p class="conect-employees-white__text">Sistemas automáticos de comunicación para cumpleaños, avisos y políticas de la empresa. *</p>
              </li>

              <li><p class="conect-employees-white__text" style="font-size: 12px" >*Servicios en fase Beta.</p></li>

            </ul>
            <div class="conect-employees-white-buttons">  
                <button style="font-size: 14px" routerLink="/auth/login" class="new-secondary-button" mat-flat-button>¡Registrame!</button>
                <a>&nbsp;</a> <a>&nbsp;</a>
                <button style="font-size: 14px" routerLink="/auth/login" class="new-alternate-button-2" mat-flat-button> Ya tengo una cuenta </button>
            </div>
        </div>


        <div class="col-5 col-md-12 col-sm-12 register-company-form-container">
          <section class="flex__column form-company-register-section">
            <p class="form-company-register__title">Dar de alta mi empresa</p>
            <p class="form-company-register__text">Únete a Ixhua.</p>

            <form [formGroup]="form">
              <mat-form-field id="field-company-name" appearance="outline"  style=" min-width: 100%;">
                <mat-label style="color:white">Ingresa nombre</mat-label>
                  <input class="input-company-register-section" placeholder="Nombre" required matInput formControlName="name"  [maxlength]="35">
              </mat-form-field>

              <mat-form-field id="field-company-phone" appearance="outline"  style=" min-width: 100%;">
                <mat-label style="color:white">Ingresa celular</mat-label>
                  <input class="input-company-register-section" placeholder="Celular" required matInput formControlName="cell"  [maxlength]="10">
              </mat-form-field>

              <mat-form-field id="field-company-name" appearance="outline"  style=" min-width: 100%;">
                <mat-label style="color:white">Ingresa nombre de empresa</mat-label>
                  <input class="input-company-register-section" placeholder="Nombre de empresa" required matInput formControlName="company"  [maxlength]="35">
              </mat-form-field>

               <mat-form-field id="field-company-name" appearance="outline"  style=" min-width: 100%;">
                <mat-label style="color:white">Ingresa número de empleados</mat-label>
                  <input class="input-company-register-section" placeholder="Número de empleados" required matInput formControlName="number_employees"  [maxlength]="35">
              </mat-form-field>

            </form>
            
            <div style="display: flex; align-items: center;">  
                <button  class="new-secondary-button button-company-register-section" mat-flat-button 
                (click)="activateConfirmButton()">
                  Dar de alta mi empresa
                </button>      
            </div>



          </section>
        </div>

       
      </div>
    </div>


    <section class="flex__column partner-companies-section">
      <div class="grid-row" style="text-align: center;">
        <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
          <img src="/assets/ixhua-colors/icons/robot-header.svg" alt="robot">
        </div>

        <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
          <p class="partner-companies-section-bold-text">
           Beneficios
          </p>
        </div>
      </div>

      <div class="slideshow-container-business">
          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <img src="/assets/ixhua-colors/banners/benefits1.png" style="width:100%">
          </div>

        <div class="mySlides fade">
            <img src="/assets/ixhua-colors/banners/benefits2.png" style="width:100%">
         </div>

          <div class="mySlides fade">
            <img src="/assets/ixhua-colors/banners/benefits3.png" style="width:100%">
          </div>

        <!-- Next and previous buttons -->
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>
    </section>


    <section class="ixhua-blue-section-alternate-2 flex__column">
  
      <div class="grid-row" style="display: flex; justify-content: center; align-items: center;" >
            
            <div class="col-2 col-md-12 col-sm-12" style="display: flex;justify-content: center;">
                <img src="/assets/ixhua-colors/people/girl-green.png" alt="ixhua">
                <a>&nbsp;</a>
            </div>

            <div class="col-5 col-md-12 col-sm-12">
                <p>¡Olvídate de tus expedientes en papel, cumple con la NOM 35,
                <br> comunícate con tus colaboradores y digitalízate!</p>
            </div>

            <div class="col-5 col-md-12 col-sm-12">
                <span class="ixhua-blue-section-alternate-2__right-text">CONÉCTATE CON TUS COLABORADORES</span>
            </div>
        </div>
    </section>
    <br>

    <section class="flex__column partner-companies-section">
      <div class="grid-row" style="text-align: center;">
        <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
          <img src="/assets/ixhua-colors/icons/robot-header.svg" alt="robot">
        </div>

        <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
          <p class="partner-companies-section-bold-text">
            Nuestras empresas aliadas
          </p>
  
          <p>
            Nuestras soluciones llegan a empresas que emplean más de 27,000 colaboradores
          </p>
        </div>

        <div class="col-8 col-md-12 col-sm-12 partners-image-container">
          <div>
            <img src="/assets/ixhua-colors/images/partners-1.png" class="partners-image">
          </div>
        </div>
      </div>
    </section>
    
    <section class="flex__column articles-section">
      <div class="grid-row" style="text-align: center;">
         <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
          <hr style="border-top: 1px solid #E5E1E6; width: 90%;" >
        </div>
      </div>
    </section>

    <section class="flex__column articles-section">
      <div class="grid-row" style="text-align: center;">
        <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
          <img src="/assets/ixhua-colors/icons/robot-header.svg" alt="¿En qué podemos ayudarte?">
        </div>

        <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
          <p class="articles-section-bold-text">
            ¿Qué dicen de nosotros?
          </p>
          
          <p>
            Nuestro trabajo ha sido reconocido y respaldado por diferentes medios.
          </p>
        </div>

        <div class="grid-row col-12 col-md-12 col-sm-12 article-card-div">
          
          <div class="col-2 col-md-6 col-sm-12 article-card">
            <mat-card class="example-card">
              <mat-card-content style="text-align: left;">
                <img style="align-self: left;" class="article-card-img" src="/assets/ixhua-colors/logos/logos-empresas-editados/shark-tank.png" alt="Shark Tank">
                <p class="article-card-title">
                  Video
                </p>
                <p class="article-card-text">
                  Plataforma digital de préstamos inmediatos pre-autorizados con impacto social.
                </p>
              </mat-card-content>
              <mat-card-actions >
                <a type="button" href="https://www.youtube.com/watch?v=rgIU1L_8d2E" target="_blank" mat-button class="new-alternate-button" style="font-size: 12px">Ver nota</a>
              </mat-card-actions>
            </mat-card>      
          </div>


          <div class="col-2 col-md-6 col-sm-12 article-card">
            <mat-card class="example-card">
              
              <mat-card-content style="text-align: left;">
                <img style="align-self: left;" class="article-card-img" src="/assets/ixhua-colors/logos/logos-empresas-editados/entrepreneur.png" alt="Entrepreneur">
                <p class="article-card-title">
                  Artículo
                </p>
                <p class="article-card-text">
                  Conoce Ixhua, una plataforma que te ayuda a sobrevivir la quincena.
                  <br><br>
                </p>
              </mat-card-content>
              <mat-card-actions >
                <a type="button" href="https://www.entrepreneur.com/article/356675" target="_blank" mat-button class="new-alternate-button" style="font-size: 12px">Ver nota</a>
              </mat-card-actions>
            </mat-card>      
          </div>

          <div class="col-2 col-md-6 col-sm-12 article-card">
            <mat-card class="example-card">
              <mat-card-content style="text-align: left;">
                <img style="align-self: left;" class="article-card-img" src="/assets/ixhua-colors/logos/logos-empresas-editados/el-universal.png" alt="eluniversal">
                <p class="article-card-title">
                  Artículo
                </p>
                <p class="article-card-text">
                  Ixhua la empresa mexicana que te permite adelantar tu pago de nómina, sin intereses
                  <br><br>
                </p>
              </mat-card-content>
              <mat-card-actions >
                 <a type="button" href=" https://www.eluniversal.com.mx/techbit/ixhua-permite-usuarios-ver-su-cosecha-financiera- crecer" target="_blank" mat-button class="new-alternate-button" style="font-size: 12px">Ver nota</a>
              </mat-card-actions>
            </mat-card>      
          </div>

          <div class="col-2 col-md-6 col-sm-12 article-card">
            <mat-card class="example-card">
              <mat-card-content style="text-align: left;">
                <img style="align-self: left;" class="article-card-img" src="/assets/ixhua-colors/logos/logos-empresas-editados/wild-entrepreneur.png" alt="WildEntrepreneur">
                <p class="article-card-title">
                  Artículo
                </p>
                <p class="article-card-text">
                  Esta plataforma te permite pedir por adelantado hasta una cuarta parte de tu salario, con una cuota fija.
                </p>
              </mat-card-content>
              <mat-card-actions >
                <a type="button" href="https://wildentrepreneur.org/ixhua-la-plataforma-mexicana-que-te-adelanta-tu-sueldo-para-cualquier-imprevisto/" target="_blank" mat-button class="new-alternate-button" style="font-size: 12px">Ver nota</a>
              </mat-card-actions>
            </mat-card>      
          </div>          
          
        </div>



        <div class="grid-row col-12 col-md-12 col-sm-12 article-card-div">
          
          <div class="col-2 col-md-6 col-sm-12 article-card">
            <mat-card class="example-card">
              <mat-card-content style="text-align: left;">
                <img style="align-self: left;" class="article-card-img" src="/assets/ixhua-colors/logos/logos-empresas-editados/pro-network.png" alt="PROnetwork">
                <p class="article-card-title">
                  Atículo
                </p>
                <p class="article-card-text">
                  La financiera de nómina para las empresas mexicanas, Ixhua
                </p>
              </mat-card-content>
              <mat-card-actions >
                <a type="button" href="http://www.pronetwork.mx/magazine/la-financiera-de-nomina-para-las-empresas-mexicanas-ixhua/" target="_blank" mat-button class="new-alternate-button" style="font-size: 12px">Ver nota</a>
              </mat-card-actions>
            </mat-card>      
          </div>


          <div class="col-2 col-md-6 col-sm-12 article-card">
            <mat-card class="example-card">
              <mat-card-content style="text-align: left;">
                <img style="align-self: left;" class="article-card-img" src="/assets/ixhua-colors/logos/logos-empresas-editados/empre-finanzas.png" alt="EmpreFinanzas">
                <p class="article-card-title">
                  Artículo
                </p>
                <p class="article-card-text">
                  Plataforma mexicana que está rompiendo los paradigmas financieros tradicionales.
                </p>
              </mat-card-content>
              <mat-card-actions >
                <a type="button" href="https://emprefinanzas.com.mx/2020/06/24/ixhua-la-plataforma-mexicana-que-esta-rompiendo-con-los-paradigmas-financieros-tradicionales/" target="_blank" mat-button class="new-alternate-button" style="font-size: 12px">Ver nota</a>
              </mat-card-actions>
            </mat-card>      
          </div>

          <div class="col-2 col-md-6 col-sm-12 article-card">
            <mat-card class="example-card">
              <mat-card-content style="text-align: left;">
                <img style="align-self: left;" class="article-card-img" src="/assets/ixhua-colors/logos/logos-empresas-editados/tagged-mx.png" alt="TaggedMX">
                <p class="article-card-title">
                  Artículo
                </p>
                <p class="article-card-text">
                  ¿Imprevistos de dinero? Prueba Ixhua
                  <br>
                  <br>
                </p>
              </mat-card-content>
              <mat-card-actions >
                <a type="button" href="https://www.taggedmx.com/tecnologia/imprevistos-de-dinero-prueba-ixhua/" target="_blank" mat-button class="new-alternate-button" style="font-size: 12px">Ver nota</a>
              </mat-card-actions>
            </mat-card>      
          </div>

          <div class="col-2 col-md-6 col-sm-12 article-card">
            <mat-card class="example-card">
              <mat-card-content style="text-align: left;">
                <img style="align-self: left;" class="article-card-img" src="/assets/ixhua-colors/logos/logos-empresas-editados/cio-noticias.png" alt="CIONoticiasTV">
                <p class="article-card-title">
                  Entrevista
                </p>
                <p class="article-card-text">
                  Desde su lanzamiento ha logrado crecer 400%
                  <br> <br>
                </p>
              </mat-card-content>
              <mat-card-actions >
                <a type="button" href="https://www.cionoticias.tv/2020/08/12/ixhua-la-plataforma-mexicana-que-te-anticipa-tu-sueldo-para-cualquier-imprevisto/" target="_blank" mat-button class="new-alternate-button" style="font-size: 12px">Ver nota</a>
              </mat-card-actions>
            </mat-card>      
          </div>          
          
        </div>

      </div>
    </section>

    

    <app-contact></app-contact>

    <app-footer id="footer"></app-footer>
    
    <div class="whatsappme whatsappme--right whatsappme--show whatsappme--tooltip" (click)="gtagEvent()">
      <a href="https://wa.me/5213334065657?text=Hola%20María.%20¡Necesito%20tu%20ayuda!%20" target="_blank" alt="Whatsapp">
        <div class="whatsappme__button" style="padding-left: 15px;padding-top: 2px;display: flex;align-items: center">
          <p style="font-size:16px;display: flex;"><img src="/assets/ixhua-colors/icons/Whatsapp.svg" width="20" height="20" alt="3334065657"/>&nbsp;¡Contactanos!</p>
        </div>
      </a>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>



