<div class="loan-request-seeds__name">{{ clientName }}</div>

<div class="loan-request-seeds__icons">
  <mat-icon
    svgIcon="app-seed-yellow"
    *ngFor="let seed of getSeedsArray('yellow')">
  </mat-icon>
  <mat-icon
    svgIcon="app-seed-green"
    *ngFor="let seed of getSeedsArray('green')">
  </mat-icon>
  <mat-icon
    svgIcon="app-seed-gray"
    *ngFor="let seed of getSeedsArray('gray')">
  </mat-icon>
</div>
<!--<div class="loan-request-seeds__label">Paga puntual y gana semillas</div>-->

