.contract {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.5;
  text-align: justify;
}

.table {
  border-collapse: collapse;
  font-size: 9px;
}

.table-td {
  padding: 1px 10px;
  border: 1px solid black;
}

// remover esto en cuanto el binding se haga correctamente
// .injected {}

.loan-accept-label {
  white-space: normal;
  line-height: 1.25;
}

p {
  margin: 0;
}

ol, ul {
  margin-top: 0;
}

/**** Parenthesis on the bullets type "a"  ****/
ol[type="a"] {
  padding-left: 33px;
  counter-reset: list;
}
ol[type="a"] > li {
  position: relative;
  list-style: none;
}
ol[type="a"] > li:before {
  position: absolute;
  left: -20px;
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
}

div.definitions > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
