<mat-sidenav-container class="auth"
[ngClass]="{ 'mat-drawer-opened' : addOpenedClass }"
(hasBackdrop)="true" 
(backdropClick)="_checkClickInBack();">

  <mat-sidenav-content>
    <!-- header component -->
    <app-header [routeValue]="routeValue"
    [parentSubject]="parentSubject" 
    (open)="_statusClassOpened($event)" 
    (close)="_statusClassOpened($event)"></app-header>
    
    <!--auth content -->
    <div class="auth-content grid-container pages-content mt-6 text-justify">
      <div class="grid-row">
        <h1 class="page-title my-6 mx-auto mw-774px">Términos y Condiciones</h1>
        <p class="pb-3 mt-0">
          Términos y condiciones (en lo sucesivo los "Términos y Condiciones Generales”)  que son aplicables al uso de los servicios (en lo sucesivo "los Servicios") ofrecidos por <strong>“IXHUA TECH, S.A.P.I. DE C.V.”,</strong> (en lo sucesivo "IXHUA")  a través de su página de internet <u>www.ixhua.mx</u>, (en lo sucesivo el "Sitio”). 
          <br><br>
          Los presentes "Términos y Condiciones Generales" aplicarán para cualquier persona que desee acceder y/o usar el sitio (en lo sucesivo “El usuario”), en caso de que alguna persona no acepte estos “Términos y Condiciones Generales”, los cuales tienen un carácter obligatorio y vinculante,<strong><b><i> DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y POR CONSIGUIENTE SUS SERVICIOS.</i></b></strong>
          <br><br>
          “El usuario” al ingresar y navegar en el "Sitio"; acepta todas y cada una de las condiciones establecidas en los “Términos y Condiciones Generales”, Aviso de Privacidad, así como también, en todos y cada uno de los documentos que se llegarán a generar.
          <br><br>
          I. OBJETO:
          <br><br>
          El objeto de los “Términos y Condiciones Generales”, es regular la relación entre el “Usuario” e “IXHUA” dentro de el “Sitio”. 
          <br><br>
          II.- DEL SERVICIO QUE OFRECE IXHUA: 
          <br><br>
          “IXHUA” es una empresa que ofrece créditos simples a través de medios electrónicos a el “Usuario” tomando en cuenta los ingresos que acredite, la información que se recaba en su solicitud y su buen comportamiento crediticio en donde una vez acreditado el “Usuario” y a través de el “Sitio” podrá llevar a cabo la contratación y disposición de los montos autorizados. 
          <br><br>
          III.- LEGITIMACIÓN 
          <br><br>
          El “Usuario” afirma ser una persona física, mayor de edad (18 años o más, de acuerdo con la legislación Mexicana y la cual nos es aplicable) y con capacidad legal para contratar; ya que de lo contrario NO podrá hacer uso de los “Servicios” que presta “IXHUA”, y será el “Usuario” el único responsable por la falsedad ingresada al momento de acceder a el "Sitio". 
          El “Usuario” acepta y reconoce que todos los Servicios y/o Productos son ofrecidos por medio de la página web <u>www.ixhua.mx</u>, por lo que a través de la aceptación de los presentes términos y condiciones, manifiesta su consentimiento para llevar a cabo la contratación, consulta, aclaración y/o cualquier otro acto relacionado con los servicios y/o productos que ofrece “IXHUA”, a través de medios electrónicos, digital y/o cualquier otra tecnología que de momento en momento se establezca en el “Sitio”.
          <br><br>
          IV.- DE LOS DATOS PERSONALES
          <br><br>
          Para efectos de brindar los servicios, El “Usuario” deberá otorgar su consentimiento por los medios digitales con los que el “Sitio” cuenta, en el que deberá de llenar los campos y solicitudes para efecto de que “IXHUA” determine la viabilidad del servicio a contratar y poder tratar la información personal que sea proporcionada acorde al “Aviso de Privacidad”. 
          <br><br>
          De igual forma, por este medio el “Usuario” otorga su consentimiento para que la información proporcionada pueda ser cotejada y solicitada ante el lugar o empresa donde labore, así como para validar dicha información ante las personas/empresas puestas como referencias. 
          <br><br>
          V.- DEL USO DE LA PLATAFORMA: 
          <br><br>
          Para efectos de iniciar la contratación de los servicios que se ofrecen mediante el “Sitio”, el “Usuario” conforme a la información de contacto proporcionada, recibirá un correo por medio del cual se le hará la invitación de unirse a “IXHUA”, en donde deberá de introducir su RFC (Registro Federal de Contribuyentes) y generará una contraseña, posteriormente tendrá acceso a su perfil el cual deberá de ser llenado en base a la solicitud y datos que se estarán requiriendo por el “Sitio”, una vez que se complete la información y valide la información, en su caso, podrá contratar dichos servicios. 
          <br><br>
          En todo momento y aun habiendo llenado los formularios y solicitudes por parte de él “Usuario” dentro del “Sitio”; “IXHUA” siempre tendrá el derecho de prestar o no los servicios ofertados en el “Sitio”. 
          <br><br>
          VI.- DEL CONSENTIMIENTO Y CONTRATACIÓN 
          La manifestación expresa del consentimiento por parte del “Usuario” y de “IXHUA” se realizará por medios electrónicos, ópticos o cualquier otra tecnología disponible conforme al “principio de neutralidad tecnológica” que ha sido adoptado por la legislación mexicana y que es aplicable en nuestro territorio.
          <br><br>
          Los servicios para contratar por parte del “Usuario” serán en todo momento por medio del “Sitio”, en el que de forma previa se deberá otorgar su consentimiento para acceder a la plataforma, creación de usuarios y en su caso a la contratación. 
          <br><br>
          La operación de “IXHUA” es única y exclusivamente en línea y a través de su sitio web www.ixhua.mx por lo que no cuenta con intervención de terceros, intermediarios, vendedores o cualquiera que se le asemeje.
          <br><br>   
          De igual forma, “IXHUA” podrá poner a disposición las ligas de acceso a video llamadas en favor del “Usuario” para los casos en que se requiera validar la identidad y/o información de carácter especial o sensible y/o por considerarse importante y, a consideración de “IXHUA”, deba atenderse por ese medio. Por lo que “IXHUA” podrá grabar la llamadas telefónicas, video llamadas, conversaciones etc., con el fin de brindar seguridad al usuario en la identificación de su persona y para fungir como medio de prueba ante cualquier duda o aclaración con respecto al servicio, siempre y cuando él “Usuario” de forma previa otorgue su consentimiento para ello.
          <br><br>
          VII.- DEL REGISTRO DE CUENTA  
          <br><br>
          Para llevar a cabo el ingreso y en su caso la contratación en el “Sitio”, el “Usuario” deberá crear una cuenta personal e intransferible con su RFC (Registro Federal de Contribuyentes) y generando una contraseña. 
          <br><br>
          Desde el momento en el que el “Usuario” generé su contraseña este será el único responsable de toda la actividad que ocurre en su perfil y del uso que se le da; por lo que el resguardo de su contraseña es su responsabilidad, obligándose a no compartirla, cederla o hacerla pública.  Desde este momento y hasta en tanto el “Usuario” no cancele su cuenta, este deslinda a “IXHUA” de cualquier daño, perdida o responsabilidad que pudiera resultar del mal uso o del uso no autorizado que se le diera. 
          <br><br>
          El “Usuario” será el único responsable de mantener la confidencialidad y seguridad de sus registros en el “Sitio”. Para el caso de que el “Usuario” tenga conocimiento o motivos para sospechar que sus contraseñas han sido extraviadas, robadas, hackeadas, o se han visto amenazadas de algún modo,  deberá de restablecerla a través de los medios electrónicos que  “IXHUA” pone a su disposición o bien podrá también enviar un correo  electrónico a la siguiente dirección: <u>contacto@ixhua.mx</u> ya que el “Usuario” será responsable por todas y cualesquier actividades desarrolladas a través de sus Registros.
          <br><br>
          Es importante mencionar que el “Usuario” desde el momento en el que crea su cuenta e ingresa a el “Sitio” adquiere obligaciones por lo que se sujeta a estas para todos los efectos legales que haya lugar, siendo de suma importancia que previamente haya revisado los presentes “Términos y Condiciones Generales” así como también el Aviso de Privacidad que se encuentra en el “Sitio”. 
          <br><br>
          VIII.- DE LOS SALDOS, TRANSACCIONES Y MOVIMIENTOS: 
          El “Usuario” podrá revisar sus saldos, transacciones y movimientos dentro de su perfil al cual accede con su RFC (Registro Federal de Contribuyentes) y contraseña. 
          <br><br>
          Así mismo, podrá revisar los montos que ha dispuesto, fechas de pago y el saldo disponible que aún tiene si es que no ha dispuesto. 
          <br><br>
          Siempre y en todo momento previo a una disposición de monto tendrá pleno conocimiento de los intereses y fechas de pago. 
          <br><br>
          IX.- DE LA CANCELACIÓN: 
          <br><br>
          El “Usuario” podrá cancelar su cuenta en cualquier momento, siempre y cuando no exista saldo insoluto en su cuenta. Para ello, solo debe de ingresar a el “Sitio” y seguir las instrucciones de cancelación o bien puede enviar un correo electrónico con el título CANCELACIÓN a la siguiente dirección: <u>contacto@ixhua.mx </u>
          <br><br>
          Así mismo, “IXHUA” tendrá la facultad de cancelar la cuenta de el “Usuario” sí es que este le está dando un uso indebido o no ha cumplido con sus obligaciones, así como también por cualquier incumplimiento a los “Términos y Condiciones generales” sin responsabilidad alguna para “IXHUA”.
          <br><br>
          X.- DE LA VALIDEZ A TRAVÉS DE MEDIOS ELECTRONICOS PARA CONTRATAR
          <br><br>
          Que al momento de contratar los servicios que ofrece “IXHUA”, el “Usuario” está enterado de sus obligaciones y alcances jurídicos, otorgando su consentimiento de manera  remota y de conformidad con los  artículos 89, 90 fracción i, 91 fracción i y ii,  95 bis, así como también a todos los artículos relativos  y demás aplicables del Código de Comercio. 
          <br><br>
          XI.-  DE LAS FALLAS EN EL SISTEMA
          <br><br>
          “IXHUA” no se hace responsable  por cualquier daño, perjuicio o pérdida que pueda sufrir el “Usuario” a causa de fallas en el sistema y/o en el “Sitio”, en el servidor o en Internet, así como tampoco, será responsable por cualquier virus que pudiera infectar el equipo de el “Usuario” como consecuencia del acceso, uso o examen de el  “Sitio” o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo, así como cualquier otra información enviada con el uso de medios electrónicos. 
          El “Usuario” no podrá imputar responsabilidad alguna ni tendrá derecho a exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. Ya que “IXHUA” no garantiza el acceso y uso continuo o ininterrumpido de el “Sitio”. 
          En caso de que el “Sitio” no se encuentre disponible, se encuentre caído o tenga cualquier falla “IXHUA” hará lo posible por restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. 
          <br><br>
          XII.- DE LAS INDEMNIZACIÓNES: 
          <br><br>
          El “Usuario” se compromete a indemnizar, defender y mantener indemne a “IXHUA”, sus directores, empleados y proveedores (conjuntamente como los "Proveedores de Servicios") contra toda pérdida, gasto, daños y costos, incluyendo los honorarios razonables de abogados, resultantes de cualquier violación de estos términos y condiciones o cualquier actividad relacionada con su cuenta (incluyendo conducta negligente o ilícita) por parte de el “Usuario”  o cualquier persona que acceda al sitio usando su cuenta perfil. 
          <br><br>
          XIII.- DE LAS MODIFICACIONES AL SITIO WEB
          <br><br>
          El “Usuario” acepta que “IXHUA” cuenta con la facultad de modificar en cualquier momento el "Sitio" sin que ello de lugar ni derecho a ninguna reclamación o indemnización por parte de el “Usuario”.
          <br><br>
          XIV.-  DE LAS MODIFICACIONES A LOS TÉRMINOS Y CONDICIONES GENERALES
          <br><br>
          “IXHUA” se reserva el derecho a modificar los presentes Términos y Condiciones en cualquier momento con arreglo a esta disposición. Todo cambio realizado será notificado al “Usuario” en su próximo acceso al “Sitio” o por correo electrónico y por los medios digitales que “IXHUA” considere convenientes, en donde se deberá de otorgar su consentimiento para continuar con la relación jurídica. De igual forma al aceptar los presentes “Términos y Condiciones Generales”, el “Usuario” otorga su consentimiento para que “IXHUA” los pueda ampliar, modificar, restringir, limitar, respecto de los derechos y obligaciones que aquí se pactan. Sin que ello de lugar ni derecho de reclamación o indemnización por parte de él “Usuario”. 
          <br><br>
          XV.- DE LOS DERECHOS DE AUTOR Y PROPIEDAD INDUSTRIAL
          <br><br>
          El “Sitio” y su contenido estará en su totalidad, o en parte, protegidos mediante derechos de autor, marca comercial y demás leyes relacionadas tanto mexicanas y/o convenios internacionales, por lo que el “Usuario” reconoce y acepta que el “Sitio” y su contenido, incluidos todos los derechos asociados de propiedad intelectual, son propiedad exclusiva de “IXHUA”. 
          <br><br>
          El “Usuario” se obligan a no eliminar, alterar u ocultar, cualquier marca, o signo de derechos de autor, de marca comercial, de servicio, o demás avisos de derechos de propiedad que figuren integrados, o que acompañen el “Sitio”. Todas las marcas comerciales, marcas de servicio, logos, nombres comerciales y cualquier otro elemento identificador de “IXHUA” utilizado en, o con relación dentro de el “Sitio”, constituyen marcas comerciales, marcas registradas y/o en trámite propiedad de “IXHUA”.
          <br><br>
          Las marcas comerciales, marcas de servicio, logos, nombres comerciales y cualesquiera otras denominaciones en propiedad de terceros, utilizadas en, o en relación con, el “Sitio”, se utilizan únicamente a efectos de identificación y son propiedad de sus respectivos titulares.
          El “Usuario” se obligan a no utilizar, copiar, adaptar, modificar, preparar obras derivadas, distribuir, licenciar, vender, transferir, exhibir públicamente, interpretar públicamente, transmitir, difundir ni explotar de cualquier otro modo el “Sitio”, ni su contenido, excepto conforme a lo expresamente permitido en los presentes Términos y Condiciones. 
          <br><br>
          Por lo anterior, “IXHUA” no otorga a el “Usuario” licencia alguna, o derechos, de manera implícita o explícita, en virtud de ningún derecho de propiedad intelectual de que sea titular, o que controle “IXHUA” o sus licenciatarios, con la excepción de las licencias y derechos que se otorgan expresamente en los presentes Términos y Condiciones, en caso de así estipularlo. 
          <br><br>
          XVI.- DE LA AUTORIZACIÓN PARA SOLICITAR Y PROPORCIONAR INFORMACIÓN CREDITICIA Y PERSONAL
          <br><br>
          El “Usuario” autoriza expresamente a “IXHUA” para que solicite, reporte y obtenga en cualquier momento y de cualquier Sociedad de Información Crediticia, la información sobre su historial crediticio, respecto de las operaciones crediticias y otras de naturaleza análoga, que lo integra.
          El “Usuario” desde este momento se da por enterado que en caso de incumplimiento a sus obligaciones de pago su historial crediticio se verá afectado; por lo que se recomienda no excederse de su capacidad. 
          En este acto, el “Usuario” otorga su total consentimiento para que “IXHUA” pueda cotejar y validar la información personal y financiera que sea proporcionada ante los terceros que se ponen como referencia (familiares, amigos, oficinas de trabajo, referencias laborales, Instituciones de Crédito, etc.) y fuentes de acceso público. 
          <br><br>
          XVII.- DE LA VIGENCIA: 
          <br><br>
          Estos “Términos y Condiciones Generales” iniciarán su vigencia desde el momento en el “Usuario” otorgue su aceptación por vía remota y hasta la terminación del uso de los Productos y Servicios que presta “IXHUA”.
          <br><br>
          XVIII.- DEL DOMICILIO DE IXHUA: 
          <br><br>
          IXHUA TECH, S.A.P.I. DE C.V tiene su domicilio ubicado en Real de Acueducto 240 int. 8, Colonia Puerta de Hierro, Zapopan, Jalisco. C.P. 45116
          <br><br>
          XIX- DEL HORARIO DE DISPONIBILIDAD PARA OPERACIONES DENTRO DE LA PLATAFORMA: 
          <br><br>
          El “Sitio” estará disponible en todo momento, sin embargo, los horarios para contratar los productos y servicios que este ofrece serán los siguientes: 
          <br><br>
          -    De Lunes a Viernes de 9:00 am – 2:00 PM y de 4:00 pm – 7:00 pm.
          <br><br>
          XX.-  DE LOS MEDIOS DE COMUNICACION OFICIALES: 
          <br><br>
          Los canales de comunicación oficiales entre el “Usuario” e “IXHUA” siempre serán a través de medios electrónicos ya sea por medio de el mismo “Sitio” o mediante el correo electrónico <u>contacto@ixhua.mx.</u>
          <br><br>
          XXI.- DEL PROCESO Y MEDIOS PARA DUDAS, ACLARACIONES Y RECLAMACIONES: 
          <br><br>
          “IXHUA” pone a su disposición para cualquier duda, aclaración o reclamación el correo electrónico <u>contacto@ixhua.mx</u> o bien, puede ingresar dentro de el “Sitio” en el apartado de dudas y aclaraciones en donde podrá encontrar nuestros teléfonos de contacto. 
          <br><br>
          XXII.- MISCELÁNEOS.- 
          <br><br>
          <dd><strong>
            -   Es importante que el “Usuario” no contrate créditos que excedan su capacidad de pago, ya que el incumplimiento genera penalidades e intereses moratorios. 
          </strong></dd>
          <br><br>
          
          <dd><strong>
            -   Los créditos y en general todas las actividades que se realizan en el “Sitio” son en Moneda Nacional (Moneda de Curso Legal en México)
          </strong></dd>
          <br><br>
          
          <dd><strong>
            -   “IXHUA” desde este momento no garantiza los recursos aun y cuando el “Usuario” cumpla con todos y cada uno de los requisitos que se señalan en el “Sitio". 
          </strong></dd>
          <br><br>
          
          <dd>
          -   Al momento en el que el “Usuario” se registra se requiere que comunique a “IXHUA” Información Personal y/o Datos Personales, por ende, el “Usuario” se compromete a mantener la información de manera exacta, completa y actualizada. </dd>
          <br><br>
          <dd>
          -   Los recursos de el “Usuario” en las operaciones realizadas con IXHUA TECH, S.A.P.I. DE C.V.  no se encuentran garantizados por ninguna autoridad. </dd>
          <br><br>


          XXIII.- DE LA LEGISLACIÓN APLICABLE Y JURISDICCIÓN 
          <br><br>
          El “Usuario” al ingresar a el “Sitio” acepta en forma expresa e irrevocable que la relación entre el “Usuario” e “IXHUA” será regida e interpretada de acuerdo con las leyes de los Estados Unidos Mexicanos. En caso de controversia, el “Usuario” e “IXHUA” expresamente se someten a los tribunales competentes de la Ciudad de Guadalajara, Jalisco, renunciando las partes a cualquier otro fuero que por razón de domicilio presente o futuro o por cualquier otra razón pudiera corresponderles.
          <br><br>
          Última Actualización 09 de junio de 2020. 








 









            
        </p>
      </div>
      
    </div>
    
    <!-- auth footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
            
