<section class="flex__column" style="padding-left: 20px; padding-right: 20px;">
  <div class="grid-row" style="display: flex;">
    <div class="col-12 col-md-12 col-sm-12">
      <p>
        <span class="dashboard-title">Inicio > Datos </span> <br>
        <span class="dashboard-subtitle">Agregar mis datos</span>
      </p>
      <hr class="hr"/>
    </div>

    <div class="col-12 col-md-12 col-sm-12">
      <form class="grid-container" [formGroup]="form" (ngSubmit)="onFormSubmit($event)">
          <br>
          <span class="dashboard-title">Mi Información Personal</span>
          <br><br>
          <section class="grid-row">
            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input placeholder="Nombre" matInput type="text" formControlName="names" maxlength="50">
                <mat-error *ngIf="hasError('names', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Apellido paterno</mat-label>
                <input matInput type="text"
                  placeholder="Apellido paterno" 
                  formControlName="father_last_name"
                  maxlength="50">
                <mat-error *ngIf="hasError('father_last_name', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Apellido materno</mat-label>
                <input matInput type="text" placeholder="Apellido materno" formControlName="mother_last_name" maxlength="51">
                <mat-error *ngIf="hasError('mother_last_name', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <mat-radio-group class="col-3 col-md-6 col-sm-12 fs-12px" formControlName="gender">
              <mat-radio-button
                class="mr-3"
                [color]="getLabelControlError('gender', 'required') ? 'warn' : 'primary'"
                [value]="el"
                *ngFor="let el of ['Masculino', 'Femenino']">
                {{ el }}
              </mat-radio-button>
            </mat-radio-group>

            <div class="col-3 col-md-6 col-sm-12">
              <!--<p class="m-0 fs-14px" [ngClass]="{
                'fc-warn': getLabelControlError('birthdate', 'required')}">
                Fecha de nacimiento
              </p>
              <p class="m-0 fs-12px">(dd/mm/aaa)</p> -->

              <div class="mat-form-field has-custom-error w-100 fs-12px">
                <app-dropdown-date
                  [date]="formBirthDate"
                  [isFirstLoan]="isFirstLoan"
                  (changesDate)="getDate($event)">
                </app-dropdown-date>
                <mat-error class="fs-9px" *ngIf="hasError('birthdate', 'required')">{{requiredMessage}}</mat-error>
                <mat-error class="fs-9px" *ngIf="isInvalidBirthDate">{{invalidBirthDateMessage}}</mat-error>
              </div>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Nacionalidad</mat-label>
                <mat-select formControlName="nationality">
                  <mat-option *ngFor="let nationality of formNationaloty" [value]="nationality">
                    {{nationality}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError('nationality', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Estado civil</mat-label>
                <mat-select formControlName="civil_status">
                  <mat-option *ngFor="let maritalStatus of formMaritalStatus"
                    [value]="maritalStatus">
                    {{maritalStatus}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('civil_status', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>
          </section>


          <br>
          <span class="dashboard-title">Mis Datos personales</span>
          <br><br>
          <section class="grid-row">
            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Calle</mat-label>
                <input matInput type="text" formControlName="address" maxlength="50">
                <mat-error *ngIf="hasError('address', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>No. ext.</mat-label>
                <input matInput type="text" placeholder="No. ext." formControlName="outdoor_no" maxlength="50">
                <mat-error *ngIf="hasError('outdoor_no', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>No. int.</mat-label>
                <input matInput type="text" placeholder="No. int." formControlName="interior_no" maxlength="50">
                <mat-error *ngIf="hasError('interior_no', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>C.P.</mat-label>
                <input matInput type="text" placeholder="C.P." 
                  formControlName="postal_code"
                  (keydown)="filterNumberInputs($event)">
                <mat-error *ngIf="hasError('postal_code', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('postal_code', 'pattern')">El código postal debe ser de 5 dígitos.</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field *ngIf="!isZipCodesApiDown" class="w-100 fs-12px" appearance="outline">
                <mat-select formControlName="suburb">
                  <mat-option *ngFor="let neighborhood of formZipData.neighborhoods" [value]="neighborhood">
                    {{ neighborhood }}
                  </mat-option>

                </mat-select>

                <mat-error *ngIf="hasError('suburb', 'required')">{{ requiredMessage }}</mat-error>
              </mat-form-field>
              <!-- Fall back when there si no API for the ZIP codes-->
              <mat-form-field *ngIf="isZipCodesApiDown" class="w-100 fs-12px" appearance="outline">
                <mat-label>Colonia</mat-label>
                <input matInput type="text" placeholder="Colonia" formControlName="suburb">
                <mat-error *ngIf="hasError('suburb', 'required')">{{ requiredMessage }}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Municipio o Delegación</mat-label>
                <input matInput type="text" formControlName="city" placeholder="Municipio o Delegación">
                <mat-error *ngIf="hasError('city', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>


            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select
                  formControlName="state">
                  <mat-option *ngFor="let state of formCityStates" [value]="state">
                    {{state}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError('state', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>País</mat-label>
                <input matInput type="text" formControlName="country" placeholder="País">
                <mat-error *ngIf="hasError('country', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Tipo de vivienda</mat-label>
                <mat-select formControlName="house_type">
                  <mat-option *ngFor="let type of formHouseType" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError('house_type', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Años de residencia</mat-label>
                <input matInput type="number" min="0" placeholder="Años de residencia" 
                  formControlName="years_residence"
                  (keydown)="filterNumberInputs($event)" >
                <mat-error *ngIf="hasError('years_residence', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('years_residence', 'max')">
                  Máximo 2 dígitos
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">

              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Teléfono de casa o trabajo</mat-label>
                <input matInput type="text" maxlength="10"
                  placeholder="10 digitos" 
                  formControlName="phone"
                  (keydown)="filterNumberInputs($event)">

                <mat-error *ngIf="hasError('phone', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('phone', 'pattern')">Se requieren 10 dígitos</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput type="text"
                placeholder="(10 digitos)" 
                formControlName="cellphone" maxlength="10"
                (keydown)="filterNumberInputs($event)">

                <mat-error *ngIf="hasError('cellphone', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('cellphone', 'pattern')">Se requieren 10 dígitos</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Correo electrónico" #inputRef>
                <mat-error *ngIf="hasError('email', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('email', 'email')">{{invalidEmailMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Lugar de nacimiento</mat-label>
                <mat-select
                  formControlName="birth_place">
                  <mat-option *ngFor="let state of formStates" [value]="state">
                    {{state}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError('birth_place', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>CURP</mat-label>
                <input matInput type="text" formControlName="curp" maxlength="18" placeholder="CURP">
                <mat-error *ngIf="hasError('curp', 'pattern')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>RFC</mat-label>
                <input matInput type="text" formControlName="rfc" maxlength="14" placeholder="RFC">
                <mat-error *ngIf="hasError('rfc', 'pattern')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-3 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Grado de estudios</mat-label>
                <mat-select formControlName="study_level">
                  <mat-option *ngFor="let degree of formStudiesDegree" [value]="degree">
                    {{degree}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError('study_level', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>
          </section>

          <br>
          <span class="dashboard-title">Mis Datos laborales</span>
          <br><br>

          <section class="grid-row">
            <div class="col-4 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Empresa</mat-label>
                <input matInput type="text" formControlName="family_str" maxlength="50" placeholder="Empresa">

                <mat-error *ngIf="hasError('family_str', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Puesto</mat-label>
                <mat-select formControlName="actual_position">
                  <mat-option *ngFor="let position of formActualPosition" [value]="position">
                    {{position}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError('actual_position', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>



            <div class="col-2 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Antigüedad (años)</mat-label>
                <input matInput type="number" min="0" pattern="\d*" placeholder="años" 
                  formControlName="labor_old"
                  (keydown)="filterNumberInputs($event)">
                <mat-error *ngIf="hasError('labor_old', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('labor_old', 'max')">
                  Máximo 2 dígitos
                </mat-error>
                <mat-error *ngIf="hasError('labor_old', 'pattern')">
                  No se permiten valores decimales
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-2 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Antigüedad (meses)</mat-label>
                <input matInput type="number" min="0" pattern="\d*" placeholder="meses" 
                  formControlName="labor_old_month"
                  (keydown)="filterNumberInputs($event)">

                <mat-error *ngIf="hasError('labor_old_month', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('labor_old_month', 'max')">
                  Máximo 11 meses
                </mat-error>
                <mat-error *ngIf="hasError('labor_old_month', 'pattern')">
                  No se permiten valores decimales
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Sueldo neto mensual</mat-label>
                <input matInput type="number" min="0" placeholder="después de deducciones" 
                  formControlName="salary"
                  (keydown)="filterNumberInputs($event)">

                <mat-error *ngIf="hasError('salary', 'required')">{{ requiredMessage }}</mat-error>
                <mat-error *ngIf="hasError('salary', 'min')">Debe introducir un salario mínimo.</mat-error>
                <mat-error *ngIf="hasError('salary', 'max')">El salario máximo permitido es 999999.99</mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Ingreso familiar acumulado</mat-label>
                <input matInput type="number" min="0" placeholder="tu ingreso más el de tus familiares" 
                  formControlName="family_income"
                  (keydown)="filterNumberInputs($event)">

                <mat-error *ngIf="hasError('family_income', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('family_income', 'min')">Debe introducir un salario mínimo.</mat-error>
                <mat-error *ngIf="hasError('family_income', 'max')">El salario máximo permitido es 999999.99</mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Dependientes económicos</mat-label>
                <input matInput type="number" min="0" max="99" step="1" placeholder="Dependientes económicos"
                  formControlName="economic_dependent">
                <mat-error *ngIf="hasError('economic_dependent', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('economic_dependent', 'max')">Máximo 15 dependientes</mat-error>
              </mat-form-field>
            </div>
          </section>
          
          <br>
          <span class="dashboard-title">Mis Referencias</span>
          <p class="dashboard-title m-0 fs-14px">(Avisa a tus referencias que los contactaremos)</p>
          <br><br>

          <section class="grid-row">
            <div class="col-6 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Referencia familiar (padres, hijos o hermanos)</mat-label>
                <input matInput type="text" formControlName="family_reference" maxlength="50" placeholder="Referencia familiar (padres, hijos o hermanos)">
                <mat-error *ngIf="hasError('family_reference', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-6 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Celular referencia familiar (10 digitos)</mat-label>
                <input matInput type="text" formControlName="family_reference_phone" maxlength="10" placeholder="Celular referencia familiar (10 digitos)">
                <mat-error *ngIf="hasError('family_reference_phone', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('family_reference_phone', 'pattern')">Se requieren 10 dígitos</mat-error>
              </mat-form-field>
            </div>

            <div class="col-6 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Referencia laboral (jefe directo o compañero de trabajo)</mat-label>
                <input matInput type="text" formControlName="reference" maxlength="50" placeholder="Referencia laboral (jefe directo o compañero de trabajo)">
                <mat-error *ngIf="hasError('reference', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-6 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Celular referencia laboral (10 digitos)</mat-label>
                <input matInput type="text" formControlName="reference_phone" maxlength="10" placeholder="Celular referencia laboral (10 digitos)">
                <mat-error *ngIf="hasError('reference_phone', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('reference_phone', 'pattern')">Se requieren 10 dígitos</mat-error>
              </mat-form-field>
            </div>
          </section>


          <br>
          <span class="dashboard-title">Mis Datos Bancarios</span>
          <br><br>
          <section class="grid-row">

            <div class="col-6 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Banco en donde recibes la nómina</mat-label>
                <mat-select formControlName="bank_name">
                  <mat-option *ngFor="let bank of formBanks" [value]="bank">
                    {{ bank }}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError('bank_name', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-6 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>Tarjeta de nómina(16 dígitos) o Cuenta CLABE (18 dígitos)</mat-label>
                <input matInput type="text"
                  formControlName="bank_clabe"
                  placeholder="Tarjeta de nómina (16 dígitos) o Cuenta CLABE (18 dígitos)" 
                  (keydown)="filterNumberInputs($event)">

                <mat-error *ngIf="hasError('bank_clabe', 'required')">{{requiredMessage}}</mat-error>
                <mat-error *ngIf="hasError('bank_clabe', 'pattern')">
                  Tarjeta de nómina:16 dígitos o CLABE:18 dígitos
                </mat-error>
              </mat-form-field>
            </div>

          </section>


          <br>
          <span class="dashboard-title">Mis Datos crediticios</span>
          <br><br>

          <section class="grid-row">
            <div class="col-6 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>¿Has presentado atrasos en Buró de Crédito?</mat-label>
                <mat-select formControlName="credit_bureau">
                  <mat-option *ngFor="let option of formCreditBureau"
                    [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError('credit_bureau', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-6 col-md-6 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>¿Cuentas con alguna línea de crédito?</mat-label>
                <mat-select
                  formControlName="credit_lines"
                  [multiple]="true">
                  <mat-option *ngFor="let creditLine of formCreditLine"
                    [value]="creditLine">
                    {{ creditLine }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('credit_lines', 'required')">{{ requiredMessage }}</mat-error>
              </mat-form-field>
            </div>

            <!--
            <div class="col-12 col-md-12 col-sm-12">
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>¿Para qué usarías tu adelanto?</mat-label>
                <mat-select formControlName="tell_us" (selectionChange)="changeTellUs()">
                  <mat-option *ngFor="let option of formTellUs"
                    [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError('tell_us', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>
            -->

         
            <div class="col-12" *ngIf="show_tell_us_note" >
              <mat-form-field class="w-100 fs-12px" appearance="outline">
                <mat-label>¿Para qué usarías tu adelanto?</mat-label>
                <textarea matInput placeholder="¿Para qué usarías tu adelanto? (máximo 1000 caracteres)" 
                  rows="10"
                  maxlength="1000"
                  formControlName="tell_us_note"></textarea>
                <mat-error *ngIf="hasError('tell_us_note', 'required')">{{requiredMessage}}</mat-error>
              </mat-form-field>
            </div>

          </section>

          <div>
            <button class="new-primary-button"
                    mat-flat-button
                    color="primary"
                    type="submit"><!-- [disabled]="(form.touched) ? (form.invalid) : false" -->
              Guardar datos
            </button>

            <mat-error *ngIf="errorMessage"
              class="text-center">
              <small>{{errorMessage}}</small>
            </mat-error>
            <mat-error
              [ngStyle]="validateEmail ? { visibility: 'visible' } : { visibility: 'hidden' }"
              class="text-center">
              <small>El correo electrónico ingresado ya ha sido registrado por otro cliente.</small>
            </mat-error>
          </div>
      </form>

      <div class="col-12 col-md-12 col-sm-12">
        <mat-card class="custom-message" *ngIf="customMessage">
          <p style="font-size: 16px; color:white">{{customMessage}}</p>
        </mat-card>
      </div>

    </div>
  </div>
</section>
<br><br>
<app-loan-footer></app-loan-footer>
