<form class="grid-container p-2 mb-30px" [formGroup]="form" (ngSubmit)="onFormSubmit($event)">
  <h2 class="fs-24px fw-normal m-0">Información Personal</h2>
  <hr class="hr mt-2 mb-3" />

  <section class="grid-row">
    <div class="col-3 col-md-6 col-sm-12 pb-2">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('names', 'required')}">Nombre (s)</p>

      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" 
          formControlName="names" 
          maxlength="200">

        <mat-error *ngIf="hasError('names', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('father_last_name', 'required')}">
        Apellido paterno
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text"
          formControlName="father_last_name"
          maxlength="200">

        <mat-error *ngIf="hasError('father_last_name', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('mother_last_name', 'required')}">
        Apellido materno
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" 
          formControlName="mother_last_name" 
          maxlength="200">

        <mat-error *ngIf="hasError('mother_last_name', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <mat-radio-group class="col-3 col-md-6 col-sm-12 fs-12px" formControlName="gender">
      <p class="mt-0" [ngClass]="{
        'fc-warn': getLabelControlError('gender', 'required')}">
        Género
      </p>
      <mat-radio-button
        class="mr-3"
        [color]="getLabelControlError('gender', 'required') ? 'warn' : 'primary'"
        [value]="el"
        *ngFor="let el of ['Masculino', 'Femenino']">
        {{ el }}
      </mat-radio-button>
    </mat-radio-group>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('birthdate', 'required')}">
        Fecha de nacimiento
      </p>
      <p class="m-0 fs-12px">(dd/mm/aaa)</p>

      <div class="mat-form-field has-custom-error w-100 fs-12px">
        <app-dropdown-date
          [date]="formBirthDate"
          [isFirstLoan]="isFirstLoan"
          (changesDate)="getDate($event)">
        </app-dropdown-date>
        <mat-error class="fs-9px" *ngIf="hasError('birthdate', 'required')">{{requiredMessage}}</mat-error>
        <mat-error class="fs-9px" *ngIf="isInvalidBirthDate">{{invalidBirthDateMessage}}</mat-error>
      </div>
    </div>

    <!--<div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('nationality', 'required')}">
        Nacionalidad
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="nationality" maxlength="20">

        <mat-error *ngIf="hasError('nationality', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>-->

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('nationality', 'required')}">
        Nacionalidad
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select formControlName="nationality">
          <mat-option *ngFor="let nationality of formNationaloty" [value]="nationality">
            {{nationality}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('nationality', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('civil_status', 'required')}">
        Estado civil
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select formControlName="civil_status">
          <mat-option *ngFor="let maritalStatus of formMaritalStatus"
            [value]="maritalStatus">
            {{maritalStatus}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('civil_status', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>
  </section>


  <h2 class="fs-24px fw-normal mt-1 mb-0">Datos personales</h2>
  <hr class="hr mt-2 mb-3" />
  <section class="grid-row">
    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('address', 'required')}">Calle</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="address" maxlength="50">

        <mat-error *ngIf="hasError('address', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('outdoor_no', 'required')}">
        No. ext.
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="outdoor_no" maxlength="50">

        <mat-error *ngIf="hasError('outdoor_no', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('interior_no', 'required')}">
        No. int.
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="interior_no" maxlength="50">

        <mat-error *ngIf="hasError('interior_no', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('postal_code', 'required') ||
        getLabelControlError('postal_code', 'max')}">
        C.P.
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text"
          formControlName="postal_code"
          (keydown)="filterNumberInputs($event)">

        <mat-error *ngIf="hasError('postal_code', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('postal_code', 'pattern')">El código postal debe ser de 5 dígitos.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('suburb', 'required')}">
        Colonia
      </p>
      <mat-form-field *ngIf="!isZipCodesApiDown" class="w-100 fs-12px" appearance="outline">
        <mat-select formControlName="suburb">
          <mat-option *ngFor="let neighborhood of formZipData.neighborhoods" [value]="neighborhood">
            {{ neighborhood }}
          </mat-option>

        </mat-select>

        <mat-error *ngIf="hasError('suburb', 'required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <!-- Fall back when there si no API for the ZIP codes-->
      <mat-form-field *ngIf="isZipCodesApiDown" class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="suburb">

        <mat-error *ngIf="hasError('suburb', 'required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('city', 'required')}">
        Municipio o Delegación
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="city">

        <mat-error *ngIf="hasError('city', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <!--<div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('state', 'required')}">
        Estado
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="state">

        <mat-error *ngIf="hasError('state', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>-->

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('state', 'required')}">
        Estado
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select
          formControlName="state">
          <mat-option *ngFor="let state of formCityStates" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('state', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('country', 'required')}">
        País
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="country">

        <mat-error *ngIf="hasError('country', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('house_type', 'required')}">
        Tipo de vivienda
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select formControlName="house_type">
          <mat-option *ngFor="let type of formHouseType" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('house_type', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('years_residence', 'required') ||
        getLabelControlError('years_residence', 'max')}">
        Años de residencia
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="number" min="0"
          formControlName="years_residence"
          (keydown)="filterNumberInputs($event)">

        <mat-error *ngIf="hasError('years_residence', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('years_residence', 'max')">
          Máximo 2 dígitos
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('phone', 'required') ||
        getLabelControlError('phone', 'max')}">
        Teléfono de casa o trabajo
      </p>
      <p class="m-0 fs-12px">(10 digitos)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" maxlength="10"
          formControlName="phone"
          (keydown)="filterNumberInputs($event)">

        <mat-error *ngIf="hasError('phone', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('phone', 'pattern')">Se requieren 10 dígitos</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('cellphone', 'required') ||
        getLabelControlError('cellphone', 'max')}">
        Celular
      </p>
      <p class="m-0 fs-12px">(10 digitos)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text"
        formControlName="cellphone" maxlength="10"
        (keydown)="filterNumberInputs($event)">

        <mat-error *ngIf="hasError('cellphone', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('cellphone', 'pattern')">Se requieren 10 dígitos</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('email', 'required') ||
        getLabelControlError('email', 'email')}">
        Correo electrónico
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="email" formControlName="email" #inputRef>

        <mat-error *ngIf="hasError('email', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">{{invalidEmailMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('birth_place', 'required')}">
        Lugar de nacimiento
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select
          formControlName="birth_place">
          <mat-option *ngFor="let state of formStates" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('birth_place', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('curp', 'required')}">CURP</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="curp" maxlength="18">

        <mat-error *ngIf="hasError('curp', 'pattern')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('rfc', 'required')}">RFC</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="rfc" maxlength="14">

        <mat-error *ngIf="hasError('rfc', 'pattern')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-3 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('study_level', 'required')}">
        Grado de estudios
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select formControlName="study_level">
          <mat-option *ngFor="let degree of formStudiesDegree" [value]="degree">
            {{degree}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('study_level', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>
  </section>

  <h2 class="fs-24px fw-normal mt-1 mb-0">Datos laborales</h2>
  <hr class="hr mt-2 mb-3" />

  <section class="grid-row">
    <div class="col-4 col-md-6 col-sm-12">
      <p class="m-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('family_str', 'required')}">Empresa</p>
     
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="family_str" maxlength="50">

        <mat-error *ngIf="hasError('family_str', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <!--<div class="col-4 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('actual_position', 'required')}">Puesto</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="actual_position" maxlength="50">

        <mat-error *ngIf="hasError('actual_position', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>-->

    <div class="col-4 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('actual_position', 'required')}">
        Puesto
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select formControlName="actual_position">
          <mat-option *ngFor="let position of formActualPosition" [value]="position">
            {{position}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('actual_position', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>



    <div class="col-2 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('labor_old', 'required')}">Antigüedad</p>
      <p class="m-0 fs-12px">(años)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="number" min="0" pattern="\d*"
          formControlName="labor_old"
          (keydown)="filterNumberInputs($event)">

        <mat-error *ngIf="hasError('labor_old', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('labor_old', 'max')">
          Máximo 2 dígitos
        </mat-error>
        <mat-error *ngIf="hasError('labor_old', 'pattern')">
          No se permiten valores decimales
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-2 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('labor_old_month', 'required')}">Antigüedad</p>
      <p class="m-0 fs-12px">(meses)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="number" min="0" pattern="\d*"
          formControlName="labor_old_month"
          (keydown)="filterNumberInputs($event)">

        <mat-error *ngIf="hasError('labor_old_month', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('labor_old_month', 'max')">
          Máximo 11 meses
        </mat-error>
        <mat-error *ngIf="hasError('labor_old_month', 'pattern')">
          No se permiten valores decimales
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-4 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('salary', 'required')}">
        Sueldo neto mensual
      </p>
      <p class="m-0 fs-12px">(después de deducciones)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="number" min="0"
          formControlName="salary"
          (keydown)="filterNumberInputs($event)">

        <mat-error *ngIf="hasError('salary', 'required')">{{ requiredMessage }}</mat-error>
        <mat-error *ngIf="hasError('salary', 'min')">Debe introducir un salario mínimo.</mat-error>
        <mat-error *ngIf="hasError('salary', 'max')">El salario máximo permitido es 999999.99</mat-error>
      </mat-form-field>
    </div>

    <div class="col-4 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('family_income', 'required')}">
        Ingreso familiar acumulado
      </p>
      <p class="m-0 fs-12px">(tu ingreso más el de tus familiares)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="number" min="0"
          formControlName="family_income"
          (keydown)="filterNumberInputs($event)">

        <mat-error *ngIf="hasError('family_income', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('family_income', 'min')">Debe introducir un salario mínimo.</mat-error>
        <mat-error *ngIf="hasError('family_income', 'max')">El salario máximo permitido es 999999.99</mat-error>
      </mat-form-field>
    </div>

    <div class="col-4 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('economic_dependent', 'required')}">
        Dependientes económicos
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="number" min="0" max="99" step="1"
          formControlName="economic_dependent">

        <mat-error *ngIf="hasError('economic_dependent', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('economic_dependent', 'max')">Máximo 15 dependientes</mat-error>
      </mat-form-field>
    </div>

  </section>


    <h2 class="fs-24px fw-normal mt-1 mb-0">Referencias</h2>
    <p class="m-0 fs-14px">(Avisa a tus referencias que los contactaremos)</p>
  <hr class="hr mt-2 mb-3" />
  <section class="grid-row">
    <div class="col-6 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('family_reference', 'required')}">Referencia familiar (padres, hijos o hermanos)</p>

      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="family_reference" maxlength="50">

        <mat-error *ngIf="hasError('family_reference', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6 col-sm-12">
       <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('family_reference_phone', 'required') ||
        getLabelControlError('family_reference_phone', 'max')}">
        Celular referencia familiar
      </p>
      <p class="m-0 fs-12px">(10 digitos)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="family_reference_phone" maxlength="10">

        <mat-error *ngIf="hasError('family_reference_phone', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('family_reference_phone', 'pattern')">Se requieren 10 dígitos</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('reference', 'required')}">Referencia laboral (jefe directo o compañero de trabajo)</p>

      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="reference" maxlength="50">

        <mat-error *ngIf="hasError('reference', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('reference_phone', 'required') ||
        getLabelControlError('reference_phone', 'max')}">
        Celular referencia laboral
      </p>
      <p class="m-0 fs-12px">(10 digitos)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text" formControlName="reference_phone" maxlength="10">

        <mat-error *ngIf="hasError('reference_phone', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('reference_phone', 'pattern')">Se requieren 10 dígitos</mat-error>
      </mat-form-field>
    </div>
  </section>

  <h2 class="fs-24px fw-normal mt-1 mb-0">Datos Bancarios</h2>
  <hr class="hr mt-2 mb-3" />

  <section class="grid-row">

    <div class="col-6 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('bank_name', 'required')}">Banco en donde recibes la nómina</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select formControlName="bank_name">
          <mat-option *ngFor="let bank of formBanks" [value]="bank">
            {{ bank }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('bank_name', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6 col-sm-12">
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn':
        getLabelControlError('bank_clabe', 'required') ||
        getLabelControlError('bank_clabe', 'max')}">
        Tarjeta de nómina(16 dígitos) o Cuenta CLABE (18 dígitos)
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <input matInput type="text"
          formControlName="bank_clabe"
          (keydown)="filterNumberInputs($event)">

        <mat-error *ngIf="hasError('bank_clabe', 'required')">{{requiredMessage}}</mat-error>
        <mat-error *ngIf="hasError('bank_clabe', 'pattern')">
          Tarjeta de nómina:16 dígitos o CLABE:18 dígitos
        </mat-error>
      </mat-form-field>
    </div>

  </section>

  <h2 class="fs-24px fw-normal mt-1 mb-0">Datos crediticios</h2>
  <hr class="hr mt-2 mb-3" />
  <section class="grid-row">
    <div class="col-6 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('credit_bureau', 'required')}">
        ¿Has presentado atrasos en Buró de Crédito?
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select formControlName="credit_bureau">
          <mat-option *ngFor="let option of formCreditBureau"
            [value]="option">
            {{option}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('credit_bureau', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('credit_lines', 'required')}">
        ¿Cuentas con alguna línea de crédito?
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-select
          formControlName="credit_lines"
          [multiple]="true">
          <mat-option *ngFor="let creditLine of formCreditLine"
            [value]="creditLine">
            {{ creditLine }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('credit_lines', 'required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>

    <!--
    <div class="col-12 col-md-12 col-sm-12">
      <p class="mt-0 mb-11px fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('tell_us', 'required')}">
        ¿Para qué usarías tu adelanto?
      </p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <mat-label>Selecciona una opción</mat-label>
        <mat-select formControlName="tell_us" (selectionChange)="changeTellUs()">
          <mat-option *ngFor="let option of formTellUs"
            [value]="option">
            {{option}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError('tell_us', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>
    -->

    <!-- Div visible only if Otros option chosen -->
    <div class="col-12" *ngIf="show_tell_us_note" >
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('tell_us_note', 'required')}">
        ¡Platícanos! ¿Para qué usarías tu adelanto?
      </p>
      <p class="m-0 fs-12px">(máximo 1000 caracteres)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <textarea matInput
          rows="10"
          maxlength="1000"
          formControlName="tell_us_note"></textarea>
        <mat-error *ngIf="hasError('tell_us_note', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Div visible only if Otros option chosen -->

    <!-- Div visible only if Pago de facturas option chosen -->
    <div class="col-12" *ngIf="show_tell_us_invoices" >
      <p class="m-0 fs-14px" [ngClass]="{
        'fc-warn': getLabelControlError('tell_us_invoices', 'required')}">
        Folios de facturas a pagar
      </p>
      <p class="m-0 fs-12px">(máximo 1000 caracteres)</p>
      <mat-form-field class="w-100 fs-12px" appearance="outline">
        <textarea matInput
          rows="10"
          maxlength="1000"
          formControlName="tell_us_invoices"></textarea>
        <mat-error *ngIf="hasError('tell_us_invoices', 'required')">{{requiredMessage}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Div visible only if Otros option chosen -->

  </section>

  <section class="grid-row">
    <div class="col-12 text-center pt-5">
      <mat-checkbox color="primary"
        class="fw-book fs-14px"
        formControlName="terms_and_conditions">
        <a class="ml-1" href="/tyc" target="_blank">Bajo protesta de decir verdad manifiesto que mis datos aquí cargados son correctos y actuales.</a>
      </mat-checkbox>
      <div class="my-1" *ngIf="form.touched">
        <p class="mat-error-custom"
          [ngClass]="form.get('terms_and_conditions').hasError('required') ? 'show' : 'hidden'">
          Este campo es requerido.
        </p>
      </div>
    </div>
  </section>

  <div class="loan-request-main-action">
    <button class="mat-rounded-button"
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!form.valid">
      Siguiente
    </button>
    
    <mat-error *ngIf="errorMessage"
      class="text-center">
      <small>{{errorMessage}}</small>
    </mat-error>

    <mat-error
      [ngStyle]="validateEmail ? { visibility: 'visible' } : { visibility: 'hidden' }"
      class="text-center">
      <small>El correo electrónico ingresado ya ha sido registrado por otro cliente.</small>
    </mat-error>

  </div>
</form>
