<main (window:resize)="renderer.setStyle(navContainer.nativeElement, 'right', bulletsRight)" class="loan-request-main">

  <app-loan-totals class="loan-request-totals--xs" *ngIf="this.selectedIndex == 0"></app-loan-totals>

  <h2 class="loan-request-main__title">{{ tabName }}</h2>


  <mat-card class="custom-message" *ngIf="customMessage">
    <a style="font-size: 16px; color:white" href='{{customURL}}'>{{customMessage}}</a>
  </mat-card>
  

  <div class="loan-request-main__wrapper flex__column">
    <div class="loan-request-main-content">
      <mat-card #mainCardContainer class="loan-request-card"
        [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
        <router-outlet #o="outlet"></router-outlet>
      </mat-card>

      <nav
        #bulletsContainer
        class="loan-request-nav"
        mat-tab-nav-bar
        style="display: none;">
        <a
          *ngFor="let tab of tabs; let i = index"
          [routerLink]="tab.path"
          mat-tab-link
          routerLinkActive
          #rla="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: true }"
          [active]="rla.isActive"
          (click)="checkTab($event, i)">
          <mat-icon [ngClass]="{'disabled' : !rla.isActive }"
            svgIcon="{{ rla.isActive  ? 'step-set:actived' : 'step-set:disabled' }}"></mat-icon>
        </a>
      </nav>
    </div>  
  </div>  
  
</main>


<br><br>
<app-loan-footer></app-loan-footer>