<!-- AUTH header xs-->
<mat-sidenav class="auth-header-sidenav" #sidenav fixedInViewport>
    <ul class="auth-xs-header__list">
      <li class="auth-xs-header__list-item" routerLink="/auth" fragment="start" (click)="_goToPosition('start',true); sidenav.toggle()">Inicio</li>
      <li class="auth-xs-header__list-item" routerLink="/auth" fragment="howworks" (click)="_goToPosition('howworks',true); sidenav.toggle()">¿Cómo funcionamos? </li>
      <li class="auth-xs-header__list-item" routerLink="/auth" fragment="aboutus" (click)="_goToPosition('aboutus',true); sidenav.toggle()">¿Quiénes somos?</li>
      <li class="auth-xs-header__list-item"><a routerLink="/faqs" target="_blank">Preguntas frecuentes</a></li>
      <li class="auth-xs-header__list-item"><a routerLink="/empresas">Empresas</a></li>
      <li class="auth-xs-header__list-item" routerLink="/auth" fragment="contact" (click)="_goToPosition('contact',true); sidenav.toggle()">
        Contáctanos
        <div class="flex__align-items-center">
            <img class="auth-header__phone" src="maria-en-lapiz.svg" alt="">
            <p class="m-0">3334065657</p>
        </div>
      </li>
    </ul>
</mat-sidenav>




<!--auth header -->
<header class="auth-header">
  <div class="auth-header__wrapper flex">
    

    <!-- top logo -->
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__logo"></figure>
    </a>

    <!-- top logo icon -->
    <a class="h-100 cursor-pointer" routerLink="/auth" fragment="start" (click)="_goToPosition('start',false)">
      <figure class="auth-header__icon"></figure>
    </a>


    <!-- header menu -->
    <div class="auth-header__list">
      <nav mat-tab-nav-bar color="accent" style="border-bottom: none;">
        <!--<a mat-tab-link routerLink="/auth" *ngFor="let link of links"
           (click)="activeLink = link" (click)="tabClick(link)"
           [active]="activeLink == link"> {{link}} </a>-->
        <a mat-tab-link routerLink="/auth" fragment="start" (click)="scrollTo(0,0);closeBack()">
          Inicio
        </a>
        <a mat-tab-link routerLink="/auth" fragment="howworks" (click)="_goToPosition('howworks',true);">
          ¿Cómo funciona?
        </a>
        <a mat-tab-link routerLink="/empresas"> Empresas </a>
        <p>|</p>
        <a mat-tab-link routerLink="/faqs"> Ayuda </a>
      </nav>
    </div>

     <!--<mat-tab-group animationDuration="0ms" color="accent" (selectedTabChange)="tabClick($event)">
        <mat-tab label="Inicio"></mat-tab>
        <mat-tab label="¿Cómo funcionamos?"></mat-tab>
        <mat-tab label="Empresas"></mat-tab>
        <mat-tab label="Ayuda"></mat-tab>
      </mat-tab-group>-->

    <p class="auth-header__message">Conéctate con tu empresa</p>


    <!-- log in button -->
    <button class="auth-header__button new-primary-button"
          mat-flat-button
          routerLink="/login"
          (click)="scrollTo(0,0);closeBack()">
    Inicia sesión
    </button>

    <a>&nbsp;</a>

    <!-- register button -->
    <button class="auth-header__button new-alternate-button"
          mat-flat-button
          routerLink="/auth"
          (click)="scrollTo(0,0);closeBack()">
    Regístrate
    </button>

    <div style="position: relative;">
      <button style="right: 1px;" mat-icon-button class="auth-header__xs-button-menu-open" aria-label="Responsive button to open menu" (click)="sidenav.toggle();sidenavOnClick()">
        <mat-icon svgIcon="app-menu"></mat-icon>
      </button>
    </div>

  </div>
</header>
