/**
 * GLOBAL BODY ELEMENT
 */

// body settings
$body-base-font-size:    16px;
 
$body-base-color:        $dark-text;

$body-base-font-weight:  normal;
$body-base-line-height:  1.25;
$body-family-font:   'Red Hat Display', sans-serif;;
$body-background-color:  $color-white;
$main-inner-wrapper-spacing: 22px;