/**
 * GLOBAL BREAKPOINTS
 */
 $xl-two-breakpoint: 1920px;
 $xl-breakpoint: 1660px;
 $lg-breakpoint: 1360px;
 $md-second-two-breakpoint: 1184px;
 $md-second-breakpoint: 1280px;
 
 $md-breakpoint: 1030px;
 $sm-second-two-breakpoint: 960px;
 $sm-breakpoint: 768px;
 $xs-breakpoint: 480px;
