/*
 * GLOBAL COLOR SETTINGS
 * color setting for all components
 */

// imported functions
@import "../tools/all";

/* no semantic colors
 ******************************************************************************/
$cod-gray:    #1E1E1E;
$cloud-burst: #202945;
$mine-shaft:  #333333;
$mischka:     #E5E1E6;
$gallery:     #EDEDED;
$dodger-blue: #1C7BFF;
$emerald:     #4FD774;
$turbo:       #E4DF00;

/* brand colors
 ******************************************************************************/
$color-brand-primary:       getMapValue($ixhua-blue-palette, 500);
$color-brand-accent:        getMapValue($ixhua-green-palette, 500);
$color-brand-warn:          getMapValue($ixhua-red-palette, 500);

/* custom colors
******************************************************************************/
$color-lighter-black:       $cod-gray;
$dark-text:         $cloud-burst;
$dark-b-text:       $mine-shaft;
$color-white:       #fff;
$color-black:       #000;
$color-light-gray:  $mischka;
$color-lighter-gray:$gallery;
$success:           $emerald;
$color-blue:        $dodger-blue;
