/*
 * COLOR PALETTES
 * brand color palletes used for the angular material theme
 */


/* palettes
 ******************************************************************************/
$primary-color-palette: ( 
    50 : #e4e5e7,
    100 : #bcbec4,
    200 : #8f939c,
    300 : #626874,
    400 : #404757,
    500 : #1e2739,
    600 : #1a2333,
    700 : #161d2c,
    800 : #121724,
    900 : #0a0e17,
    A100 : #597eff,
    A200 : #2656ff,
    A400 : #0036f2,
    A700 : #0030d9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
); 

$accent-color-palette: (
    50 : #fbfbe0,
    100 : #f6f5b3,
    200 : #f0ef80,
    300 : #e9e94d,
    400 : #e5e426,
    500 : #e0df00,
    600 : #dcdb00,
    700 : #d8d700,
    800 : #d3d200,
    900 : #cbca00,
    A100 : #fffff3,
    A200 : #ffffc0,
    A400 : #fffe8d,
    A700 : #fffe74,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn-color-palette: (
  50 : #ffe0e4,
  100 : #ffb3bc,
  200 : #ff808f,
  300 : #ff4d62,
  400 : #ff2641, 
  500 : #ff001f, // main color
  600 : #ff001b,
  700 : #ff0017,
  800 : #ff0012,
  900 : #ff000a,
  A100 : #ffffff,
  A200 : #fff2f2,
  A400 : #ffbfc0,
  A700 : #ffa6a7,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

/*
 * IXHUA COLORS NEW PALETTE
 */

$ixhua-blue-palette: ( 
    50 : #e4e5e7,
    100 : #CFE1FC,
    200 : #A0C1FA,
    300 : #6E9BF0,
    400 : #4979E1,
    500 : #154ACE,
    600 : #0F38B1,
    700 : #0A2994,
    800 : #061D77,
    900 : #041362,
    A100 : #597eff,
    A200 : #2656ff,
    A400 : #0036f2,
    A700 : #0030d9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$ixhua-green-palette: (
    50 : #fbfbe0,
    100 : #CFFCDC,
    200 : #A0FAC3,
    300 : #6EF0AE,
    400 : #49E2A3,
    500 : #15CF95,
    600 : #0FB28F,
    700 : #0A9585,
    800 : #067876,
    900 : #045B63,
    A100 : #fffff3,
    A200 : #ffffc0,
    A400 : #fffe8d,
    A700 : #fffe74,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
); 

$ixhua-gray-palette: (
  50 : #FFFFFF,
  100 : #FDFCFD,
  200 : #FCFAFC,
  300 : #F7F4F7,
  400 : #EFECF0, 
  500 : #E5E1E6, // main color
  600 : #BCA4C5,
  700 : #9371A5,
  800 : #6B4785,
  900 : #4C2B6E,
  A100 : #ffffff,
  A200 : #fff2f2,
  A400 : #ffbfc0,
  A700 : #ffa6a7,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$ixhua-red-palette: (
  50 : #ffe0e4,
  100 : #ffb3bc,
  200 : #ff808f,
  300 : #ff4d62,
  400 : #ff2641, 
  500 : #EB5757,
  600 : #ff001b,
  700 : #ff0017,
  800 : #ff0012,
  900 : #ff000a,
  A100 : #ffffff,
  A200 : #fff2f2,
  A400 : #ffbfc0,
  A700 : #ffa6a7,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


