/**
 * Typography settings
 */
 $style-name: 'Intro';
 $family: 'Intro';
 $types-list: 'Black','Bold','Book','Regular';

 $file: '/assets/fonts/';

 @each $current-type in $types-list {
    @include font-face($family, $file, $current-type, "");
 }
