/**
 * MAT-FORM-FIELD
 */

.mat-form-field.inner-control-full-width .mat-form-field-infix {
  width: 100%;
}

.mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0,0,0,0.18);
}

.mat-select-disabled .mat-select-value,
.mat-input-element:disabled, 
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: $dark-text;
}

.mat-form-field-disabled:hover {
  cursor: not-allowed;
}