
@mixin font-face($family, $file, $type, $category:"") {
  $filepath: $file + #{$family}/#{$family}-#{$type};
  
	@font-face {
		font-family: "#{$family} #{$type}";
    src: url($filepath + ".otf");
    src: url($filepath + '.eot') format('embedded-opentype'),
         url($filepath + '.woff2') format('woff2'),
         url($filepath + '.woff') format('woff');
	}
	%#{$family}-#{$type} {
    font: {
      /*@if $category != "" {
          font-family: "#{$style-name}", #{$category};
      }*/
      //@else {
      font-family: "#{$family}-#{$type}";
      font-weight: normal;
    }
  }
  .ff-#{$family}-#{$type} {
    font-family: "#{$family} #{$type}";
  }
}