/*
 * SPACING UTILITIES
 */


// important boolean
$spacing-options-important: true;

// margin spacing options
$margin-spacing-options: (
  variants: (
    default:  "",
    x:        "x",
    y:        "y",
    left:     "l",
    right:    "r",
    top:      "t",
    bottom:   "b"
  ),
  sizes: (
    auto: "auto",
    0: 0,
    1: .5,
    2: 1,
    3: 1.5,
    4: 2,
    5: 2.5,
    6: 4
  )
);

// padding spacing options
$padding-spacing-options: (
  variants: (
    default:  "",
    x:        "x",
    y:        "y",
    left:     "l",
    right:    "r",
    top:      "t",
    bottom:   "b"
  ),
  sizes: (
    0: 0,
    1: .5,
    2: 1,
    3: 1.5,
    4: 2,
    5: 2.5
  )
);

// spacing pattern
@include spacing("margin", $margin-spacing-options);
@include spacing("padding", $padding-spacing-options);

.p-0 { padding: 0 };
.m-0 { margin: 0 };

.mt-13px { margin-top: 13px; }
.mt-30px { margin-top: 30px; }
.mt-54px { margin-top: 54px; }

.mb-11px { margin-bottom: 11px !important; }
.mb-30px { margin-bottom: 30px; }