/*
 * SIZES UTILITIES
 */

 .w-100 { width: 100%!important;}
 .w-417px { width: 417px; }

 .mw-360px { max-width: 360px; }
 .mw-530px { max-width: 530px; }
 .mw-774px { max-width: 774px; }
 .mw-425px { max-width: 425px; }
 .mw-900px { max-width: 900px; }
 
 .minw-190px { min-width: 190px!important; }

 .h-100 { height: 100%;}