/*
 * TEXT UTILITIES
*/


.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-uppercase { text-transform: uppercase; }
.text-underline { text-decoration: underline; }
.text-italic { font-style: italic; }

.fc-primary { color: $color-brand-primary; }
.fc-accent { color: $color-brand-accent; }
.fc-warn { color: $color-brand-warn; }
.fc-blue { color: $color-blue; }
.fc-turbo { color: $turbo; }
.fc-success { color: $success; }
.fc-tomato { color: 'tomato'; }
.fc-dark { color: $dark-text; }
.fc-dark-opacity-03 { color: rgba($dark-text, .3); }

.fw-300 { font-weight: 300; }
.fw-normal { font-weight: normal !important; font-family: "Intro Regular"; }
.fw-book { font-weight: normal !important; font-family: "Intro Book"; }

.fs-9px  { font-size: 9px; }
.fs-10px { font-size: 10px; }
.fs-12px { font-size: 12px; }
.fs-14px { font-size: 14px; }
.fs-15px { font-size: 15px; }
.fs-24px { font-size: 24px; }
.fs-28px { font-size: 28px; }
.fs-30px { font-size: 30px; }
.fs-45px { font-size: 45px; }
.fs-52px { font-size: 52px; }
.fs-70px { font-size: 70px; }


// truncate text helper
.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
