/*
 * USEFULL FLEXBOX HELPERS
 */



 .flex,
 [class*="flex-"],
 [class*="flex__"] {
   display: flex;
 }
 
 [class*="flex-"],
 .flex-1 {
   flex: 1 1 100%;
 }
 
 .flex {
   &__row {
     flex-direction: row;
   }
 
   &__column {
     flex-direction: column;
   }
 
   &__align-items-center {
     align-items: center;
   }
 
   &__align-items-start {
     align-items: flex-start;
   }
 
   &__align-items-end {
     align-items: flex-end;
   }
 
   &__justify-content-end {
     justify-content: flex-end;
   }
 
   &__justify-content-space-between {
     justify-content: space-between;
   }
 
   &__completely-centered {
     align-items: center;
     justify-content: center;
   }
 
   &__wrap {
     flex-wrap: wrap;
   }
 
 
   // width helpers
   &-100 {
     flex: 1;
   }
   &-80 {
     max-width: 80%;
   }
   &-70 {
     max-width: 70%;
   }
   &-66 {
     max-width: 66.66%;
   }
   &-63 {
     max-width: 63%;
   }
   &-60 {
     max-width: 60%;
   }
   &-50 {
     max-width: 50%;
   }
   &-40 {
     max-width: 40%;
   }
   &-37 {
     max-width: 37%;
   }
   &-33 {
     max-width: 33.33%;
   }
   &-30 {
     max-width: 30%;
   }
   &-25 {
     max-width: 25%;
   }
   &-20 {
     max-width: 20%;
   }
   &-15 {
     max-width: 15%;
   }
   &-10 {
     max-width: 10%;
   }
 }
 