<section class="flex__column about-us-section">
	<div class="grid-row" style="text-align: center;">
		<div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
			<img width="252px" src="/assets/img/features/somos-una-plataforma-tecnologica.svg" alt="¿En qué podemos ayudarte?" height="95px">
		</div>

		<div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
			<p class="about-us-section-bold-text">
				Somos una plataforma tecnológica con el <br>
				propósito de <span style="color:#154ACE">conectar </span> a los empleados con las <br>
				empresas donde trabajan y de esta manera <br>
				generar <span style="color:#154ACE">beneficios</span> para ambos. <br>
			</p>
		</div>

		<div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
			
			<button routerLink="/auth" fragment="howworks" (click)="_goToPosition('howworks',true); sidenav.toggle()" class="new-alternate-button" mat-flat-button> Soy empleado </button>
			<a>&nbsp;</a> <a>&nbsp;</a>
			<button routerLink="/empresas" class="new-alternate-button" mat-flat-button> Soy una empresa </button>
			
		</div>

	</div>

</section>