<div class="first-login" mat-dialog-content>
  <button mat-button class="firs-login__close" matDialogClose>
    <mat-icon svgIcon="app-close"></mat-icon>
  </button>

  <!--<div class="first-login__img"></div>-->

 	<div>
 		<h2 class="first-login__title text-center">Tu cuenta ha sido activada</h2>
    	<p class="first-login__message text-center mb-0">Selecciona el monto a solicitar y llena tu solicitud.</p>
 	</div>
    
  
</div>
